<template>
  <hero-bar>
    <div>
      Analisa Leads
    </div>
    <template #right>

    </template> 
  </hero-bar>

  <main-section>
    <div class="mb-5">
       <p>1. Analisa berdasarkan </p>
       <div class="lg:w-48 mt-3">
           <Multiselect    v-if="leads.length" placeholder="pilih kolom" v-model="selected_header"
        :options="list_headers" />
       </div>
    
    </div>
     <div class="mb-5">
       <p>2. Filter Hasil </p>
       <div class=" ">
         <div class="w-full lg:w-48 mt-3">
           <Multiselect   v-if="leads.length" placeholder="no filter" v-model="selected_filter"
        :options="list_headers" />
       </div>
         <div class=" lg:w-48 mt-3">
            <input class="w-full rounded px-3 border-grey-300 border border-2 py-2" placeholder="Text Filter" type="text" v-model="filter_text"  >
       </div> 
       </div>
    
    </div>
     <div class="mb-5">
       <p>3. Proses </p>
       <div class="mt-3">
         <button class="bg-green-500 py-2 px-6 text-white" @click="renderTable()">Proses</button>
       </div>
    
    </div>
 

    <div id="analyze-table"></div>

    <div v-if="!data_loaded">
      <div class=" flex justify-center items-center">
  <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-purple-500"></div>
</div>
    </div>

    <card-component id="no-leads" v-if="leads.length == 0 && data_loaded">
      <p class="text-center my-10"> Belum Ada Leads</p>
    </card-component>
    <card-component id="no-leads" v-if="leads.length && selected_header == '' && data_loaded">
      <p class="text-center my-10"> Pilih Kolom untuk dianalisa</p>
    </card-component>
  </main-section>
</template>
<style src="@vueform/multiselect/themes/default.css"></style>
<script>
  import {
    ref
  } from 'vue'
  import MainSection from '@/components/MainSection'

  import TitleBar from '@/components/TitleBar'
  import HeroBar from '@/components/HeroBar'
  import axios from 'axios'
  import dayjs from 'dayjs'
  import DB from '@/components/IndexDBHandler'
  import CardComponent from '@/components/CardComponent'
  import Select from '@/components/Select'
  import {
    Grid,
    html,
    h,
    PluginPosition
  } from "gridjs";
  import Multiselect from '@vueform/multiselect'
  import {
    convertArrayToCSV
  } from 'convert-array-to-csv';
  export default {
    name: 'Tables',
    components: {
      MainSection,
      CardComponent,
      HeroBar,
      TitleBar,
      Multiselect
    },
    setup() {



      return {

      }
    },
    unmounted() {
      DB.destroyEvent("data-loaded")
    },
    data: () => ({
      selected_filter : '',
      leads: [],
      form: {},
      data_loaded : false,
      filter_text : '',
      allData: {},
      selected_header: '',
      list_headers: ['point', 'status']
    }),
    computed: {
      collectionName() {
        return "Leads-" + this.$route.params.id;
      }
    },
    mounted() {

      if(document.querySelector('#analyze-table').innerHTML)
      document.querySelector('#analyze-table').innerHTML = ''


      axios.get('/api/forms/' + this.$route.params.id).then(response => {
        this.form = (response.data);
        this.form.list_field.forEach(item => {
          if (item.header == 'single') {
            this.list_headers.push(item.name)
          } else if (item.header == 'special') {
            if (item.type === 'kecamatan') {
              this.list_headers = this.list_headers.concat(["province", "city", "subdistrict_name"])
            }
          }
        })

          if (DB.boot) {
          DB.get(this.collectionName);
          

        } else {
          DB.on("init", () => {
            DB.get(this.collectionName)
          })
        }


        



      }, error => {
        this.$router.push("/not-authorize")
      })




     
        DB.on("data-loaded", (data) => {

          if (data.collection == this.collectionName) {
            this.data_loaded = true;
            if (data.data.length) {
              this.leads = data.data; 

            }

            // this.syncDataOnline(); 
          }
        })

        DB.on("collection-created", (data) => {
          if (data.collection == this.collectionName) {

          }
        })





    },
    methods: {

       renderTable() {

         const header = this.selected_header; 
  
        let leads = this.leads.filter(item=>{
          if(this.selected_filter && this.filter_text)
          { 
              return item.all_columns[this.selected_filter] == this.filter_text;
          }else{
            return item;
          }
        }); 
 

        // 
         

        let data = {};
        for (let i=0;i<leads.length;i++)
        {
          let item = leads[i];

           
          if(header == 'city')
            {
              item.all_columns.city_full = item.all_columns.city_type+' '+item.all_columns.city 

              if(data[item.all_columns.city_full])
              {
                data[item.all_columns.city_full]++;
              } else{
                data[item.all_columns.city_full] = 1;
              }
            }else{

               if (data[item.all_columns[header]]) {
            data[item.all_columns[header]]++;
          } else {
            data[item.all_columns[header]] = 1;
          }

            }
        }
      
       
        let result = Object.keys(data).map(key => {
          return {
            name: key,
            count: data[key]
          }
        })
        result.push({
          name: 'TOTAL',
          count: leads.length
        })
        
        var opt = {
          columns: [{
            id: "name",
            name: header.toUpperCase(),
            formatter: (cell, row) => {
          return h('button', {
            className: 'py-2 mb-4 px-4 border rounded-md  ',
            onClick: () => {this.filter_text = cell;this.selected_filter = header}
          }, cell);
        }
          }, {
            id: "count",
            name: "JUMLAH"
          }],
          data: result,
          resizable: true,

          sort: true,
        }
        if(this.gd)
        {
            this.gd.updateConfig(opt).forceRender();
        }else{
            this.gd = new Grid(opt).render(document.getElementById("analyze-table"));
        }


      }
    }
  }

</script>
