<template>
  <hero-bar>
    Form Wizard
    <h2 class="text-lg font-light text-gray-900">Pilih form sesuai kebutuhan anda</h2>

  </hero-bar>

  <main-section>
    <div class="bg-white">
      <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">

        <div class="mt-6 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
          <div v-for="(item,index) in prebuilt" :key="item" class="relative group" @click="pickForm(item)">
            <div class="aspect-w-4 aspect-h-3 rounded-lg overflow-hidden bg-gray-100">
              <img :src="`https://cdn.jsdelivr.net/npm/dripform/public/forms/${images[index]}`"
                alt="Payment application dashboard screenshot with transaction table, financial highlights, and main clients on colorful purple background."
                class="object-center object-cover">
              <div class="flex items-end  p-4 " aria-hidden="true">
                <div
                  class="w-full bg-white bg-opacity-75 backdrop-filter backdrop-blur py-2 px-4 rounded-md text-sm font-medium text-gray-900 text-center">
                  Buat Form
                </div>
              </div>
            </div>
            <div class="mt-4 flex items-center justify-between text-base font-medium text-gray-900 space-x-8">
              <h3>
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Form {{item}}
                </a>
              </h3>
            </div>
          </div>

          <!-- More products... -->
        </div>
      </div>
    </div>
  </main-section>
</template>

<script>
  import {
    reactive,
    ref
  } from 'vue'
  import {
    mdiMonitorCellphone,
    mdiAccountMultiple,
    mdiTableBorder,
    mdiTableOff
  } from '@mdi/js'
  import MainSection from '@/components/MainSection'
  import Notification from '@/components/Notification'
  import ClientsTable from '@/components/ClientsTable'
  import CardComponent from '@/components/CardComponent'
  import TitleBar from '@/components/TitleBar'
  import HeroBar from '@/components/HeroBar'
  import FormBuilder from '@/components/Forms/FormBuilder'
  import axios from 'axios'
  import {
    useStore
  } from 'vuex'

  export default {
    name: 'Tables',
    components: {
      MainSection,
      HeroBar,
      TitleBar,
      FormBuilder,
      CardComponent,
      ClientsTable,
      Notification
    },
    setup() {
      const titleStack = ref(['Admin', 'Tables'])
 
      let domain = ref('');


      axios.get('/api/main-domain').then(response => {
        if (response.data) {
          domain.value = response.data;
        }
      })



      return {
        domain,
        form: ref({}),
        prebuilt: ["Optin", "Absen", "Orderan (Toko Online)", "Acara", "Giveaway", "Donasi"],
        images: ["optin.jpg", "absen.jpg", "orderan.jpg", "acara.jpg", "giveaway.jpg", "donasi.jpg"],
        titleStack,
        mdiMonitorCellphone,
        mdiAccountMultiple,
        mdiTableBorder,
        mdiTableOff
      }
    },
    methods: {
      pickForm(type) {



        if (type == "Optin") {

          this.form = { 
            title: 'Form Optin',
            header: ['name', 'phone'],
            list_header: ['name', 'phone'],
            socmed_title: 'Title ketika Share',
            socmed_description: 'deskripsi postingan',
            color_schema: 'indigo-600', 
            trx_status: ['submit'],
            payment_methods: [],
            response_fields: [{
              content: '<h1>Terima Kasih [name]</h1>',
              type: 'text'
            }],
            list_field: [{
              content: '<h1>Judul Form</h1>',
              type: 'text'
            }, {
              type: 'name',
              label: 'Nama',
              required: true,
              header: 'single',
              placeholder: 'Masukan Nama Kamu',
              name: 'name'
            }, {
              type: 'phone',
              label: 'No.WA',
              required: true,
              header: 'single',
              placeholder: '81351999999',
              "cast_phone_number" : "+62",
              name: 'phone'
            }, {
              type: 'submit',
              size: 'Besar',
              position: 'kanan',
              text: 'Kirim Form',
              icon: 'arrow-circle-right',
              color: 'indigo-600',
              background: ''
            }]
          }
        }

        if (type == "Absen") {

          this.form =  { 
    "title": "Form Absen",
    "slug": "bf3sod",
    "domain": "localhost:4444",
    "complete_url": "localhost:4444/bf3sod",
    "lead_point": 20,
    "lead_number": 0,
    "hit_counter": 1,
    "leaderboard_limit": 50,
    "is_ecommerce": false,
    "user_id": "4f7d81d7-7250-41b4-b4f0-335c25d9497e",
    "socmed_title": "Title ketika Share",
    "socmed_description": "deskripsi postingan",
    "socmed_thumbnail": null,
    "active_session": null,
    "unique_identifier": null,
    "color_schema": "indigo-600",
    "response_fields": [
        {
            "content": "<h1>Selamat, absen diterima.</h1>",
            "type": "text"
        }
    ],
    "trx_status": [
        "submit"
    ],
    "header": [
        "name",
        "phone"
    ],
    "list_field": [
        {
            "content": "<h1>ABSEN UJIAN SEKOLAH</h1>",
            "type": "text"
        },
        {
            "type": "name",
            "label": "Nama",
            "required": true,
            "header": "single",
            "placeholder": "Masukan Nama Kamu",
            "name": "name"
        },
        {
            "type": "tanda tangan",
            "name": "signature",
            "required": true,
            "header": "special",
            "placeholder": "Jawaban Singkat",
            "label": "tanda tangan",
            "choices": [
                "Pilihan 1"
            ]
        },
        {
            "type": "submit",
            "size": "Besar",
            "position": "kanan",
            "text": "Kirim Form",
            "icon": "arrow-circle-right",
            "color": "indigo-600",
            "background": ""
        }
    ],
    "body_script": '',
    "head_script": ''
}
        }

        if(type == "Orderan (Toko Online)")
        {
          this.form = { 
    "title": "Form Orderan",
    "slug": "rl5r6",
    "domain": "localhost:4444",
    "complete_url": "localhost:4444/rl5r6",
    "lead_point": 20,
    "lead_number": 1,
    "hit_counter": 5,
    "leaderboard_limit": 50,
    "is_ecommerce": true,
    "user_id": "4f7d81d7-7250-41b4-b4f0-335c25d9497e",
    "socmed_title": "Title ketika Share",
    "socmed_description": "deskripsi postingan",
    "socmed_thumbnail": null,
    "active_session": null,
    "unique_identifier": null,
    "color_schema": "indigo-600",
    "response_fields": [
        {
            "content": "<h1>Selamat, Produk berhasil diorder.</h1><p><br></p><p>INVOICE ID : <strong>[id]</strong></p><p><br></p><p>Nama :<strong> [name]</strong></p><p><br></p><p>Telpon : <strong>[phone]</strong></p><p><br></p><p>Alamat Pengiriman : </p><p><strong>[alamat]</strong></p><p><strong>Kecamatan [subdistrict_name]</strong></p><p><strong>[city_type] [city]</strong></p><p><strong>[province]</strong></p><p><br></p><p>silakan selesaikan pembayaran dengan mengikuti cara di bawah ini</p>",
            "type": "text"
        },
        {
            "type": "metode pembayaran",
            "list_payment": [
                {
                    "gateway": "bank",
                    "bank_name": "BCA",
                    "bank_account": "00000000000",
                    "accout_name": "ABDULLAH",
                    "unique_code_modifier": "up",
                    "tripay_channel": "QRISC",
                    "call_to_action": "Bayar via BCA"
                }
            ]
        },
        {
            "type": "text",
            "content": "<p>berikut rincian pembelian anda</p>"
        },
        {
            "type": "rincian pembelian"
        }
    ],
    "trx_status": [
        "dipesan",
        "dibayar",
        "diproses",
        "dikirim",
        "selesai"
    ],
    "header": [
        "name",
        "phone"
    ],
    "list_field": [
        {
            "content": "<h1>Judul Form</h1>",
            "type": "text"
        },
        {
            "type": "name",
            "label": "Nama",
            "required": true,
            "header": "single",
            "placeholder": "Masukan Nama Kamu",
            "name": "name"
        },
        {
            "type": "phone",
            "label": "No.WA",
            "required": true,
            "header": "single",
            "placeholder": "81351999999",
            "cast_phone_number" : "+62",
            "name": "phone"
        },
        {
            "type": "kecamatan",
            "name": "kecamatan",
            "required": true,
            "header": "special",
            "placeholder": "Masukan Nama Kecamatan",
            "label": "kecamatan",
            "choices": [
                "Pilihan 1"
            ]
        },
        {
            "type": "alamat",
            "name": "alamat",
            "required": true,
            "header": "single",
            "placeholder": "Masukan Alamat Lengkap",
            "label": "alamat",
            "choices": [
                "Pilihan 1"
            ]
        },
        {
            "type": "produk",
            "name": "produk",
            "required": true,
            "header": "special",
            "placeholder": "Jawaban Singkat",
            "label": "produk",
            "choices": [
                "Pilihan 1"
            ],
            "title": "Daftar Produk",
            "products": [
                {
                    "price": "80000",
                    "weight": 100,
                    "thumbnail": "https://tailwindui.com/img/ecommerce-images/checkout-page-03-product-04.jpg",
                    "title": "GREEN TSHIRT",
                    "description": "jadi keren ala green t-shirt",
                    "call_to_action": "PILIH PRODUK"
                }
            ]
        },
        {
            "type": "ongkos kirim",
            "name": "ongkos kirim",
            "required": true,
            "header": "special",
            "placeholder": "Jawaban Singkat",
            "label": "ongkos kirim",
            "choices": [
                "Pilihan 1"
            ],
            "title": "Pilih Kurir Pengiriman",
            "province_id": "11",
            "city_id": "444",
            "courier_id": "",
            "opsi": "ongkir indonesia",
            "flat_price": 0,
            "list_couriers": [
                "jne",
                "tiki",
                "pos"
            ]
        },
        {
            "type": "rincian pembelian",
            "name": "rincian pembelian",
            "required": true,
            "header": "special",
            "placeholder": "Jawaban Singkat",
            "label": "rincian pembelian",
            "choices": [
                "Pilihan 1"
            ],
            "title": "Rincian Pembelian"
        },
        {
            "type": "submit",
            "size": "Besar",
            "position": "kanan",
            "text": "Beli Sekarang",
            "icon": "shopping-cart",
            "color": "indigo-600",
            "background": ""
        }
    ],
    "body_script": '',
    "head_script": '', 
}
        }

        if(type == "Acara")
        {
          this.form = { 
    "title": "Form Acara",
    "slug": "v4u525",
    "domain": "localhost:4444",
    "complete_url": "localhost:4444/v4u525",
    "lead_point": 20,
    "lead_number": 0,
    "hit_counter": 4,
    "leaderboard_limit": 50,
    "is_ecommerce": false,
    "user_id": "4f7d81d7-7250-41b4-b4f0-335c25d9497e",
    "socmed_title": "Title ketika Share",
    "socmed_description": "deskripsi postingan",
    "socmed_thumbnail": null,
    "active_session": true,
    "unique_identifier": "phone",
    "color_schema": "indigo-600",
    "response_fields": [
        {
            "content": "<h1>Terima Kasih [name]</h1><p><br></p><p>yuk share acara ini ke teman dan keluarga</p><p><br></p><p><br></p>",
            "type": "text"
        },
        {
            "type": "share",
            "share_to": "facebook",
            "share_cta": "Share ke Facebook",
            "point": 10,
            "action_id": "tt2zb8etdna",
            "action_cooldown": 1,
            "text_share": "yuk isi form berikut : [url]"
        },
        {
            "type": "share",
            "share_to": "twitter",
            "share_cta": "Share ke Twitter",
            "point": 10,
            "action_id": "jmobvchmdn",
            "action_cooldown": 1,
            "text_share": "ikuti acara seminar digital marketing via [url]"
        }
    ],
    "trx_status": [
        "submit"
    ],
    "header": [
        "name",
        "phone"
    ],
    "list_field": [
        {
            "content": "<h1>SEMINAR DIGITAL MARKETING</h1><p><br></p><p>Jadilah digital marketer handal dengan mengikuti seminar ini.</p><p><br></p><p><strong style=\"color: rgb(230, 0, 0);\">Senin, 4 Oktober 2020 Jam 16.00 WIB</strong></p><p><br></p><p>Ikuti acaranya dengan mengisi form berikut</p>",
            "type": "text"
        },
        {
            "type": "name",
            "label": "Nama",
            "required": true,
            "header": "single",
            "placeholder": "Masukan Nama Kamu",
            "name": "name"
        },
        {
            "type": "phone",
            "label": "No.WA",
            "required": true,
            "header": "single",
            "placeholder": "81351999999",
            "cast_phone_number" : "+62",
            "name": "phone"
        },
        {
            "type": "email",
            "name": "email",
            "required": true,
            "header": "single",
            "placeholder": "Masukan Email Kamu",
            "label": "email",
            "choices": [
                "Pilihan 1"
            ]
        },
        {
            "type": "kecamatan",
            "name": "kecamatan",
            "required": true,
            "header": "special",
            "placeholder": "Masukan Nama Kecamatan",
            "label": "kecamatan",
            "choices": [
                "Pilihan 1"
            ]
        },
        {
            "type": "countdown",
            "name": "countdown",
            "required": true,
            "header": null,
            "placeholder": "Jawaban Singkat",
            "label": "countdown",
            "choices": [
                "Pilihan 1"
            ],
            "countdown_type": "evergreen",
            "evergreen_time": 120,
            "countdown_id": "tqelo6bx1xf",
            "fixed_time": "2021-10-06T16:50"
        },
        {
            "type": "submit",
            "size": "Besar",
            "position": "kanan",
            "text": "DAFTAR SEKARANG",
            "icon": "chevron-double-right",
            "color": "indigo-600",
            "background": ""
        }
    ],
    "body_script": '',
    "head_script": '' 
}
        }

        if(type == 'Giveaway')
        {
          this.form = { 
    "title": "Form Giveaway",
    "slug": "bxcaaf",
    "domain": "localhost:4444",
    "complete_url": "localhost:4444/bxcaaf",
    "lead_point": 20,
    "lead_number": 0,
    "hit_counter": 4,
    "leaderboard_limit": 50,
    "is_ecommerce": false,
    "user_id": "4f7d81d7-7250-41b4-b4f0-335c25d9497e",
    "socmed_title": "Title ketika Share",
    "socmed_description": "deskripsi postingan",
    "socmed_thumbnail": null,
    "active_session": true,
    "unique_identifier": "phone",
    "color_schema": "indigo-600",
    "response_fields": [
        {
            "content": "<h1>Terima Kasih [name]</h1><p><br></p><p>tingkatkan terus point kamu dengan share ke berbagai social media kamu.</p><p><br></p><p>saat ini point kamu adalah</p><p><br></p><h1><span style=\"color: rgb(230, 0, 0);\">[point]</span></h1><p><br></p>",
            "type": "text"
        },
        {
            "type": "share",
            "share_to": "facebook",
            "share_cta": "Share ke Facebook",
            "point": 10,
            "action_id": "7qb1cgk9mg6",
            "action_cooldown": 1,
            "text_share": "yuk isi form berikut : [url]"
        },
        {
            "type": "leaderboard",
            "show_number": 50
        }
    ],
    "trx_status": [
        "submit",
        "menang"
    ],
    "header": [
        "name",
        "phone"
    ],
    "list_field": [
        {
            "content": "<h1 class=\"ql-align-center\">GIVEAWAY IPHONE</h1><p><br></p><p><img src=\"https://akcdn.detik.net.id/visual/2021/09/15/infografis-sudah-rilis-ini-spek-hingga-harga-terbaru-dari-generasi-iphone-13aristya-rahadian_169.png?w=715&amp;q=90\" alt=\"Infografis/ Sudah Rilis! Ini Spek hingga Harga terbaru dari Generasi Iphone 13/Aristya Rahadian\"></p><p><br></p><p>hanya untuk 5 orang pemenang, ikuti giveawaynya dengan mengisi form berikut : </p>",
            "type": "text"
        },
        {
            "type": "name",
            "label": "Nama",
            "required": true,
            "header": "single",
            "placeholder": "Masukan Nama Kamu",
            "name": "name"
        },
        {
            "type": "phone",
            "label": "No.WA",
            "required": true,
            "header": "single",
            "placeholder": "81351999999",
            "cast_phone_number" : "+62",
            "name": "phone"
        },
        {
            "type": "submit",
            "size": "Besar",
            "position": "kanan",
            "text": "Kirim Form",
            "icon": "arrow-circle-right",
            "color": "indigo-600",
            "background": ""
        }
    ],
    "body_script": '',
    "head_script": ''
}
        }

        if(type == 'Donasi')
        {
          this.form = {
    "id": "3b3b031f-7d68-4876-b31d-82eaf61a24c6",
    "title": "Form Donasi",
    "slug": "mjvtw",
    "domain": "localhost:4444",
    "complete_url": "localhost:4444/mjvtw",
    "lead_point": 20,
    "lead_number": 1,
    "hit_counter": 0,
    "leaderboard_limit": 50,
    "is_ecommerce": false,
    "user_id": "4f7d81d7-7250-41b4-b4f0-335c25d9497e",
    "socmed_title": "Title ketika Share",
    "socmed_description": "deskripsi postingan",
    "socmed_thumbnail": null,
    "active_session": null,
    "unique_identifier": null,
    "color_schema": "indigo-600",
    "response_fields": [
        {
            "content": "<h1>Terima Kasih [name]</h1><p><br></p><p>donasi anda sangat bermanfaat untuk kami.</p><p><br></p><p>Nama : <strong>[name]</strong></p><p>Total Donasi : <strong>Rp.[donasi]</strong></p>",
            "type": "text"
        },
        {
            "type": "metode pembayaran",
            "list_payment": [
                {
                    "gateway": "bank",
                    "bank_name": "BCA",
                    "bank_account": "00000000",
                    "accout_name": "Abdullah",
                    "unique_code_modifier": "up",
                    "tripay_channel": "QRISC",
                    "call_to_action": "Bayar via BCA"
                }
            ]
        }
    ],
    "trx_status": [
        "dipesan",
        "dibayar"
    ],
    "header": [
        "name",
        "phone"
    ],
    "list_field": [
        {
            "content": "<h1>DONASI UNTUK KAMI</h1>",
            "type": "text"
        },
        {
            "type": "name",
            "label": "Nama",
            "required": true,
            "header": "single",
            "placeholder": "Masukan Nama Kamu",
            "name": "name"
        },
        {
            "type": "phone",
            "label": "No.WA",
            "required": true,
            "header": "single",
            "placeholder": "81351999999",
            "cast_phone_number" : "+62",
            "name": "phone"
        },
        {
            "type": "donasi",
            "name": "donasi",
            "required": true,
            "header": "special",
            "placeholder": "Jumlah Donasi",
            "label": "Jumlah Donasi",
            "choices": [
                "Pilihan 1"
            ],
            "minimum_donasi" : 10000,
            "quick_input_list": [
                10000,
                50000,
                100000,
                250000,
                500000,
                1000000
            ]
        },
        {
            "type": "pesan",
            "name": "pesan",
            "required": true,
            "header": "single",
            "placeholder": "Pesan yang mau disampaikan",
            "label": "pesan",
            "choices": [
                "Pilihan 1"
            ]
        },
        {
            "type": "submit",
            "size": "Besar",
            "position": "kanan",
            "text": "Donasi Sekarang",
            "icon": "arrow-circle-right",
            "color": "indigo-600",
            "background": ""
        }
    ],
    "body_script": '',
    "head_script": ''
}
        }

        this.saveForm();

      },
      saveForm() {

        this.form.slug = Math.random().toString(36).substring(7),
        
        this.form.user_id = this.$store.state.userId;

        this.form.domain = this.domain;
        
        axios.post('/api/forms', this.form).then(response => {
             this.$router.push('/edit-form/' + response.data.id);
        })
      }
    }
  }

</script>
