<template>
  <hero-bar>
    Domain Setting
    <template #right>
      <button @click="openAddDomainModal()" class="button green">
        Tambah Domain
      </button>
      <ModalBox @confirm="saveDomain()" v-model="addDomainModal" title="Buat Domain Baru">
        <div class=" ">
          <label class="mb-3" for="new_domain">Domain</label>
          <input type="text" v-model="new_domain" name="new_domain" id="new_domain"
            :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
            class="block appearance-none w-full py-1  mt-2 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
            placeholder="domain.com">
        </div>
      </ModalBox>
    </template>
  </hero-bar>
  <main-section>
    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Name
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Status
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Redirect to URL
                  </th>
                  <th scope="col" class="relative px-6 py-3">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- Odd row -->
                <tr :key="item.name" class="bg-white" v-for="(item,domainIdx) in domain">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    {{item.name}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">

                    {{item.main_domain ? 'domain utama' : 'domain user'}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                     <div class="flex" v-if="!item.main_domain">
                      
                        <input type="text" @change="saveLandingPage(item)" v-model="item.landing_page" :placeholder="`https://${item.name}/url-form-anda`" class="border-b outline-none focus:outline-none">
          
                     </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">

                    <button @click="deleteDomain(item,domainIdx)" class="button small red" v-if="!item.main_domain"
                      type="button">
                      hapus
                    </button>
                  </td>
                </tr>

                <!-- More people... -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main-section>
</template>

<script>

  import {
    ref,
    reactive
  } from 'vue'
  import {
    mdiBallot,
    mdiBallotOutline,
    mdiAccount,
    mdiMail,
    mdiCheck
  } from '@mdi/js'
  import MainSection from '@/components/MainSection'

  import HeroBar from '@/components/HeroBar'

  import ModalBox from '@/components//ModalBox'
  const {
    toast
  } = require('tailwind-toast')
  export default {
    name: 'Forms',
    components: {

      MainSection,
      HeroBar,
      ModalBox
    },
    setup() {
      const titleStack = ref(['Admin', 'Forms'])
      const domain = ref([])
      axios.get("/api/domain").then(response => {
        if (response.data) {
          domain.value = response.data;
        }
      })

  
      const submit = () => {

        
     
        //

      }



      return {
        titleStack,
        submit,
        domain,
        mdiBallot,
        mdiBallotOutline,
        mdiAccount,
        mdiMail,
        mdiCheck,
        addDomainModal: ref(false),
        new_domain: ref("")
      }
    },
    methods: {
      openAddDomainModal() {
        this.addDomainModal = true;
      },
      saveLandingPage(item)
      {
        axios.post("/api/domain-landing-page/"+item.id,{landing_page : item.landing_page}).then(response=>{

          toast()
.default('Success!', 'Landing Page telah disimpan!')
.with({
  shape: 'pill',
  duration: 4000,
  speed: 1000, 
   color: 'bg-green-600',
  fontColor: 'green',
  fontTone: 200
}).show() 

        },error=>{

                     toast()
.default('Gagal!', error.response.data)
.with({
  shape: 'pill',
  duration: 4000,
  speed: 1000, 
   color: 'bg-red-600',
  fontColor: 'red',
  fontTone: 200
}).show() 

        })
      },
      saveDomain() {
        axios.post("/api/domain", {
          domain: this.new_domain
        }).then(response => {
          this.domain.push(response.data)

                    toast()
.default('Success!', 'Domain telah ditambahkan!')
.with({
  shape: 'pill',
  duration: 4000,
  speed: 1000, 
   color: 'bg-green-600',
  fontColor: 'green',
  fontTone: 200
}).show() 

        })
      },
      deleteDomain(domain, index) {
        this.domain.splice(index, 1)
        axios.delete("/api/domain/" + domain.id);
      }
    }
  }

</script>
