<template>
  <hero-bar>
    <div>
      Edit Leads
    </div>
    <template #right>

    </template>
    <div class="mt-3">

    </div>
  </hero-bar>

  <main-section>
    <div class="bg-white py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-24">
      <div class="relative max-w-xl mx-auto">
        <svg class="absolute left-full transform translate-x-1/2" width="404" height="404" fill="none"
          viewBox="0 0 404 404" aria-hidden="true">
          <defs>
            <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20"
              patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)" />
        </svg>
        <svg class="absolute right-full bottom-0 transform -translate-x-1/2" width="404" height="404" fill="none"
          viewBox="0 0 404 404" aria-hidden="true">
          <defs>
            <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20"
              patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)" />
        </svg>

        <div class="mt-4">
         <router-link :to="`/forms/${$route.params.id}/leads`" class="flex"  ><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
</svg>Kembali ke Daftar Lead</router-link>
          <form @submit.prevent="saveData()" class=" mt-6">
            <!-- {{lead.all_columns}} -->
            <div class="mb-4">
              <label class="block text-md font-semibold text-gray-700 mb-1" for="">Nama</label>
              <input v-model="lead.all_columns.name"
                :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-3 px-4 mb-1   text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                type="text">
            </div>
             <div class="mb-4">
              <label class="block text-md font-semibold text-gray-700 mb-1" for="">Email</label>
              <input v-model="lead.all_columns.email"
                :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-3 px-4 mb-1   text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                type="text">
            </div>
             <div class="mb-4">
              <label class="block text-md font-semibold text-gray-700 mb-1" for="">Phone</label>
              <input v-model="lead.all_columns.phone"
                :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-3 px-4 mb-1   text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                type="text">
            </div>
              <div class="mb-4">
              <label class="block text-md font-semibold text-gray-700 mb-1" for="">Alamat</label>
                <textarea v-model="lead.all_columns.alamat" :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
            class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
            type="text"  ></textarea>
            </div>
            <div class="mb-4">
              <label class="block text-md font-semibold text-gray-700 mb-1" for="">Poin</label>
              <input v-model="lead.point"
                :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-3 px-4 mb-1   text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                type="text">
            </div> 
             <div >
               <div class="mb-4">
 
              <label class="block text-md font-semibold text-gray-700 mb-1" for="">Courier Code</label>
                 <select v-model="lead.all_columns.courier_code"   class=" block   w-full  py-3 px-4 mb-1   text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
                <option v-for="item in ['jne', 'pos', 'tiki', 'rpx', 'pandu', 'wahana', 'sicepat', 'jnt', 'pahala', 'sap', 'jet', 'indah', 'dse', 'slis', 'first', 'ncs', 'star', 'ninja', 'lion', 'idl', 'rex', 'ide', 'sentral', 'anteraja']" :key="item" :value="item">{{item}}</option> 
              </select>
            </div>
            <div class="mb-4">
              <label class="block text-md font-semibold text-gray-700 mb-1" for="">No.Resi</label>
              <input v-model="lead.all_columns.no_resi"
                :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-3 px-4 mb-1   text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                type="text">
            </div>
             </div>
            <div class="sm:col-span-2">
              <button type="submit"
                class="w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Simpan
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </main-section>
</template>
<style src="@vueform/multiselect/themes/default.css"></style>
<script>
  import {
    createApp,
    ref,
    h
  } from 'vue'
  import MainSection from '@/components/MainSection'

  import TitleBar from '@/components/TitleBar'
  import HeroBar from '@/components/HeroBar'
  import axios from 'axios'
  import dayjs from 'dayjs' 
  import CardComponent from '@/components/CardComponent'
  import Select from '@/components/Select'
  
  const { toast } = require('tailwind-toast') 
  export default {
    name: 'Tables',
    components: {
      MainSection,
      CardComponent,
      HeroBar,
      TitleBar
    },
    setup() {



      return {

      }
    },
    data: () => ({
      lead: {
          all_columns : {}
      },
      form: {},
      allData: {},
      list_headers: ['point', 'status']
    }),
    mounted() {
      axios.get("/api/leads/" + this.$route.params.lead_id).then(response => {
        this.lead = response.data; 
      })
      
      axios.get('/api/forms/' + this.$route.params.id).then(response => {
        this.form = (response.data);
      });
    },
    methods:{
        saveData(){
           
            axios.put("/api/leads/" + this.$route.params.lead_id,this.lead).then(response => {
               toast()
.default('Success!', 'Data telah disimpan!')
.with({
  shape: 'pill',
  duration: 4000,
  speed: 1000, 
   color: 'bg-green-600',
  fontColor: 'green',
  fontTone: 200
}).show() 
            })
        }
    }

  }

</script>
