<template>
  <title-bar :title-stack="titleStack" />
  <hero-bar>
     <div class="text-lg">
       <a class="underline flex" target="_blank" :href="'//'+form.domain+'/'+form.slug"> <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mt-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
</svg><span class="ml-1"> {{form.domain}}/{{form.slug}}</span></a>
     </div>
    <template #right> 
      <button @click="saveForm()" class="button green">
        Simpan
      </button>
    </template>
  </hero-bar>
  <main-section>
      <div class="max-w-5xl mx-auto sm:px-6 lg:px-8">
                <div class=" ">


                    <div class="  ">

                        <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
                            <aside class="py-6 px-2 sm:px-6 lg:py-0 lg:px-0 lg:col-span-3">
                                <nav class="space-y-1">


                                    <!-- Current: "bg-gray-50 text-indigo-700 hover:text-indigo-700 hover:bg-white", Default: "text-gray-900 hover:text-gray-900 hover:bg-gray-50" -->
                                    <a href="javascript:void(0)" @click="menu = 'form';localStorage.setItem('menu','form')"
                                        :class="menu == 'form' ? menu_active_1 : menu_pasive_1"
                                        aria-current="page">
                                        <!-- Current: "text-indigo-500 group-hover:text-indigo-500", Default: "text-gray-400 group-hover:text-gray-500" -->
                                      
                                        <svg xmlns="http://www.w3.org/2000/svg"  :class="menu == 'form' ? menu_active_2 : menu_pasive_2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
</svg>
                                        <span class="truncate">
                                            Form
                                        </span>
                                    </a>


                                  
                               
                                    <a href="javascript:void(0)" @click="menu = 'response';localStorage.setItem('menu','response')"
                                     :class="menu == 'response' ? menu_active_1 : menu_pasive_1">
                                    
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" :class="menu == 'response' ? menu_active_2 : menu_pasive_2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg>

                                        <span class="truncate">
                                            Response
                                        </span>
                                    </a>
                                      <a href="javascript:void(0)" @click="menu = 'setting';localStorage.setItem('menu','setting')"
                                     :class="menu == 'setting' ? menu_active_1 : menu_pasive_1">
                                   
                       
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" :class="menu == 'setting' ? menu_active_2 : menu_pasive_2"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
</svg>

                                        <span class="truncate">
                                            Setting
                                        </span>
                                    </a>
                                      <a href="javascript:void(0)" @click="menu = 'automation';localStorage.setItem('menu','automation')"
                                     :class="menu == 'automation' ? menu_active_1 : menu_pasive_1">
                                   
                       
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" :class="menu == 'automation' ? menu_active_2 : menu_pasive_2"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
</svg>
 

                                        <span class="truncate">
                                            Automation
                                        </span>
                                    </a>
 

                                </nav>
                            </aside>

                            <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9 ">

                                <FormBuilder v-if="menu == 'form'" ref="formBuilder" :data="form" />
                                   <Setting   v-if="menu == 'setting'" ref="setting" :data="form" />
                                    <Response v-if="menu == 'response'" ref="response" :data="form" />
                                      <Automation v-if="menu == 'automation'" ref="automation" :data="form" />
                            </div>
                        </div>

                    </div>

                </div>
            </div>
  </main-section>
</template>

<script>
import { reactive, ref } from 'vue'
import { mdiMonitorCellphone, mdiAccountMultiple, mdiTableBorder, mdiTableOff } from '@mdi/js'
import MainSection from '@/components/MainSection'
import Notification from '@/components/Notification'
import ClientsTable from '@/components/ClientsTable'
import CardComponent from '@/components/CardComponent'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
import FormBuilder from '@/components/Forms/FormBuilder'
import Response from '@/components/Forms/Response'
import Setting from '@/components/Forms/Setting'
import Automation from '@/components/Forms/Automation'
import axios from 'axios' 
import { useRoute,useRouter } from 'vue-router'
  const { toast } = require('tailwind-toast')
export default {
  name: 'Tables',
  components: {
    MainSection,
    HeroBar,
    Setting,
    TitleBar,
    FormBuilder,
    Response,
    Automation,
    CardComponent,
    ClientsTable,
    Notification
  },
  setup () {
    const titleStack = ref(['Form', 'Edit Form'])
 
      let form = ref({})
     const route = useRoute()
     const router = useRouter();

      axios.get('/api/forms/'+route.params.id).then(response=>{
          form.value = (response.data);
      },error=>{
          router.push("/not-authorize")
      })

             let menu = ref('form');

             if(localStorage.getItem('menu'))
             {
               menu.value = localStorage.getItem('menu')
             }
    return {
        form, 
        menu : menu, 
        localStorage,
          menu_active_1 : 'bg-gray-50 text-indigo-700 hover:text-indigo-700 hover:bg-white group rounded-md px-3 py-2 flex items-center text-sm font-medium',
            menu_pasive_1 : 'text-gray-900 hover:text-gray-900 hover:bg-gray-50 group rounded-md px-3 py-2 flex items-center text-sm font-medium',
            menu_active_2 : 'text-indigo-500 group-hover:text-indigo-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6',
            menu_pasive_2 : 'text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6',
            titleStack,
            mdiMonitorCellphone,
            mdiAccountMultiple,
            mdiTableBorder,
            mdiTableOff
    }
  },
  methods:{
      saveForm(){
                if(this.$refs.setting)
                {
                  if(this.$refs.setting.slug)
                {
                  this.form.slug = this.$refs.setting.slug;
                }
                }

                  if(this.$refs.response)
                {
                  if(this.$refs.response.locked_content)
                {
                   Object.keys(this.$refs.response.locked_content).forEach(item=>{
                     axios.put("/api/locked-content/"+item,this.$refs.response.locked_content[item])
                   })
                }
                }

                 
                
                axios.put('/api/forms/'+this.form.id,this.form).then(response=>{
          
toast()
.default('Success!', 'Form telah disimpan!')
.with({
  shape: 'pill',
  duration: 4000,
  speed: 1000, 
   color: 'bg-green-600',
  fontColor: 'green',
  fontTone: 200
}).show() //display with all parameters
                })
            }
  }
}
</script>
