<template>


  <div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Lupa Password?
      </h2> 
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form class="space-y-6" @submit.prevent="resetPassword()">
                   <div v-if="error_text" class="bg-red-500 text-white px-3 py-6 md:py-3 mx-6 md:mx-0 mb-6 last:mb-0 border-none rounded transition-colors duration-150">
              {{error_text}}
            </div>
                <div v-if="success_text" class="bg-green-500 text-white px-3 py-6 md:py-3 mx-6 md:mx-0 mb-6 last:mb-0 border-none rounded transition-colors duration-150">
              {{success_text}}
            </div>
          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">
              Email address
            </label>
            <div class="mt-1">
              <input id="email" v-model="form.email" name="email" type="email" autocomplete="email" required="" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
          </div>
 

          <div>
            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Reset Password
            </button>
          </div>
        </form>

         
      </div>
    </div>
  </div>

</template>

<script>
import { reactive,ref,computed } from 'vue'
import { useStore } from 'vuex'
import { mdiAccount, mdiAsterisk, mdiLock, mdiOpenInNew,mdiAlertCircle } from '@mdi/js'
import MainSection from '@/components/MainSection'
import CardComponent from '@/components/CardComponent'
import CheckRadioPicker from '@/components/CheckRadioPicker'
import Field from '@/components/Field'
import Control from '@/components/Control'
import Divider from '@/components/Divider.vue'
 
export default {
  name: 'Login',
  components: {
    MainSection,
    CardComponent,
    CheckRadioPicker, 
    Field,
    Control,
    Divider
  },
  setup () {
    const store = useStore()

    const form = reactive({
      email: '', 
    })
      const notificationSettingsModel = ref([])
const notificationsOutline = computed(() => notificationSettingsModel.value.indexOf('outline') > -1)
    return {
      form,
      notificationsOutline,
      mdiAlertCircle,
      error_text : ref(""),
      success_text : ref(""),
      mdiAccount,
      mdiAsterisk,
      mdiLock
    }
  },
  methods:{
    resetPassword(){
      axios.post('/reset-password',this.form).then(response=>{
       if(response.data == 'ok')
          {
            this.success_text = 'Silakan Buka Email Kamu, Email verifikasi telah berhasil dikirim.'
            this.form = reactive({});
          }
      },error=>{
        if(error.response.data.code == "E_ROW_NOT_FOUND")
        {
          this.error_text = 'Email belum terdaftar'
        }
        if(error.response.data == 'Invalid credentials')
        {
          this.error_text = 'Password salah'
        }
      })
    }
  }
}
</script>
