<template>
  <hero-bar>
    Daftar Form
    <template #right>
      <router-link to="/create-form" class="button green">
        Buat Form
      </router-link>
    </template>
  </hero-bar>
  <main-section>

    <div id="form-table"></div>
    <nav class="  px-4 py-3 flex items-center justify-between  sm:px-6" aria-label="Pagination">
 
  <div class="flex-1 flex justify-center  ">
  
    <a href="javascript:void(0)" v-if="next" @click="page++;loadData(next);" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
      Load More
    </a>
  </div>
</nav>
 
   <card-component v-if="forms.length == 0 && data_loaded" id="no-forms">
      <p class="text-center my-10">   Belum Ada Form</p> 
   </card-component>
       <div v-if="!data_loaded">
      <div class=" flex justify-center items-center">
        <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-purple-500"></div>
      </div>
    </div>
  </main-section>
</template>

<script>
  import {
    ref
  } from 'vue'
  import MainSection from '@/components/MainSection'

  import TitleBar from '@/components/TitleBar'
  import HeroBar from '@/components/HeroBar'
  import axios from 'axios'
  import dayjs from 'dayjs'
  import DB from '@/components/IndexDBHandler'
  import CardComponent from '@/components/CardComponent'

  import {
    Grid,
    h,
    html
  } from "gridjs";

  export default {
    name: 'Tables',
    components: {
      MainSection,
      CardComponent,
      HeroBar,
      TitleBar,
    },
    setup() { 


      return {forms : ref([]),
            before : ref(''),
            next : ref(''),
            current : ref(''),
            data_loaded : ref(false),
            page : ref(1)}
    }, 
    computed: {
      collectionName() {
        return "Forms-" + this.$store.state.userId;
      }
    },
    mounted() {

         if(document.querySelector('#form-table').innerHTML)
      document.querySelector('#form-table').innerHTML = ''


      window.pushTo = (path) => {

                this.$router.push(path)
      }

      // if (DB.boot) {
      //   this.forms = DB.get(this.collectionName);
      //   this.renderTable();
      //   this.syncDataOnline();
      // } else {
      //   DB.on("init", () => {
      //     DB.get(this.collectionName)
      //   })
      // }
      // DB.on("data-loaded", (data) => {

      //   if (data.collection == this.collectionName) {
      //     if (data.data.length) {
      //       this.forms = data.data;
      //       this.renderTable();

      //     }
      //     this.syncDataOnline();
      //   }
      // })

      // DB.on("collection-created", (data) => {
      //   if (data.collection == this.collectionName) {
      //     this.syncDataOnline();
      //   }
      // })

     

      this.loadData()


    },
    methods: {
      loadData(pageState){
          axios
          .get('/api/forms', { 
          }).then(response => {
            this.forms  = this.forms.concat(response.data); 
            this.data_loaded = true;
            
             
            if(this.forms.length)
            {
              this.renderTable()
            }
          });

      },
      syncDataOnline(pageState) {
        axios
          .get('/api/forms', {
            params: {
              latest_fetch: localStorage.getItem(this.collectionName),
              pageState: pageState
            }
          }).then(response => {

            let data = response.data.data;

            data.forEach((item, index) => {

              let findIndex = DB.data[this.collectionName].findIndex(form => {
                return form.id == item.id;
              })

              if (findIndex == -1) {
                DB.add(this.collectionName, item)
              } else {

                const addition = item.lead_number - DB.data[this.collectionName][findIndex].lead_number;
                if(addition)
                {
                  if(DB.data[this.collectionName][findIndex].lead_addition)
                  {
                    if(localStorage.getItem(item.id+dayjs().format("DD-MM-YY")))
                    {
                      item.lead_addition = DB.data[this.collectionName][findIndex].lead_addition + addition;
                    }else{
                       item.lead_addition = addition;
                       localStorage.setItem(item.id+dayjs().format("DD-MM-YY"),"saved")
                    }
                  }else{
                    item.lead_addition = addition;
                  }
                }else{
                   if(localStorage.getItem(item.id+dayjs().format("DD-MM-YY")))
                   {
                     item.lead_addition = DB.data[this.collectionName][findIndex].lead_addition;
                   }else{
                     item.lead_addition = 0;
                   }
                }
                DB.data[this.collectionName].splice(findIndex, 1, item)
                DB.update(this.collectionName, item)
              }


              if (index == data.length - 1) {

                localStorage.setItem(this.collectionName, item.updated)

                this.forms = DB.get(this.collectionName);

                if(document.querySelector("#no-forms"))
                {
                  document.querySelector("#no-forms").remove();
                }

                this.renderTable();

                if (response.data.pageState) {
                  this.syncDataOnline(response.data.pageState)
                }

              }
            })

          })
      },
      renderTable() {
        let obj = {
            pagination: {
            enabled: true,
            limit: 10,
            summary: true
          },
          columns: [{
            id: "updated",
            name: "UPDATED AT",
            formatter: (cell) => {

              return dayjs(parseInt(cell)).format('DD/MM/YYYY HH:mm')
            }
          }, {
            id: "title",
            name: "TITLE"
          },{
            id : "hit_counter",
            name : "KLIK"
          }, {
            id: "lead_number",
            data : (row)=>{
              return {lead_number : row.lead_number, lead_addition : row.lead_addition, id : row.id}
            },
            name: "LEAD",
            formatter: (row) => {
              return html(`<div onclick="pushTo('/forms/${row.id}/leads')" class="cursor-pointer">${parseInt(row.lead_number).toLocaleString()} ${row.lead_addition ? '<span class="inline-flex items-center justify-center px-1 py-1 mr-2 text-xs font-bold leading-none text-white bg-green-500 rounded-full">+'+row.lead_addition+'</span>' : ''}</div>`)
            }

          }, {
            id: "complete_url",
            name: "URL", 
            formatter: (cell) => {
              return html(`<a target="_blank" href="${location.protocol+'//'+cell}">${cell}</a>`)
            }
          }, {
            id: "id",
            name: "ACTION",
            sort: false,

            formatter: (cell, row) => {

             
             
              return html(
                `<button onclick="pushTo('/edit-form/${cell}')" class="py-1 px-2 bg-green-400 text-white">Edit</button><button class="ml-1 py-1 px-2 bg-blue-500 text-white" onclick="pushTo('/forms/${cell}/leads')">Daftar Lead</button>`
              )
            }
          }],
          search: true,
          sort: true,
          data: this.forms.sort((a, b) => {
            return b.updated - a.updated;
          })
        };




        if (this.gd) {
          this.gd.updateConfig(obj).forceRender();
        } else {
          this.gd = new Grid(obj).render(document.getElementById("form-table"));
        }

      }
    }
  }

</script>
