<template>
  <hero-bar>
    <div>
      Daftar Leads
    </div>
    <template #right>
      <router-link :to="`/forms/${$route.params.id}/analyze-lead`" class="mr-3 bg-green-500 py-1 px-2 text-white">
        Analisa Lead</router-link>
      <button @click="confirmDownload = true" class="mr-3 bg-green-500 py-1 px-2 text-white">Download Data</button>
      <button class="bg-red-500 py-1 px-2 text-white">Export PDF</button>
    </template>
    <div class="mt-3">
      <Multiselect :closeOnSelect="false" v-if="leads.length" mode="tags" @select="renderTable();saveForm()"
        @deselect="renderTable();saveForm()" v-model="form.header" :options="list_headers" />
    </div>
  </hero-bar>

  <main-section>
    <div v-if="sync_process && lead_length" class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-indigo-500">

      <span class="inline-block align-middle mr-8">
        <b class="capitalize">Proses Sinkronisasi Data ({{lead_length.toLocaleString('id')}} /
          {{form.lead_number.toLocaleString('id')}}).</b> Mohon menunggu sampai proses selesai
      </span>
      <button
        class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none">
        <span>×</span>
      </button>
    </div>
    <div id="leads-table"></div>

    <div v-if="!data_loaded">
      <div class=" flex justify-center items-center">
        <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-purple-500"></div>
      </div>
    </div>

    <card-component id="no-leads" v-if="leads.length == 0 && !sync_process">
      <p class="text-center my-10"> Belum Ada Leads</p>
    </card-component>
  </main-section>

   <ModalBox @confirm="DownloadData()" v-model="confirmDownload" title="Pilih Separator Kolom">
             <span class="relative z-0 inline-flex shadow-sm rounded-md">
    <button :class="separator == ';' ? 'z-10 outline-none ring-1 ring-indigo-500 border-indigo-500 ' : ''" @click="separator = ';'" type="button" class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
      titik koma (;)
    </button>
     <button :class="separator == ',' ? 'z-10  outline-none ring-1 ring-indigo-500 border-indigo-500' : ''" @click="separator = ','" type="button" class="-ml-px relative inline-flex items-center px-4 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
      koma (,)
    </button>
  </span>

        </ModalBox>

</template>
<style src="@vueform/multiselect/themes/default.css"></style>
<script>
  import {
    createApp,
    ref
  } from 'vue'
  import MainSection from '@/components/MainSection'

  import TitleBar from '@/components/TitleBar'
  import HeroBar from '@/components/HeroBar'
  import axios from 'axios'
  import dayjs from 'dayjs'
  import DB from '@/components/IndexDBHandler'
  import CardComponent from '@/components/CardComponent'
  import Select from '@/components/Select'
  import {
    Grid,
    html,
    h,
    PluginPosition
  } from "gridjs";
    import ModalBox from '../components/ModalBox'
  import Multiselect from '@vueform/multiselect'
 
  export default {
    name: 'Tables',
    components: {
      MainSection,
      CardComponent,
      HeroBar,
      TitleBar,
      ModalBox,
      Multiselect
    },
    setup() {



      return {

      }
    },
    data: () => ({
      leads: [],
      data_loaded: false,
      form: {},
      confirmDownload : false,
      separator : ';',
      sync_process: true,
      lead_length: 0,
      allData: {},
      list_headers: ['point', 'status', 'is_paid', 'upline_id', 'lead_number','referrer']
    }),
    computed: {
      collectionName() {
        return "Leads-" + this.$route.params.id;
      }
    },
    unmounted() {
      DB.destroyEvent("data-loaded")
    },
    mounted() {

      if (document.querySelector('#leads-table').innerHTML)
        document.querySelector('#leads-table').innerHTML = ''

      axios.get('/api/forms/' + this.$route.params.id).then(response => {
        this.form = (response.data);
        this.form.list_field.forEach(item => {
          if (item.header == 'single') {
            this.list_headers.push(item.name)
          } else if (item.header == 'special') {
            if(item.type == 'tanda tangan')
            {
              this.list_headers.push('tanda_tangan')
            }
            if (item.type === 'kecamatan') {
              this.list_headers = this.list_headers.concat(["province", "city", "subdistrict_name"])
            }
            if (item.type === 'produk' || item.type === 'donasi') {
              this.list_headers = this.list_headers.concat(["subtotal", "total", "unique_price", "unique_code",
                "payment_gateway", "payment_method"
              ])
            }
            if (item.type === 'ongkir') {
              this.list_headers = this.list_headers.concat(["courier_code", "courier_name", "courier_service",
                "courier_cost"
              ])
            }

          }
        }) 
           if (DB.boot) {

              DB.get(this.collectionName); 

            } else {
              DB.on("init", () => {
                DB.get(this.collectionName)
              })
            }



      }, error => {
        this.$router.push("/not-authorize")
      })



   
      DB.on("data-loaded", (data) => {

        if (data.collection == this.collectionName) {
          this.data_loaded = true;
          this.syncDataOnline();
          if (data.data.length) {
            this.leads = data.data;
            this.lead_length = this.leads.length;
            this.renderTable();

          }
        }
      })

      DB.on("collection-created", (data) => {
        if (data.collection == this.collectionName) {
          this.syncDataOnline();
        }
      })


      window.changeStatus = (status, id) => {
        axios.put("/api/leads/update-status", {
          form_id: this.$route.params.id,
          id,
          status
        }).then(response => {
          let item = response.data;

          let findIndex = DB.data[this.collectionName].findIndex(form => {
            return form.id == item.id;
          })

          if (findIndex == -1) {

          } else {


            DB.data[this.collectionName].splice(findIndex, 1, item)
            DB.update(this.collectionName, item)
          }

        })
      }

      window.pushTo = (path) => {

                this.$router.push(path)
      }

      window.fillSearch = (text) => {

              var evt = document.createEvent("HTMLEvents");
            evt.initEvent("input", false, true);

              const el =  document.querySelector('[type = "search"]')
              el.value = text;
              el.dispatchEvent(evt)

      }









    },
    methods: {
      syncDataOnline() {
        this.sync_process = true;
        axios
          .get('/api/forms/' + this.$route.params.id + "/leads", {
            params: {
              latest_fetch: localStorage.getItem(this.collectionName),
              pageState: null
            }
          }).then(response => {

            let data = response.data.data;

            if (data.length == 0) {
              this.sync_process = false
            }

            data.forEach((item, index) => {

              let findIndex = DB.data[this.collectionName].findIndex(form => {
                return form.id == item.id;
              })

              if (findIndex == -1) {
                DB.add(this.collectionName, item)
              } else {


                DB.data[this.collectionName].splice(findIndex, 1, item)
                DB.update(this.collectionName, item)
              }


              if (index == data.length - 1) {

                localStorage.setItem(this.collectionName, item.updated)

                this.leads = DB.data[this.collectionName];

                this.lead_length = this.lead_length + data.length;



                if (document.querySelector("#no-leads")) {
                  document.querySelector("#no-leads").remove();
                }

                if (response.data.pageState) {
                  setTimeout(() => {
                    this.syncDataOnline()
                  }, 500)
                } else {
                  this.sync_process = false;
                  this.renderTable();
                }

              }
            })

          })
      },
     
      DownloadData(separator) {

        if (this.leads.length == 0) {
          return;
        }

        const header = this.gd.config.columns.map(item => {
          return item.id
        });




        let content = this.leads.map(item => {

          return header.map(col => {
            if (['point', 'updated', 'upline_id', 'is_paid', 'lead_number'].includes(col)) {
              return item[col];
            } else
              return item.all_columns[col];
          }).join(this.separator)
        })



        // const csvFromArrayOfArrays = convertArrayToCSV(content, {
        //   header,
        //   separator: ';'
        // });
        content = content.join('\n').split('#').join().split('\n').join(' ')
        //     console.log(csvFromArrayOfArrays)


        var encodedUri = encodeURI("data:text/csv;charset=utf-8," + content);


        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "form-" + this.form.id + ".csv");
        document.body.appendChild(link); // Required for FF

        link.click();


      },
      saveForm() {
        axios.put('/api/forms/' + this.form.id, this.form).then(response => {

        });
      },
      renderTable() {
        let listStatus = (this.form.trx_status)




        if (this.leads.length == 0) {
          return;
        }
        let obj = {
          resizable: true,

          pagination: {
            enabled: true,
            limit: 10,
            summary: true
          },
          columns: [{
            id: "id",
            name: "ID",
            data: (row) => {

              return row.id;
            },
            formatter: (cell, row) => {
              // return h('button', {
              //   className: 'font-bold border border-indigo-600 rounded px-2 text-indigo-600',
              //   onClick: () => {
              //     this.$router.push("leads/" + cell)
              //   }
              // }, cell);
              
              return html(`<div class="inline-flex"><button onclick="pushTo('leads/${cell}')" class="inline-flex font-bold border border-indigo-600 rounded px-2 text-indigo-600"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1" viewBox="0 0 20 20" fill="currentColor">
  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
  <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
</svg>${cell}</button><button onclick="fillSearch('${cell}')" class="ml-1 inline-flex font-bold border border-indigo-600 rounded px-2 text-indigo-600"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " viewBox="0 0 20 20" fill="currentColor">
  <path d="M9 9a2 2 0 114 0 2 2 0 01-4 0z" />
  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a4 4 0 00-3.446 6.032l-2.261 2.26a1 1 0 101.414 1.415l2.261-2.261A4 4 0 1011 5z" clip-rule="evenodd" />
</svg></button></div>`);
            }
          }, {
            id: "updated",
            name: "UPDATED AT",
            data: (row) => {

              return row.updated;
            },
            formatter: (cell, row) => {
              return dayjs(parseInt(cell)).format('DD/MM/YYYY HH:mm')
            }
          }],
          search: true,
          sort: true,
          data: this.leads.sort((a, b) => {
            return b.updated - a.updated;
          })
        };

        if (this.form.header) {
          this.form.header.forEach(item => {
            obj.columns.push({
              id: item,
              name: item.toUpperCase(),
              data: (row) => {

                if (item == 'point') {
                  return row.point;
                }
                if (item == 'lead_number') {
                  return row.lead_number;
                }
                if (item == 'upline_id') {
                  return row.upline_id;
                }
                if (item == 'is_paid') {
                  return row.is_paid ? 'dibayar' : 'belum';
                }
                if (item == 'payment_method') {
                  return row.payment_method;
                }
                if (item == 'payment_gateway') {
                  return row.payment_gateway;
                } else {
                  return row.all_columns[item]
                }
              },
              formatter: (cell, row) => {
                if (item == 'status') {


                  let listStatusRender = ``;
                  listStatus.forEach(item => {
                    listStatusRender +=
                      `<option ${cell == item ? 'selected' : ''} value="${item}">${item}</option>`
                  })

                  return html(` 
                   <select   onchange="changeStatus(value,'${row.cells[0].data}');" >
                             ${listStatusRender}
                   </select>
                    `);
                } else if(item == 'tanda_tangan') {
                  if(cell)
                  return   html(` 
                   <img src="${cell}" />
                    `);
                  else return;
                } else {
                  return cell;
                }
                

              }

            })
          })
        }

 

        if (this.gd) {
          this.gd.updateConfig(obj).forceRender();
        } else {
          this.gd = new Grid(obj).render(document.getElementById("leads-table"));




        }

      }
    }
  }

</script>
