<template>
   <div>
       <list-chat @picked="active = $event;LoadConversation()"></list-chat> 
       <conversation :active="active"></conversation>
   </div>
</template>
<script>
import {ref} from 'vue'
import ListChat from '../components/Chat/ListChat.vue'
import Conversation from '../components/Chat/Conversation.vue'
export default {
    components:{
        ListChat,
        Conversation
    },
    setup() { 
        let active = ref({});

        function LoadConversation(){

        }
        return {
            LoadConversation,
            active
        }
     },
}
</script>