<template>
  <hero-bar>
    <div>
      Downline
    </div>
    <template #right>

    </template>
    <div class="mt-3">

    </div>
  </hero-bar>

  <main-section>
    <div class="bg-white py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-24">
      <div class="relative max-w-xl mx-auto">
        <svg class="absolute left-full transform translate-x-1/2" width="404" height="404" fill="none"
          viewBox="0 0 404 404" aria-hidden="true">
          <defs>
            <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20"
              patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)" />
        </svg>
        <svg class="absolute right-full bottom-0 transform -translate-x-1/2" width="404" height="404" fill="none"
          viewBox="0 0 404 404" aria-hidden="true">
          <defs>
            <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20"
              patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)" />
        </svg>

        <div class="mt-4">
         <router-link :to="`/forms/${$route.params.id}/leads`" class="flex"  ><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
</svg>Kembali ke Daftar Lead</router-link>
           
        </div>
      </div>
    </div>

  </main-section>
</template>
<style src="@vueform/multiselect/themes/default.css"></style>
<script>
  import {
    createApp,
    ref,
    h
  } from 'vue'
  import MainSection from '@/components/MainSection'

  import TitleBar from '@/components/TitleBar'
  import HeroBar from '@/components/HeroBar'
  import axios from 'axios'
  import dayjs from 'dayjs'
  import DB from '@/components/IndexDBHandler'
  import CardComponent from '@/components/CardComponent'
  import Select from '@/components/Select'
  import {
    Grid,
    html,
    PluginPosition
  } from "gridjs";
  import Multiselect from '@vueform/multiselect'
  import {
    convertArrayToCSV
  } from 'convert-array-to-csv';
  export default {
    name: 'Tables',
    components: {
      MainSection,
      CardComponent,
      HeroBar,
      TitleBar,
      Multiselect
    },
    setup() {



      return {

      }
    },
    data: () => ({
      lead: {
          all_columns : {}
      },
      form: {},
      allData: {},
      list_headers: ['point', 'status']
    }),
    mounted() {
      axios.get("/api/forms/" + this.$route.params.id+'/leaderboard').then(response => {
        this.leads = response.data;
        
      })
    },

  }

</script>
