<template>
  <main-section>
    <card-component title="Login" :icon="mdiLock" class="w-11/12 md:w-5/12 shadow-2xl rounded-lg">
      <form method="post" @submit.prevent="submitLogin()">

        <field label="Email" help="Please enter your Email" spaced>
          <control :icon-left="mdiAccount">
            <input v-model="form.email" class="input" type="text" name="email" placeholder="user@example.com" autocomplete="username">
          </control>
        </field>


        <field label="Password" help="Please enter your password" spaced>
          <control :icon-left="mdiAsterisk">
            <input v-model="form.password" class="input" type="password" name="password" placeholder="Password" autocomplete="current-password">
          </control>
        </field>

        <check-radio-picker name="remember" v-model="form.remember" :options="{ remember: 'Remember' }" spaced />

        <divider />
            <div v-if="error_text" class="bg-red-500 text-white px-3 py-6 md:py-3 mx-6 md:mx-0 mb-6 last:mb-0 border-none rounded transition-colors duration-150">
              {{error_text}}
            </div>
        <field grouped>
          <control>
            <button type="submit" class="button blue">
              Login
            </button>
          </control>
          <control>
            <router-link to="/register" class="button">
              Register
            </router-link>
          </control>
        </field>
      </form>
    </card-component>
  </main-section>
</template>

<script>
import { reactive,ref,computed } from 'vue'
import { useStore } from 'vuex'
import { mdiAccount, mdiAsterisk, mdiLock, mdiOpenInNew,mdiAlertCircle } from '@mdi/js'
import MainSection from '@/components/MainSection'
import CardComponent from '@/components/CardComponent'
import CheckRadioPicker from '@/components/CheckRadioPicker'
import Field from '@/components/Field'
import Control from '@/components/Control'
import Divider from '@/components/Divider.vue'
 
export default {
  name: 'Login',
  components: {
    MainSection,
    CardComponent,
    CheckRadioPicker, 
    Field,
    Control,
    Divider
  },
  setup () {
    const store = useStore()

    const form = reactive({
      email: '',
      password: '',
      remember: ['remember']
    })
      const notificationSettingsModel = ref([])
const notificationsOutline = computed(() => notificationSettingsModel.value.indexOf('outline') > -1)
    return {
      form,
      notificationsOutline,
      mdiAlertCircle,
      error_text : ref(""),
      mdiAccount,
      mdiAsterisk,
      mdiLock
    }
  },
  methods:{
    submitLogin(){
      axios.post('/login',this.form).then(response=>{
        this.$store.commit("user",response.data)
        this.$router.push('/')
      },error=>{
        if(error.response.data.code == "E_ROW_NOT_FOUND")
        {
          this.error_text = 'Email belum terdaftar'
        }
        if(error.response.data == 'Invalid credentials')
        {
          this.error_text = 'Password salah'
        }
      })
    }
  }
}
</script>
