<template>
  <main-section>
    <card-component title="Not Authorize" :icon="mdiLock" class="w-11/12 md:w-5/12 shadow-2xl rounded-lg">
       kamu tidak diizinkan mengakses halaman ini

        <divider  />

        <field grouped v-if="$store.state.isAuth">
          <control>
            <router-link  to="/" type="submit" class="button blue">
              Kembali ke Dashboard
            </router-link>
          </control> 
        </field>
        <field grouped v-else  >
          <control>
            <router-link  to="/login" type="submit" class="button blue">
              Login
            </router-link>
          </control> 
        </field>
    </card-component>
  </main-section>
</template>

<script>
import { reactive } from 'vue'
import { useStore } from 'vuex'
import { mdiAccount, mdiAsterisk, mdiLock } from '@mdi/js'
import MainSection from '@/components/MainSection'
import CardComponent from '@/components/CardComponent'
import CheckRadioPicker from '@/components/CheckRadioPicker'
import Field from '@/components/Field'
import Control from '@/components/Control'
import Divider from '@/components/Divider.vue'

export default { 
  components: {
    MainSection,
    CardComponent,
    CheckRadioPicker,
    Field,
    Control,
    Divider
  },
  setup () {
    const store = useStore()

    store.dispatch('formScreenToggle', true)

    const form = reactive({
      email: '',
      name : '',
      password: ''
    })

    return {
      form,
      mdiAccount,
      mdiAsterisk,
      mdiLock
    }
  },
  methods:{
    Register(){
       axios.post('/register',this.form).then(response=>{
        this.$store.emit("user",response.data)
      })
    }
  }
}
</script>
