<template> 
  <hero-bar>
    Payment Setting
     
  </hero-bar>
  <main-section>
    <card-component title="Tripay" :icon="mdiBallot">
        <p class="mb-3">silakan mendaftar di <a class="text-green-500" href="https://tripay.co.id/" target="_blank">https://tripay.co.id/</a> untuk menerima pembayaran via Virtual Account dan QRIS</p>
      <form @submit.prevent="submit">
        

        <field label="URL Callback" help="salin url ini untuk ditambahkan ke merchant tripay">
          <control>
            <input readonly class="input" v-model="tripay.urlCallback" type="text"  >
          </control>
        </field>

        <field label="Kode Merchant" help="dapatkan Kode Merchant dari dashboard tripay anda">
          <control>
            <input type="text" class="input" v-model="tripay.merchant_code" placeholder="T6770"/>
          </control>
        </field> 
        <field label="Api Key" help="dapatkan Api Key dari dashboard tripay anda">
          <control>
            <input type="text" class="input"  v-model="tripay.apiKey" placeholder="UrX4n3Wyd7qKjs42eocAWyXvkbBpAKf72ueQ4pCo33"/>
          </control>
        </field>
        <field label="Private Key" help="dapatkan Private Key dari dashboard tripay anda">
          <control>
            <input type="text" class="input"  v-model="tripay.privateKey" placeholder="BB0KJ-aURC-343fd-FcsKX-poPCU"/>
          </control>
        </field>

        <divider/>

        <field grouped>
          <control>
            <button type="submit" class="button green">
              Simpan
            </button>
          </control> 
        </field>
      </form>
    </card-component> 
     <card-component title="Moota" :icon="mdiBallot">
        <p class="mb-3">silakan mendaftar di <a class="text-green-500" href=" https://app.moota.co?ref=lCtcae91j7" target="_blank">https://moota.co/</a> untuk menerima pembayaran bank secara otomatis</p>
      <form @submit.prevent="submitmoota">
        

        <field label="URL Callback" help="salin url ini untuk ditambahkan ke merchant tripay">
          <control>
            <input readonly class="input" v-model="moota.urlCallback" type="text"  >
          </control>
        </field>
 
        <field label="Secret Token" help="salin Secret Token untuk ditambahkan ke Webhook Moota">
          <control>
            <input type="text" class="input"  v-model="moota.token" placeholder="BB0KJ-aURC-343fd-FcsKX-poPCU"/>
          </control>
        </field>

        <divider/>

        <field grouped>
          <control>
            <button type="submit" class="button green">
              Simpan
            </button>
          </control> 
        </field>
      </form>
    </card-component> 
  </main-section>
</template>

<script>
import { ref, reactive } from 'vue'
import { mdiBallot, mdiBallotOutline, mdiAccount, mdiMail, mdiCheck } from '@mdi/js'
import MainSection from '@/components/MainSection'
import TitleBar from '@/components/TitleBar'
import CardComponent from '@/components/CardComponent'
import CheckRadioPicker from '@/components/CheckRadioPicker'
import FilePicker from '@/components/FilePicker'
import HeroBar from '@/components/HeroBar'
import Field from '@/components/Field'
import Control from '@/components/Control'
import Divider from '@/components/Divider.vue'
  const { toast } = require('tailwind-toast')
export default {
  name: 'Forms',
  components: {
    Divider,
    MainSection,
    HeroBar,
    FilePicker,
    CheckRadioPicker,
    CardComponent,
    TitleBar,
    Field,
    Control
  },
  setup () {
    const titleStack = ref(['Admin', 'Forms'])
    const tripay = ref({})
    axios.get("/api/setting/tripay").then(response=>{
        if(response.data)
        {
            tripay.value = response.data;
        }
    })

     const moota = ref({})
    axios.get("/api/setting/moota").then(response=>{
        if(response.data)
        {
            moota.value = response.data;
        }
    })


    const form = reactive({
      name: null,
      email: null,
      phone: null,
      department: null,
      subject: null,
      question: null
    })

    const customElementsForm = reactive({
      checkbox: ['lorem'],
      radio: 'one',
      switch: ['one'],
      file: null
    })

    const submit = () => {

        axios.post("/api/setting/tripay",tripay.value)
        toast()
.default('Success!', 'Pengaturan telah disimpan!')
.with({
  shape: 'pill',
  duration: 4000,
  speed: 1000, 
   color: 'bg-green-600',
  fontColor: 'green',
  fontTone: 200
}).show() //display with all parameters
      //
    }

       const submitmoota = () => {

        axios.post("/api/setting/moota",moota.value)
        toast()
.default('Success!', 'Pengaturan telah disimpan!')
.with({
  shape: 'pill',
  duration: 4000,
  speed: 1000, 
   color: 'bg-green-600',
  fontColor: 'green',
  fontTone: 200
}).show() //display with all parameters
      //
    }

    return {
      titleStack,
      form,
      customElementsForm,
      submit,
      submitmoota,
      moota,
      tripay,
      mdiBallot,
      mdiBallotOutline,
      mdiAccount,
      mdiMail,
      mdiCheck
    }
  }
}
</script>
