<template>


  <div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
       start your 14-day free trial
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600 max-w">
        Or
        <router-link to="/login" class="font-medium text-indigo-600 hover:text-indigo-500">
          login jika sudah memiliki akun
        </router-link>
      </p>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">


          <div class="   ">
           
            <div>
              <a href="/google/redirect" class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
             <img  class="mr-3" width="28px" src="https://img.icons8.com/color/24/000000/google-logo.png"/>
         <span class="text-lg">
               Daftar  dengan Akun Google
         </span>
              </a>
            </div>
          </div>
             <div class="mt-6">
          <div class="relative">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center text-sm">
              <span class="px-2 bg-white text-gray-500">
                Or  
              </span>
            </div>
          </div>

        </div>

        <form class="space-y-6 mt-6" @submit.prevent="Register">
             <div v-if="error_text" class="bg-red-500 text-white px-3 py-6 md:py-3 mx-6 md:mx-0 mb-6 last:mb-0 border-none rounded transition-colors duration-150">
              {{error_text}}
            </div>
          <div>
            <label for="name" class="block text-sm font-medium text-gray-700">
              Nama
            </label>
            <div class="mt-1">
              <input id="name" name="name" v-model="form.name" type="text" autocomplete="name" required="" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
          </div>
           <div>
            <label for="email" class="block text-sm font-medium text-gray-700">
              Email address
            </label>
            <div class="mt-1">
              <input id="email" name="email" v-model="form.email" type="email" autocomplete="email" required="" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
          </div>

          <div>
            <label for="password" class="block text-sm font-medium text-gray-700">
              Password
            </label>
            <div class="mt-1">
              <input id="password" v-model="form.password" name="password" type="password" autocomplete="current-password" required="" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
          </div>

          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input id="remember_me" name="remember_me" type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
              <label for="remember_me" class="ml-2 block text-sm text-gray-900">
                Remember me
              </label>
            </div>

            <div class="text-sm">
              <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                Forgot your password?
              </a>
            </div>
          </div>

          <div>
            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Sign Up
            </button>
          </div>
        </form>

     
      </div>
    </div>
  </div>

</template>


<script>
import { reactive,ref } from 'vue'
import { useStore } from 'vuex'
import { mdiAccount, mdiAsterisk, mdiLock } from '@mdi/js'
import MainSection from '@/components/MainSection'
import CardComponent from '@/components/CardComponent'
import CheckRadioPicker from '@/components/CheckRadioPicker'
import Field from '@/components/Field'
import Control from '@/components/Control'
import Divider from '@/components/Divider.vue'

export default {
  name: 'Register',
  components: {
    MainSection,
    CardComponent,
    CheckRadioPicker,
    Field,
    Control,
    Divider
  },
  setup () {
    const store = useStore()
 

    const form = reactive({
      email: '',
      name : '',
      password: ''
    })

    return {
      form,
      error_text : ref(""),
      mdiAccount,
      mdiAsterisk,
      mdiLock
    }
  },
  methods:{
    Register(){
       axios.post('/register',this.form).then(response=>{
       this.$store.commit("user",response.data)
        this.$router.push('/')
      },error=>{
        if(error.response.data == "E_HTTP_EXCEPTION: Email telah digunakan")
        {
          this.error_text = "Email telah digunakan"
        }
      })
    }
  }
}
</script>
