<template>


  <div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Buat Password baru
      </h2> 
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form class="space-y-6" @submit.prevent="resetPassword()">
                   <div v-if="error_text" class="bg-red-500 text-white px-3 py-6 md:py-3 mx-6 md:mx-0 mb-6 last:mb-0 border-none rounded transition-colors duration-150">
              {{error_text}}
            </div>
           <div>
            <label for="password" class="block text-sm font-medium text-gray-700">
              Password Baru
            </label>
            <div class="mt-1">
              <input id="password" v-model="form.password" name="password" type="password" autocomplete="current-password" required="" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
          </div>
 

          <div>
            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Reset Password
            </button>
          </div>
        </form>

         
      </div>
    </div>
  </div>

</template>

<script>
import { reactive,ref,computed } from 'vue'
import { useStore } from 'vuex'
import { mdiAccount, mdiAsterisk, mdiLock, mdiOpenInNew,mdiAlertCircle } from '@mdi/js'
import MainSection from '@/components/MainSection'
import CardComponent from '@/components/CardComponent'
import CheckRadioPicker from '@/components/CheckRadioPicker'
import Field from '@/components/Field'
import Control from '@/components/Control'
import Divider from '@/components/Divider.vue'
 
export default {
  name: 'Login',
  components: {
    MainSection,
    CardComponent,
    CheckRadioPicker, 
    Field,
    Control,
    Divider
  },
  setup () {
    const store = useStore()

    const form = reactive({
      email: '',
      password: '',
      remember: ['remember']
    })
      const notificationSettingsModel = ref([])
const notificationsOutline = computed(() => notificationSettingsModel.value.indexOf('outline') > -1)
    return {
      form,
      notificationsOutline,
      mdiAlertCircle,
      error_text : ref(""),
      mdiAccount,
      mdiAsterisk,
      mdiLock
    }
  },
  mounted(){
    axios.get('/get-reset-token/'+this.$route.params.id).then(response=>{
      if(response.data != 'OK')
      {
        this.$router.push('/not-found')
      }
    },error=>{
      this.$router.push('/not-found')
    })
  },
  methods:{
    resetPassword(){
      axios.post('/make-password',{password : this.form.password, id : this.$route.params.id}).then(response=>{
        this.$store.commit("user",response.data)
        this.$router.push('/')
      },error=>{
        if(error.response.data.code == "E_ROW_NOT_FOUND")
        {
          this.error_text = 'Email belum terdaftar'
        }
        if(error.response.data == 'Invalid credentials')
        {
          this.error_text = 'Password salah'
        }
      })
    }
  }
}
</script>
