<template>
  <nav-bar/>
  <aside-menu :menu="menu"/>
  <router-view/>
  <footer-bar/>
</template>

<script>
// @ is an alias to /src
import { ref } from 'vue'
import { useStore } from 'vuex'
import { mdiDesktopMac, mdiTable,mdiEarth, mdiSquareEditOutline, mdiAccountCircle, mdiLock, mdiViewList, mdiCreditCard, mdiHelpCircle, mdiGithub, mdiCreditCardOutline } from '@mdi/js'
import NavBar from '@/components/NavBar'
import AsideMenu from '@/components/AsideMenu'
import FooterBar from '@/components/FooterBar'

export default {
  name: 'Home',
  components: {
    FooterBar,
    AsideMenu,
    NavBar
  },
  setup () {
    const store = useStore()

    if(window.user)
    {
    store.commit('user',  window.user)
    }

    const menu = ref(
      [
        'General',
        [
          {
            to: '/',
            icon: mdiDesktopMac,
            label: 'Dashboard'
          }
        ],
        'Form',
        [ 
          {
            to: '/forms',
            label: 'Forms',
            icon: mdiSquareEditOutline
          }
        ],
        'Setting',
        [ 
          {
            to: '/payment',
            label: 'Payment',
            icon: mdiCreditCardOutline
          },
           {
            to: '/domain',
            label: 'Domain',
            icon: mdiEarth 
          }
        ]
      ]
    )

    return {
      menu
    }
  }
}
</script>
