<template>
    <div class="bg-pink-600 bg-pink-500 bg-pink-400 bg-red-600 bg-yellow-600 bg-yellow-500 bg-yellow-400 bg-green-800 bg-green-700 bg-green-600 bg-green-500 bg-green-400 bg-blue-600 bg-blue-500 bg-blue-400 bg-purple-600 bg-indigo-600"></div>
    <div class="focus:ring-pink-600 focus:ring-pink-500 focus:ring-pink-400 focus:ring-red-600 focus:ring-yellow-600 focus:ring-yellow-500 focus:ring-yellow-400 focus:ring-green-800 focus:ring-green-700 focus:ring-green-600 focus:ring-green-500 focus:ring-green-400 focus:ring-blue-600 focus:ring-blue-500 focus:ring-blue-400 focus:ring-purple-600 focus:ring-indigo-600"></div>
</template>