<template>
  <modal-box v-model="isModalActive" @confirm="deleteForm()" title="Please confirm action">
    <p>Apakah kamu yakin mau menghapus form ini?</p>
 
  </modal-box>

  <div v-if="checkedRows.length" class="bg-gray-50 p-3">
    <span v-for="checkedRow in checkedRows" :key="checkedRow.id" class="inline-block bg-gray-100 px-2 py-1 rounded-sm mr-2 text-sm">{{ checkedRow.name }}</span>
  </div>

  <table>
    <thead>
    <tr>
      <th v-if="checkable"></th>
 
      <th>URL</th>
      <th>Title</th>
      <th>Lead</th> 
    </tr>
    </thead>
    <tbody>
    <tr v-for="client in itemsPaginated" :key="client.id">
      <checkbox-cell v-if="checkable" @checked="checked($event, client)"/>
     
      <td data-label="Slug"><a target="_blank" class="underline" :href="`//${client.domain}/${client.slug}`">{{ client.domain }}/{{ client.slug }}</a></td>
      <td data-label="Title">{{ client.title }}</td>
      <td data-label="Lead">{{ client.leads ? client.leads :  '0' }}</td>
      
      <td class="actions-cell">
        <div class="buttons right nowrap">
          <a class="button small green" :href="`//${client.domain}/${client.slug}`" target="_blank">
            <icon :path="mdiEye" size="12" />
          </a>
            <router-link class="button small green" :to="`/edit-form/${client.id}`">
            <icon :path="mdiPencilOutline" size="12" />
          </router-link>
          <button class="button small red" type="button" @click="isModalActive = true;deleteFormQueue=client">
            <icon :path="mdiTrashCan" size="12" />
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="table-pagination">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="buttons">
            <button v-for="page in pagesList"
                    @click="currentPage = page"
                    type="button" class="button"
                    :class="{'active': page===currentPage}"
                    :key="page">{{ page + 1 }}</button>
          </div>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <small>Page {{ currentPageHuman }} of {{ numPages }}</small>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { computed, ref } from 'vue'
import { mdiEye, mdiTrashCan,mdiPencilOutline } from '@mdi/js'
import axios from 'axios'
import slice from 'lodash/slice'
import remove from 'lodash/remove'
import ModalBox from '@/components/ModalBox'
import Icon from '@/components/Icon'
import CheckboxCell from '@/components/CheckboxCell'

export default {
  name: 'ClientsTable',
  components: {
    ModalBox,
    Icon,
    CheckboxCell
  },
  props: {
    checkable: {
      type: Boolean,
      default: false
    }
  },
  setup () {
    const isModalActive = ref(false)

    const isLoading = ref(false)

    const items = ref([])

    const perPage = ref(10)

    const currentPage = ref(0)

    const checkedRows = ref([])

    const itemsPaginated = computed(
      () => slice(items.value, perPage.value * currentPage.value, perPage.value * (currentPage.value + 1))
    )

    const numPages = computed(() => Math.ceil(items.value.length / perPage.value))

    const currentPageHuman = computed(() => currentPage.value + 1)

    const pagesList = computed(() => {
      const pagesList = []

      for (let i = 0; i < numPages.value; i++) {
        pagesList.push(i)
      }

      return pagesList
    })

    const checked = (isChecked, client) => {
      if (isChecked) {
        checkedRows.value.push(client)
      } else {
        remove(checkedRows.value, row => row.id === client.id)
      }
    }

    // Fetch sample data

    isLoading.value = true

    axios
      .get('/api/forms')
      .then((r) => {
        isLoading.value = false
        // if (r.data && r.data.data) {
        //   items.value = r.data.data
        // }
        if(r.data)
        {
       
          items.value = r.data;
        }
      })
      .catch(error => {
        isLoading.value = false
        alert(error.message)
      })

      let deleteFormQueue = ref({});
      
    return { 
      isModalActive, 
      deleteFormQueue,
      currentPage,
      currentPageHuman,
      numPages,
      items,
      checkedRows,
      itemsPaginated,
      mdiPencilOutline,
      pagesList,
      checked,
      mdiEye,
      mdiTrashCan
    }
  },
  methods:{
    deleteForm(){
      console.log(this.deleteFormQueue)
          axios.delete('/api/forms/'+this.deleteFormQueue.id)
          const index = this.items.findIndex(item=>{
            return item.id == this.deleteFormQueue.id;
          })

          if(index > -1)
          {
            this.items.splice(index,1)
          }

      }
  }
}
</script>
