<template>
  <div :x-data="`{ status : '${status}' }`"> 
    <select x-model="status">
      <option v-for="item in options" :value="item" :key="item">{{item}}</option>
    </select>
  </div>
</template>
<script>
 
  export default {
    props: {
      options: {
        type: Array,
        default: []
      },
      status : {
          type : String,
          default : 'dipesan'
      }
    }
  }

</script>
