<template>

  <div>
    <div class="sm:hidden">
      <label for="tabs" class="sr-only">Select a tab</label>
      <select id="tabs" name="tabs"
        class="block w-full focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
        <option v-for="tab in tabs" :key="tab.name" :selected="tab.current">{{ tab.name }}</option>
      </select>
    </div>
    <div class="hidden sm:block">
      <nav class="relative z-0 rounded-lg shadow flex divide-x divide-gray-200" aria-label="Tabs">
        <a v-for="(tab, tabIdx) in tabs" :key="tab.name" :href="tab.href" @click="selectTab(tab)"
          :class="[tab.current ? 'text-gray-900' : 'text-gray-500 hover:text-gray-700', tabIdx === 0 ? 'rounded-l-lg' : '', tabIdx === tabs.length - 1 ? 'rounded-r-lg' : '', 'group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-sm font-medium text-center hover:bg-gray-50 focus:z-10']"
          :aria-current="tab.current ? 'page' : undefined">
          <span>{{ tab.name }}</span>
          <span aria-hidden="true"
            :class="[tab.current ? 'bg-indigo-500' : 'bg-transparent', 'absolute inset-x-0 bottom-0 h-0.5']" />
        </a>
      </nav>
    </div>
  </div>
  <div class="bg-white   shadow-xl sm:rounded-lg p-6">
    <!-- start form builder -->

    <!-- <h1 class="font-bold text-xl">Pengaturan</h1>
     -->
    <div v-if="currentTab == 'Whatsapp'">

      <div class="flex items-center mb-7">
        <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
        <button @click="data.wa_automation = !data.wa_automation" type="button"
          :class="data.wa_automation ? 'bg-indigo-600' : 'bg-gray-200'"
          class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          role="switch" aria-checked="false" aria-labelledby="annual-billing-label">
          <span class="sr-only">Whatsapp Automation</span>
          <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
          <span aria-hidden="true" :class="data.wa_automation ? 'translate-x-5' : 'translate-x-0'"
            class="translate-x-0 pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
        </button>
        <span class="ml-3" id="annual-billing-label">
          <span class="text-sm font-medium text-gray-900">Whatsapp Automation </span>
          <span class="text-sm text-gray-500">({{ data.wa_automation ? 'aktif' : 'tidak aktif'}})</span>
        </span>
      </div>
      <div class="relative mt-3 mb-4">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-start">
          <span class="pr-3 bg-white text-lg font-medium text-gray-900">
            Device
          </span>
        </div>
      </div>
      <div>
        <button type="button" @click="newDeviceOpen()" class="p-3 py-2 bg-green-500 text-sm rounded text-white">Tambah
          Device</button>

        <ModalBox @confirm="saveWaDevice()" v-model="newWaDeviceModal" title="Tambah pesan baru">
          <div class=" ">
            <label class="mb-3" for="name">Title</label>
            <input type="text" v-model="newWaDevice.name" name="name" id="name"
              :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
              class="block appearance-none w-full py-1  mt-2 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
              placeholder="cth : Nama Pemegang HP">
          </div>
          <div class=" ">
            <label class="mb-3" for="whatsapp_id">API KEY Dripsender</label>
            <input type="text" v-model="newWaDevice.whatsapp_id" name="whatsapp_id" id="whatsapp_id"
              :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
              class="block appearance-none w-full py-1  mt-2 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
              placeholder="">
            <div>
              <small>dapatkan api key di <a target="_blank" href="https://dashboard.dripsender.id/whatsapp"
                  class="text-green-500">dashboard.dripsender.id</a></small>
            </div>
          </div>

        </ModalBox>

      </div>
      <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 mt-4">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Name
                    </th>


                    <th scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      API KEY
                    </th>
                    <th scope="col" class="relative px-6 py-3">
                      <span class="sr-only">Edit</span>
                    </th>

                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(device, deviceIdx) in devices" :key="device.id"
                    :class="deviceIdx % 2 === 0 ? 'bg-white' : 'bg-gray-50'">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                      {{ device.name }}
                    </td>


                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                      {{ device.whatsapp_id }}  <span v-if="device.state == 'open'"
                                            class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                                            {{device.state}}
                                        </span>
                                        <span v-if="device.state == 'connecting'"
                                            class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800">
                                            {{device.state}}
                                        </span>
                                        <span v-if="device.state == 'close'"
                                            class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">
                                            {{device.state}}
                                        </span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                      <a href="javascript:void(0)" @click="newWaDevice = device;newWaDeviceModal = device"
                        class="text-indigo-600 hover:text-indigo-900">Edit</a>
                         <a href="javascript:void(0)" @click="DeleteWADevice(device);devices.splice(deviceIdx,1)"
                        class="text-indigo-600 ml-1 hover:text-indigo-900">Hapus</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="relative  mb-4 mt-10">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-start">
          <span class="pr-3 bg-white text-lg font-medium text-gray-900">
            Pesan
          </span>
        </div>
      </div>

      <button type="button" @click="newMsgOpen()" class="p-3 mb-6 py-2 bg-green-500 text-sm rounded text-white">Tambah
        Pesan</button>
      <ModalBox @confirm="saveWaMessage()" v-model="newWaMessageModal" title="Tambah pesan baru">
        <div class=" ">
          <label class="mb-3" for="title">Title</label>
          <input type="text" v-model="newWaMessage.title" name="title" id="title"
            :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
            class="block appearance-none w-full py-1  mt-2 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
            placeholder="follow up 1">
        </div>
        <div class=" " v-if="data.list_field">
          <label class="mb-3" for="content">Content</label>
          <div class="mt-2 mb-2">
            <span class="relative z-0 flex flex-wrap gap-1  shadow-sm rounded-md">
              <button v-for="(item) in tags(data)" @click="clickButton(item)"
                class="relative inline-flex items-center px-2 py-1 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
                :key="item">{{item}}</button>
            </span>

          </div>
          <textarea v-model="newWaMessage.content" id="content-msg" rows="3"
            class="p-3 shadow-sm    block w-full sm:text-sm border border-gray-300  rounded-b"
            placeholder=""></textarea>

        </div>
        <div class=" ">
          <label class="mb-3" for="title">on Status</label>
          <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
            class="block appearance-none w-full py-1  mt-2 border-r-0 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded-tr-none rounded-br-none rounded "
            v-model="newWaMessage.status">
            <option v-for="item in data.trx_status" :value="item" :key="item">{{item}}</option>
          </select>
        </div>
        <div class=" ">
          <label class="mb-3" for="title">dikirim setelah</label>
          <div class="flex flex-wrap ">

            <div class="w-1/2">
              <div class="mb-4">
                <input type="text" v-model="newWaMessage.send_after"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none  mt-2 w-full py-1 rounded-tr-none rounded-br-none  px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  placeholder="1">

              </div>
            </div>
            <div class="w-1/2">
              <div class="mb-4">

                <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1  mt-2 border-l-0 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded-tl-none rounded-bl-none rounded "
                  v-model="newWaMessage.send_after_unit">
                  <option value="minute">Menit</option>
                  <option value="hour">Jam</option>
                  <option value="day">Hari</option>
                </select>
              </div>
            </div>

          </div>
        </div>
        <div class=" ">
          <div class="flex items-center mb-7">
        <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
        <button @click="newWaMessage.hasButton = !newWaMessage.hasButton" type="button"
          :class="newWaMessage.hasButton ? 'bg-indigo-600' : 'bg-gray-200'"
          class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          role="switch" aria-checked="false" aria-labelledby="annual-billing-label">
          <span class="sr-only">Punya Tombol</span>
          <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
          <span aria-hidden="true" :class="newWaMessage.hasButton ? 'translate-x-5' : 'translate-x-0'"
            class="translate-x-0 pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
        </button>
        <span class="ml-3" id="annual-billing-label">
          <span class="text-sm font-medium text-gray-900 mr-1">Punya Tombol Balas</span>
          <span class="text-sm text-gray-500">({{ newWaMessage.hasButton ? 'ya' : 'tidak'}})</span>
        </span>
      </div>
        </div>
        <div v-if="newWaMessage.hasButton">
          
            <div class="mb-3 mt-3">Daftar Tombol <span @click="newWaMessage.buttons.push('Tombol '+(newWaMessage.buttons.length+1))"
                class="ml-3 inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs  text-blue-600 border-blue-600 hover:bg-blue-600 hover:text-white bg-white hover:bg-blue-600"><i
                  class="fas fa-plus mr-1"></i> tambah tombol</span></div>

            <div class="mb-3" v-for="(choice,idx) in newWaMessage.buttons" :key="idx">
              <div class="relative flex items-stretch w-full mb-3">
                <input type="text"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  placeholder="Pilihan" v-model="newWaMessage.buttons[idx]">
                <div class="input-group-append">
                  <button @click="newWaMessage.buttons.splice(idx,1)"
                    class="inline-block ml-1 align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline text-red-600 border-red-600 hover:bg-red-600 hover:text-white bg-white hover:bg-red-700"
                    type="button"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg></button>
                </div>
              </div>
            </div>
                <div class=" ">
          <label class="mb-3" for="footerText">Footer Text</label>
          <input type="text" v-model="newWaMessage.footerText" name="footerText" id="footerText"
            :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
            class="block appearance-none w-full py-1  mt-2 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
            placeholder="dikirim oleh ...">
        </div>
        </div>
      </ModalBox>
      <div class="flow-root">
        <ul role="list" class="-mb-8">
          <li v-for="(activityItem, activityItemIdx) in Wafollowups" :key="activityItem.id">
            <div class="relative pb-8">
              <span v-if="(activityItemIdx !== Wafollowups.length - 1)"
                class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true" />
              <div class="relative flex items-start space-x-3">
                <template v-if="true">
                  <div class="relative px-1">
                    <div class="h-8 w-8 bg-gray-100 rounded-full ring-8 ring-white flex items-center justify-center">
                      <ChatAltIcon class="h-5 w-5 text-gray-500" aria-hidden="true" />
                    </div>
                  </div>
                  <div class="min-w-0 flex-1">
                    <div>
                      <div class="text-sm">
                        <span class="font-medium text-gray-900"> {{ activityItem.title }}</span>
                        <a href="javascript:void(0)" @click="newWaMessage = activityItem;newWaMessageModal=true;"
                          class="relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 ml-3 text-sm">

                          <span class="  font-medium text-gray-900">Edit</span>
                        </a>
                        <a href="javascript:void(0)"
                          @click="Wafollowups.splice(activityItemIdx,1);DeleteMsg(activityItem)"
                          class="relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 ml-1 text-sm">

                          <span class="  font-medium text-gray-900">Delete</span>
                        </a>
                      </div>
                      <p class="mt-0.5 text-sm text-gray-500">send after {{ activityItem.send_after }}
                        {{ activityItem.send_after_unit }} on status = {{activityItem.status}}</p>
                    </div>
                    <div class="mt-2 text-sm text-gray-700">
<pre>
{{ activityItem.content }}
</pre>
                    </div>
                  </div>
                </template>

              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <div v-if="currentTab == 'Email'">

      <div class="flex items-center mb-7">
        <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
        <button @click="data.email_automation = !data.email_automation" type="button"
          :class="data.email_automation ? 'bg-indigo-600' : 'bg-gray-200'"
          class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          role="switch" aria-checked="false" aria-labelledby="annual-billing-label">
          <span class="sr-only">Email Automation</span>
          <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
          <span aria-hidden="true" :class="data.email_automation ? 'translate-x-5' : 'translate-x-0'"
            class="translate-x-0 pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
        </button>
        <span class="ml-3" id="annual-billing-label">
          <span class="text-sm font-medium text-gray-900">Email Automation </span>
          <span class="text-sm text-gray-500">({{ data.email_automation ? 'aktif' : 'tidak aktif'}})</span>
        </span>
      </div>
    

      <div class="relative  mb-4 mt-10">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-start">
          <span class="pr-3 bg-white text-lg font-medium text-gray-900">
            Pesan   
          </span>
        </div>
      </div>

      <button type="button" @click="newEmailMsgOpen()" class="p-3 mb-6 py-2 bg-green-500 text-sm rounded text-white">Tambah
        Pesan</button>
      <ModalBox @confirm="saveEmailMessage()" v-model="newEmailMessageModal" title="Tambah pesan baru">
          <div class=" ">
          <label class="mb-3" for="sender_name">Nama Pengirim</label>
          <input type="text" v-model="newEmailMessage.sender_name" name="sender_name" id="sender_name"
            :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
            class="block appearance-none w-full py-1  mt-2 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
            placeholder="follow up 1">
        </div> 
        <div class=" ">
          <label class="mb-3" for="title">Title</label>
          <input type="text" v-model="newEmailMessage.title" name="title" id="title"
            :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
            class="block appearance-none w-full py-1  mt-2 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
            placeholder="follow up 1">
        </div>
        <div class=" ">
          <label class="mb-3" for="subject">Subject</label>
          <input type="text" v-model="newEmailMessage.subject" name="subject" id="subject"
            :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
            class="block appearance-none w-full py-1  mt-2 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
            placeholder="Subject Email">
        </div>
        <div class=" " v-if="data.list_field">
          <label class="mb-3" for="content">Content</label>
 
              <QuillEditor v-if="newEmailMessageModal" :content="newEmailMessage.content" :tags="tags(data)" @update:content="newEmailMessage.content = $event" />

        </div>
        <div class=" ">
          <label class="mb-3" for="title">on Status</label>
          <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
            class="block appearance-none w-full py-1  mt-2 border-r-0 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded-tr-none rounded-br-none rounded "
            v-model="newEmailMessage.status">
            <option v-for="item in data.trx_status" :value="item" :key="item">{{item}}</option>
          </select>
        </div>
        <div class=" ">
          <label class="mb-3" for="title">dikirim setelah</label>
          <div class="flex flex-wrap ">

            <div class="w-1/2">
              <div class="mb-4">
                <input type="text" v-model="newEmailMessage.send_after"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none  mt-2 w-full py-1 rounded-tr-none rounded-br-none  px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  placeholder="1">

              </div>
            </div>
            <div class="w-1/2">
              <div class="mb-4">

                <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1  mt-2 border-l-0 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded-tl-none rounded-bl-none rounded "
                  v-model="newEmailMessage.send_after_unit">
                  <option value="minute">Menit</option>
                  <option value="hour">Jam</option>
                  <option value="day">Hari</option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </ModalBox>
      <div class="flow-root">
        <ul role="list" class="-mb-8">
          <li v-for="(activityItem, activityItemIdx) in email_messages" :key="activityItem.id">
            <div class="relative pb-8">
              <span v-if="(activityItemIdx !== email_messages.length - 1)"
                class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true" />
              <div class="relative flex items-start space-x-3">
                <template v-if="true">
                  <div class="relative px-1">
                    <div class="h-8 w-8 bg-gray-100 rounded-full ring-8 ring-white flex items-center justify-center">
                      <ChatAltIcon class="h-5 w-5 text-gray-500" aria-hidden="true" />
                    </div>
                  </div>
                  <div class="min-w-0 flex-1">
                    <div>
                      <div class="text-sm">
                        <span class="font-medium text-gray-900"> {{ activityItem.title }}</span>
                        <a href="javascript:void(0)" @click="newEmailMessage = activityItem;newEmailMessageModal=true;"
                          class="relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 ml-3 text-sm">

                          <span class="  font-medium text-gray-900">Edit</span>
                        </a>
                        <a href="javascript:void(0)"
                          @click="email_messages.splice(activityItemIdx,1);DeleteEmailMsg(activityItem)"
                          class="relative inline-flex items-center rounded-full border border-gray-300 px-3 py-0.5 ml-1 text-sm">

                          <span class="  font-medium text-gray-900">Delete</span>
                        </a>
                      </div>
                      <p class="mt-0.5 text-sm text-gray-500">send after {{ activityItem.send_after }}
                        {{ activityItem.send_after_unit }} on status = {{activityItem.status}}</p>
                    </div>
                    <div class="mt-2 text-sm text-gray-700">
                      <div >
                        Subject : {{activityItem.subject}}
                      </div>
                    </div>
                  </div>
                </template>

              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>

    <div v-if="currentTab == 'Webhook'">

      

    </div>


    <!-- image uploader -->

    <!--  -->

    <!-- end form builder -->
  </div>


</template>

<script>
  import QuillEditor from './QuillEditor.vue'
  import moment from 'moment'
  import ColorPicker from './ColorPicker'
  import HeroIconPicker from './HeroIconPicker'
  import SelectedIcon from './SelectedIcon'
  import ModalBox from '../ModalBox'
  import Multiselect from '@vueform/multiselect'
  import tags from "./tags"
  import {
    mdiTrashCan
  } from '@mdi/js'
  import {
    ref
  } from '@vue/reactivity'
  const {
    toast
  } = require('tailwind-toast')
  import {
    ChatAltIcon,
    TagIcon,
    UserCircleIcon
  } from '@heroicons/vue/solid'
  import axios from 'axios'

  export default {
    components: {
      QuillEditor,
      ColorPicker,
      HeroIconPicker,
      SelectedIcon,
      Multiselect,
      ModalBox,
      ChatAltIcon,
      TagIcon,
      UserCircleIcon,

    },
    props: {
      data: Object
    },
    setup(props) {




      return {
        Wafollowups: ref([]),
        tags,
        newWaMessageModal: ref(false),
        newWaMessage: ref({}),
        newWaDeviceModal: ref(false),
        newWaDevice: ref({}),
        newEmailMessageModal: ref(false),
        newEmailMessage: ref({}),
        devices: ref([]),
        email_messages : ref([]),
        Webhook : ref([]),
        tabs: ref([{
            name: 'Whatsapp',
            href: '#',
            current: true
          },
          {
            name: 'Email',
            href: '#',
            current: false
          },
          {
            name: 'Webhook',
            href: '#',
            current: false
          },
          {
            name: 'OBS',
            href: '#',
            current: false
          }
        ]),

      }
    },
    computed: {
      currentTab() {
        return this.tabs.find(item => item.current).name;
      },

    },
    mounted() {

      axios.get("/api/whatsapp-followup?form_id=" + this.$route.params.id).then(response => {
        this.Wafollowups = response.data;
      })

       axios.get("/api/webhook-notification?form_id=" + this.$route.params.id).then(response => {
        this.Webhook = response.data;
      })


      axios.get("/api/whatsapp-device?form_id=" + this.$route.params.id).then(response => {
        this.devices = response.data;
        this.devices.forEach(item=>{
            axios.post( 'https://api.dripsender.id/open', {
                    api_key: item.whatsapp_id
                }).then(response => {
                  
                    item.state = response.data;
                   
                })
        })
      })

       axios.get("/api/email-followup?form_id=" + this.$route.params.id).then(response => {
        this.email_messages = response.data;
      })

    },
    methods: {
      newMsgOpen() {
        this.newWaMessageModal = true;
        this.newWaMessage = {
          content: '',
          send_after: '1',
          form_id: this.$route.params.id,
          status: this.data.trx_status[0],
          send_after_unit: 'minute',
          hasButton : false,
          footerText : '',
          buttons : ['Konfirmasi']
        }
      },
      newEmailMsgOpen() {
        this.newEmailMessageModal = true;
        this.newEmailMessage = {
          content: '<p>Email Content</p>',
          send_after: '1',
          sender_name : this.$store.state.userName,
          sender_email : 'user-'+this.$store.state.userId+'@drip.id',
          form_id: this.$route.params.id,
          status: this.data.trx_status[0],
          send_after_unit: 'minute'
        }
      },
      newDeviceOpen() {
        this.newWaDeviceModal = true;
        this.newWaDevice = {
          name: '',
          whatsapp_id: '',
          form_id: this.$route.params.id
        }
      },
      clickButton(newText) {

        newText = `[${newText}]`

        let el = document.getElementById("content-msg");

        const start = el.selectionStart
        const end = el.selectionEnd
        const text = el.value
        const before = text.substring(0, start)
        const after = text.substring(end, text.length)
        el.value = (before + newText + after)
        el.selectionStart = el.selectionEnd = start + newText.length
        el.focus()

      },
      selectTab(tab) {
        this.tabs.forEach(item => {
          item.current = false
        })
        tab.current = true;
      },
      saveWaMessage() {

        if (this.newWaMessage.id) {
          axios.put("/api/whatsapp-followup/" + this.newWaMessage.id, this.newWaMessage)
        } else {
          axios.post("/api/whatsapp-followup", this.newWaMessage).then(response => {
            this.Wafollowups.push(response.data)
          })

        }
      },
      DeleteMsg(activityItem) {
        axios.delete("/api/whatsapp-followup/" + activityItem.id)
      },
      DeleteWADevice(activityItem) {
        axios.delete("/api/whatsapp-device/" + activityItem.id)
      },
      DeleteEmailMsg(activityItem)
      {
       axios.delete("/api/email-followup/" + activityItem.id)
      },
      saveWaDevice() {

        if (this.newWaDevice.id) {
          axios.put("/api/whatsapp-device/" + this.newWaDevice.id, this.newWaDevice)
        } else {
          axios.post("/api/whatsapp-device", this.newWaDevice).then(response => {
            this.devices.push(response.data)
          })

        }
      },
      saveEmailMessage(){
            if (this.newEmailMessage.id) {
          axios.put("/api/email-followup/" + this.newEmailMessage.id, this.newEmailMessage)
        } else {
          axios.post("/api/email-followup", this.newEmailMessage).then(response => {
            this.email_messages.push(response.data)
          })

        }
      }
    }


  }

</script>

<style scoped>

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
</style>