<template>
  <Carousel :items-to-show="item_show" :wrap-around="false">
    <Slide style="border:none" v-for="slide in images" :key="slide">
      <div class="carousel__item">
          <img class="w-full" :src="slide" alt="">
      </div>
    </Slide> 
     <template #addons>
        <Pagination  />
    </template>
 
  </Carousel>
</template>

<script>
import { defineComponent } from 'vue'
import { Carousel, Navigation, Pagination, Slide } from 'vue3-carousel';

import 'vue3-carousel/dist/carousel.css';

export default defineComponent({
  name: 'Basic',
  props:{
     images : {
       type : Array,
       default : []
     }
  },
  components: {
    Carousel,
    Slide,
    Pagination,
    Navigation,
  }, 
  computed:{
      item_show(){
          return document.querySelector("body").offsetWidth < 768 ? 1 : 2.1
      }
  }
});
</script>

<style>
.carousel__item {
  min-height: 200px;
  width: 100%;
  background-color: var(--carousel-color-primary);
  color:  var(--carousel-color-white);
  font-size: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slide {
  padding: 10px;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  border: 5px solid white;
}

#app ol,
#app ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel__pagination-item{
    border: none;
}

.carousel__pagination-button{
    background-color: #8e98f3;;
}

.carousel__pagination-button--active{
     background-color: #642afb;;
}
.carousel__pagination-item{
  padding : 0
}
</style>