<template>

 
    <div class="relative inline-block text-left">
        <div>
            <button @click="open = !open" type="button"
                class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                id="menu-button" aria-expanded="true" aria-haspopup="true">
                <div role="checkbox" tabindex="0"
                    class="w-8 h-8 inline-flex rounded-full cursor-pointer border-4 border-white focus:outline-none focus:shadow-outline"
                    :class="`bg-${color}`"></div>
                <div class=" ml-1 text-lg font-bold"> {{color}} </div>
                <!-- Heroicon name: solid/chevron-down -->
                <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
            </button>
        </div>


        <transition enter-active-class="transition ease-out duration-100"
            enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100"
            leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100"
            leave-to-class="transform opacity-0 scale-95">
            <div v-if="open" style="z-index : 10;"
                class="origin-top-right transition duration-300 ease-in-out  absolute px-1   mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="pt-3 flex flex-wrap " role="none">
                    <div v-for="(itemcolor, index) in colors" :key="index">
                        <div class="px-1 mx-auto" @click="open = false;updateColor()">
                            <div v-if="color === itemcolor">
                                <div class="w-8 h-8 inline-flex rounded-full cursor-pointer border-4 border-white"
                                    :style="`; box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);`" :class="`bg-${itemcolor}`"></div>
                            </div>
                            <div v-if="color != itemcolor">
                                <div @click="color = itemcolor" @keydown.enter="color = itemcolor"
                                    role="checkbox" tabindex="0" :aria-checked="color"
                                    class="w-8 h-8 inline-flex rounded-full cursor-pointer border-4 border-white focus:outline-none focus:shadow-outline"
                                    :class="`bg-${itemcolor}`"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
export default { 
  props: {
    // this allows using the `value` prop for a different purpose
 
    // use `title` as the prop which take the place of `value`
    color: {
      type: String,
      default : 'indigo-600',
    }
  },
    data:()=>({
        open : false, 
         colors: ['pink-600', 'pink-500', 'pink-400', 'red-600', 'yellow-600', 'yellow-500', 'yellow-400',
                'green-800', 'green-700', 'green-600', 'green-500', 'green-400', 'blue-600', 'blue-500',
                'blue-400', 'purple-600', 'indigo-600','gray-400'
            ], 
    }),
    mounted(){ 
   
    },
     methods: {
    updateColor() { 
      this.$emit('input', this.color)
    }
  }
}
</script>
