<template>


  <div class="bg-white   shadow-xl sm:rounded-lg pt-1">
    <!-- start form builder -->

    <div :key="index" v-for="(field,index) in data.list_field" @click="active = index" class="flex-auto px-6 py-1"
      :class="index == active ? 'field-active border-indigo-600' : ''">
      <div v-if="index == active">

        <div class="flex flex-wrap">
          <div class="w-1/2">
            <div class=" font-black text-lg -ml-2   px-2 text-gray-800 mb-5 flex  "><svg
                xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
              </svg>
              <div class="ml-1">{{field.type.toUpperCase()}}</div>
            </div>
          </div>
        </div>
        <div v-if="show_HasLabel.includes(field.type)" class="flex flex-wrap ">


          <div v-if="show_name.includes(field.type)" class="w-1/2">
            <div class="mb-4 pl-1">
              <label for="">FieldName / Nama Kolom</label>
              <input type="text" v-model="field.name" @change="checkSpace(field)" placeholder="Contoh : kode_post"
                :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
              <small>fieldname tidak boleh ada space</small>
            </div>
          </div>
        </div>
        <div v-if="show_HasLabel.includes(field.type)" class="flex flex-wrap ">
          <div class="w-1/2">
            <div class="mb-4">
              <label for="">Label</label>
              <input type="text" v-model="field.label" placeholder="Label"
                :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
            </div>
          </div>
          <div v-if="field.type != 'checkbox'" class="w-1/2">
            <div class="mb-4 ml-1">
              <label for="">Placeholder</label>
              <input type="text" v-model="field.placeholder" placeholder="Placeholder"
                :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
            </div>
          </div>
          <div class="w-1/2" v-if="['select','radio'].includes(field.type)">

            <div class="mb-3 mt-3">Pilihan <span @click="field.choices.push('Pilihan '+(field.choices.length+1))"
                class="ml-3 inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs  text-blue-600 border-blue-600 hover:bg-blue-600 hover:text-white bg-white hover:bg-blue-600"><i
                  class="fas fa-plus mr-1"></i> tambah pilihan</span></div>

            <div class="mb-3" v-for="(choice,idx) in field.choices" :key="idx">
              <div class="relative flex items-stretch w-full mb-3">
                <input type="text"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  placeholder="Pilihan" v-model="field.choices[idx]">
                <div class="input-group-append">
                  <button @click="field.choices.splice(idx,1)"
                    class="inline-block ml-1 align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline text-red-600 border-red-600 hover:bg-red-600 hover:text-white bg-white hover:bg-red-700"
                    type="button"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg></button>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div v-if="field.type == 'phone'">

          <div class="mb-4">
                <label for=""> Ubah No Whatsapp</label>
                <select  
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  v-model="field.cast_phone_number">
                  <option :value="undefined">Tidak dirubah</option>
                  <option :value="item.dial_code" v-for="item in countryCode" :key="item.name">{{item.name}} ({{item.dial_code}})</option>
                
                </select>
                <p><small>mengubah nomor whatsapp sudah menjadi prefix kode negara</small></p>
              </div>

        </div>
        <div v-if="field.type == 'text'">

          <QuillEditor :content="field.content" @update:content="field.content = $event" />
          <br>

        </div>

        <div v-if="field.type == 'tanda tangan'">
          <div class="w-1/2">
            <div class="mb-4">
              <label for="">Label</label>
              <input type="text" v-model="field.label" placeholder="Label"
                :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
            </div>
          </div>
        </div>
        <div v-if="field.type == 'ongkos kirim'">
          <div class="mb-1 font-medium">
            Asal Produk / Dikirim Dari
          </div>
          <div class="flex">
            <div class="w-1/2">
              <div class="mb-4">
                <label for="">Pilih Provinsi</label>
                <select @change="fetchCity(field.province_id)"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  v-model="field.province_id">
                  <option :value="''">Pilih Provinsi</option>
                  <option v-for="item in provinces" :key="item.province_id" :value="item.province_id">{{item.province}}
                  </option>
                </select>
              </div>
            </div>
            <div class="w-1/2">
              <div class="mb-4 ml-1">
                <label for="">Pilih Kota/Kabupaten</label>
                <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  v-model="field.city_id">
                  <option :value="''">Pilih Kota</option>
                  <option v-for="item in cities" :key="item.city_id" :value="item.city_id">{{item.type}}
                    {{item.city_name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="pb-5">
            <label for="">Pilih Kurir</label>
            <Multiselect placeholder="Belum ada kurir dipilih" mode="tags" v-model="field.list_couriers"
              :options="['jne', 'pos', 'tiki', 'rpx', 'pandu', 'wahana', 'sicepat', 'jnt', 'pahala', 'sap', 'jet', 'indah', 'dse', 'slis', 'first', 'ncs', 'star', 'ninja', 'lion', 'idl', 'rex', 'ide', 'sentral', 'anteraja']" />
          </div>
        </div>

        <div v-if="field.type == 'donasi'">
           <div class="">
            <div class="mb-4">
              <label for="">Nominal minimum</label>
              <input type="text" v-model="field.minimum_donasi" placeholder="10000"
                :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
            </div>
          </div>
          <div class="pb-5">
            <label for="">Input Cepat</label>
            <Multiselect @tag=""  :createTag="true"     :searchable="true"  placeholder="Pilih Nominal" mode="tags" v-model="field.quick_input_list"
              :options="field.quick_input_list" />
          </div>
        </div>
        <div v-if="field.type == 'click'">

          <div class="flex flex-wrap">
            <div class="w-1/2">
              <div class="mb-4">
                <label for="">Url</label>
                <input type="text" v-model="field.url_click" name="price" id="price"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  placeholder="https://instagram.com" aria-describedby="price-currency">
              </div>
            </div> 
            <div class="w-1/2 ">
              <div class="mb-4 ml-1">
                <label for="">Call to Action</label>
                <input type="text" v-model="field.click_cta"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
              </div>
            </div> 

          </div>


          

        </div>
      
        <div v-if="field.type == 'link rotator'">

          <div class="">
         
            <div class="  ">
              <div class="mb-4  ">
                <label for="">Call to Action</label>
                <input type="text" v-model="field.click_cta"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
              </div>
            </div> 
            <div class="mb-4">
              <label for="">Metode Pemilihan Link</label>
              <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                v-model="field.link_method">
                <option value="random">Random</option>
                <option value="sequential">Sequential</option>
              </select>
            </div>
              <div class="mb-3 mt-3">Daftar Link <span @click="field.urls.push({url : '', weight : 1})"
                class="ml-3 inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs  text-blue-600 border-blue-600 hover:bg-blue-600 hover:text-white bg-white hover:bg-blue-600"><i
                  class="fas fa-plus mr-1"></i> tambah pilihan</span></div>

            <div class="mb-3" v-for="(choice,idx) in field.urls" :key="idx">
              <div class="relative flex items-stretch w-full mb-3">
                <input type="text"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  placeholder="https://wa.me/62813512222222" v-model="field.urls[idx].url">
                <input type="text"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-10 ml-1 py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  placeholder="1" v-model="field.urls[idx].weight">
                <div class="input-group-append">
                  <button @click="field.urls.splice(idx,1)"
                    class="inline-block ml-1 align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline text-red-600 border-red-600 hover:bg-red-600 hover:text-white bg-white hover:bg-red-700"
                    type="button"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg></button>
                </div>
              </div>
            </div>

          </div>


        

        </div>
        <div v-if="field.type == 'produk'">

          <div class=" ">
            <div class="mb-4">
              <label for="">Title Bar</label>
              <input type="text" v-model="field.title"
                :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
            </div>
          </div>
          <div class="my-3" :key="key" v-for="(item,key) in field.products">
            <div class="mb-1 font-medium">
              Produk {{key+1}}
            </div>
            <div class=" ">
              <div class="mb-4">
                <label for="">Title Produk</label>
                <input type="text" v-model="item.title"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
              </div>
            </div>

            <div class="flex flex-wrap">
              <div class="w-1/2">
                <div class="mb-4">
                  <label for="">Berat</label>
                  <input type="text" v-model="item.weight"
                    :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                    class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
                </div>
              </div>
              <div class="w-1/2">
                <div class="mb-4 ml-1">
                  <label for="">Harga</label>
                  <input type="text" v-model="item.price"
                    :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                    class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
                </div>
              </div>
            </div>
            <div class=" ">
              <div class="mb-4">
                <label for="">Deskripsi Produk</label>
                <input type="text" v-model="item.description"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
              </div>
            </div>
            <div class=" ">
              <div class="mb-4">
                <label for="">Call to Action</label>
                <input type="text" v-model="item.call_to_action"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
              </div>
            </div>
            <div>
              <div class="flex items-start py-3 space-x-4">
                <img :src="item.thumbnail" class="flex-none w-20 h-20 rounded-md object-center object-cover">
                <div class=" ">
                  <div class="mt-3 mb-1">
                    <label for="upload-gambar">Upload Gambar</label>
                  </div>
                  <input @change="uploadThumbnail($event,item)" id="upload-gambar" type="file">
                </div>

              </div>
            </div>
             <div class="mb-4">
              <label for="">Tipe Produk</label>
              <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                v-model="field.product_type">
                <option value="single">Single</option>
                <option value="varian">Varian</option>
              </select>
            </div>
          </div>

          <button class="mt-3 text-indigo-600 mb-3"
            @click="field.products.push(JSON.parse(JSON.stringify(new_product)))">Tambah
            Produk</button>
        </div>
        <div v-if="field.type == 'carousel'">
 
          <div class="my-3" :key="key" v-for="(item,key) in field.images">
             
            <div>
              <div class="flex items-start py-3 space-x-4">
                <img :src="item" class="flex-none w-20 h-20 rounded-md object-center object-cover">
                <div class=" ">
                  <div class="mt-3 mb-1">
                    <label for="upload-gambar">Upload Gambar</label>
                  </div>
                  <input @change="uploadCarousel($event,field,key)" id="upload-carousel" type="file">
                </div>

              </div>
            </div>
          </div>

          <button v-if="field.images.length <= 10" class="mt-3 text-indigo-600 mb-3"
            @click="field.images.push('')">Tambah
            Gambar</button>
        </div>
        <div v-if="field.type == 'countdown'" class="flex flex-wrap ">
          <div class="w-1/2">
            <div class="mb-4">
              <label for="">Tipe Countdown</label>
              <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                v-model="field.countdown_type">
                <option value="evergreen">Evergreen</option>
                <option value="fixed">Waktu Tetap</option>
              </select>
            </div>
          </div>
          <div v-if="field.countdown_type == 'evergreen'" class="w-1/2 pl-1">
            <div class="mb-4">
              <label for="">Waktu Expire</label>
              <div class="  relative rounded-md shadow-sm">

                <input type="text" v-model="field.evergreen_time" name="price" id="price"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  placeholder="120" aria-describedby="price-currency">
                <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                  <span class="text-gray-500 sm:text-sm" id="price-currency">
                    MENIT
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div v-else-if="field.countdown_type == 'fixed'" class="w-1/2 pl-1">
            <div class="mb-4">
              <label for="">Waktu Expire</label>
              <input v-model="field.fixed_time" type="datetime-local"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
            </div>
          </div>
        </div>

        <div class="mb-3" v-if="field.type == 'submit'">
          <div class="flex flex-wrap ">
            <div class="w-1/2">
              <div class="mb-4">
                <label for="">Text</label>
                <input type="text" v-model="field.text" placeholder="Text Button"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
              </div>
            </div>

          </div>
          <div class="flex flex-wrap ">
            <div class="w-full">
              <div class="mb-4">
                <label for="">Action Script</label>
                <textarea v-model="field.action_script"  @change="purifyScript(field)" placeholder="tambahkan script action ketika lead submit form. cth : facebook pixel Lead Trigger"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded" ></textarea>
              </div>
            </div>

          </div>
         
        </div>

          <div v-if="['click','link rotator','submit'].includes(field.type)">

            <div class="  ">
              <div class="pl-1">
                <label for="">Warna Button</label>
                <div class=" ">
                  <ColorPicker :color="field.color" @input="field.color = $event" />
                </div>
              </div>
            </div>
            <div class=" mt-3 ">
              <div class="pl-1">
                <label for="">Icon Button</label>
                <div class="mt-1">
                  <HeroIconPicker :icon="field.icon" @input="field.icon = $event" />
                </div>
              </div>
            </div>
          </div>

        <div   class="flex flex-wrap  ml-1">
          <button @click="moveTo(-1)"
            class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12" />
            </svg></button>
          <button @click="moveTo(1)"
            class="ml-1 inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 13l-5 5m0 0l-5-5m5 5V6" />
            </svg></button>

          <button @click="clone(field,index);"
            class="ml-1  inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
            </svg>
          </button>
          <button @click="data.list_field.splice(index,1);"
            class="ml-1  inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg></button>

          <div class=" ml-1 flex items-center justify-center bg-white">

            <div class="flex items-center">
              <button type="button" @click="field.required = !field.required" aria-pressed="false"
                aria-labelledby="toggleLabel" :value="field.required"
                :class="{ 'bg-gray-200': !field.required, 'bg-indigo-600': field.required }"
                class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <span class="sr-only">Use setting</span>
                <span aria-hidden="true" :class="{ 'translate-x-5': field.required, 'translate-x-0': !field.required }"
                  class="pointer-events-none translate-x-0 inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
              </button>
              <span class="ml-3" id="toggleLabel">
                <span class="text-sm font-medium text-gray-900">Required </span>
                <span class="text-sm text-gray-500">(Harus diisi)</span>
              </span>
            </div>

          </div>

        </div>

      </div>
      <div v-else class="my-3">
        <div v-if="show_input.includes(field.type)" class="mb-4">
          <label class="block text-md font-semibold text-gray-700 mb-1" for="">{{field.label}}</label>
          <input :class="`focus:outline-none focus:ring-2 focus:ring-${data.color_schema} focus:border-transparent`"
            class="block appearance-none w-full py-3 px-4 mb-1   text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
            type="text" :placeholder="field.placeholder">
        </div>
        <div v-if="['select','radio'].includes(field.type)" class="mb-4">
          <label class="block text-md font-semibold text-gray-700 mb-1" for="">{{field.label}}</label>
          <select name="" id=""
            :class="`focus:outline-none focus:ring-2 focus:ring-${data.color_schema} focus:border-transparent`"
            class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
            <option :key="choice" value="" v-for="choice in field.choices">{{choice}}</option>
          </select>
        </div>
        <div v-if="['textarea','pesan','alamat'].includes(field.type)" class="mb-4">
          <label class="block text-md font-semibold text-gray-700 mb-1" for="">{{field.label}}</label>
          <textarea :class="`focus:outline-none focus:ring-2 focus:ring-${data.color_schema} focus:border-transparent`"
            class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
            type="text" :placeholder="field.placeholder"></textarea>
        </div>
        <div v-if="'checkbox' == (field.type)" class="mb-4">

          <div class="flex items-center">
            <input id="remember_me" name="remember_me" type="checkbox"
              class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
            <label for="remember_me" class="ml-2 block text-sm text-gray-900">
              {{field.label}}
            </label>
          </div>
        </div>
        <div class="ql-editor" style="padding : 0!important;" v-html="field.content" v-if="field.type == 'text'">

        </div>
        <div v-if="field.type == 'kecamatan'">
          <label class="block text-md font-semibold text-gray-700 mb-1" for="">{{field.label}}</label>
          <input :class="`focus:outline-none focus:ring-2 focus:ring-${data.color_schema} focus:border-transparent`"
            class="block appearance-none w-full py-3 px-4 mb-1   text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
            type="text" :placeholder="field.placeholder">
        </div>
        <div v-if="field.type == 'tanda tangan'">
          <label class="block text-md font-semibold text-gray-700 mb-1" for="">{{field.label}}</label>
          <canvas class="border-2 border-indigo-600"></canvas>
        </div>
         <div v-if="field.type == 'carousel'">
           <Carousel :images="field.images"></Carousel>
        </div>
        <div v-if="field.type == 'produk'">
          <h2 id="summary-heading" class="text-lg font-medium text-gray-900 mb-3 ">{{field.title}}
          </h2>



          <ul role="list" class="border-t border-b border-gray-200 divide-y divide-gray-200">
            <li class="flex py-6" v-for="item in field.products" :key="item.title">
              <div class="flex-shrink-0">
                <img :src="item.thumbnail" alt="Front side of mint cotton t-shirt with wavey lines pattern."
                  class="w-24 h-24 rounded-md object-center object-cover sm:w-32 sm:h-32">
              </div>

              <div class="ml-4 flex-1 flex flex-col sm:ml-6">
                <div>
                  <div class="flex justify-between">
                    <h4 class="text-sm">
                      <a href="#" class="font-medium text-gray-700 hover:text-gray-800">
                        {{item.title}}
                      </a>
                    </h4>

                  </div>
                  <p class="mt-1 text-sm text-gray-500">
                    {{item.description}}
                  </p>
                </div>

                <div class="mt-4 flex-1 flex items-end justify-between">
                  <p class=" text-sm font-medium text-gray-900">Rp.{{item.price.toLocaleString('id')}}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div v-if="field.type == 'ongkos kirim'">
          <h2 id="summary-heading" class="text-lg font-medium text-gray-900 mb-3">Pilih Kurir Pengiriman</h2>
          <fieldset>
            <legend>
              <h3 class="text-md  text-gray-900 mb-3">Sicepat (Sample)</h3>
            </legend>
            <div class="relative bg-white rounded-md -space-y-px">
              <!-- Checked: "bg-indigo-50 border-indigo-200 z-10", Not Checked: "border-gray-200" -->
              <label
                class="rounded-tl-md rounded-tr-md relative border p-4 flex flex-col cursor-pointer md:pl-4 md:pr-6 md:grid md:grid-cols-3 focus:outline-none">
                <div class="flex items-center text-sm">
                  <input type="radio" name="pricing-plan" value="Startup"
                    class="h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500"
                    aria-labelledby="pricing-plans-0-label"
                    aria-describedby="pricing-plans-0-description-0 pricing-plans-0-description-1">
                  <!-- Checked: "text-indigo-900", Not Checked: "text-gray-900" -->
                  <span id="pricing-plans-0-label" class="ml-3 font-medium">Cepat</span>
                </div>
                <p id="pricing-plans-0-description-0" class="ml-6 pl-1 text-sm md:ml-0 md:pl-0 md:text-center">
                  <!-- Checked: "text-indigo-900", Not Checked: "text-gray-900" -->
                  <span class="font-medium">Rp.30.000</span>
                  <!-- Checked: "text-indigo-700", Not Checked: "text-gray-500" -->

                </p>
                <!-- Checked: "text-indigo-700", Not Checked: "text-gray-500" -->
                <p id="pricing-plans-0-description-1" class="ml-6 pl-1 text-sm md:ml-0 md:pl-0 md:text-right">5 hari</p>
              </label>

              <!-- Checked: "bg-indigo-50 border-indigo-200 z-10", Not Checked: "border-gray-200" -->
              <label
                class="relative border p-4 flex flex-col cursor-pointer md:pl-4 md:pr-6 md:grid md:grid-cols-3 focus:outline-none">
                <div class="flex items-center text-sm">
                  <input type="radio" name="pricing-plan" value="Business"
                    class="h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500"
                    aria-labelledby="pricing-plans-1-label"
                    aria-describedby="pricing-plans-1-description-0 pricing-plans-1-description-1">
                  <!-- Checked: "text-indigo-900", Not Checked: "text-gray-900" -->
                  <span id="pricing-plans-1-label" class="ml-3 font-medium">Sedang</span>
                </div>
                <p id="pricing-plans-1-description-0" class="ml-6 pl-1 text-sm md:ml-0 md:pl-0 md:text-center">
                  <!-- Checked: "text-indigo-900", Not Checked: "text-gray-900" -->
                  <span class="font-medium">Rp.20.000</span>
                  <!-- Checked: "text-indigo-700", Not Checked: "text-gray-500" -->

                </p>
                <!-- Checked: "text-indigo-700", Not Checked: "text-gray-500" -->
                <p id="pricing-plans-1-description-1" class="ml-6 pl-1 text-sm md:ml-0 md:pl-0 md:text-right">6 hari</p>
              </label>

              <!-- Checked: "bg-indigo-50 border-indigo-200 z-10", Not Checked: "border-gray-200" -->
              <label
                class="rounded-bl-md rounded-br-md relative border p-4 flex flex-col cursor-pointer md:pl-4 md:pr-6 md:grid md:grid-cols-3 focus:outline-none">
                <div class="flex items-center text-sm">
                  <input type="radio" name="pricing-plan" value="Enterprise"
                    class="h-4 w-4 text-indigo-600 border-gray-300 focus:ring-indigo-500"
                    aria-labelledby="pricing-plans-2-label"
                    aria-describedby="pricing-plans-2-description-0 pricing-plans-2-description-1">
                  <!-- Checked: "text-indigo-900", Not Checked: "text-gray-900" -->
                  <span id="pricing-plans-2-label" class="ml-3 font-medium">Lambat</span>
                </div>
                <p id="pricing-plans-2-description-0" class="ml-6 pl-1 text-sm md:ml-0 md:pl-0 md:text-center">
                  <!-- Checked: "text-indigo-900", Not Checked: "text-gray-900" -->
                  <span class="font-medium">Rp.10.000</span>
                  <!-- Checked: "text-indigo-700", Not Checked: "text-gray-500" -->

                </p>
                <!-- Checked: "text-indigo-700", Not Checked: "text-gray-500" -->
                <p id="pricing-plans-2-description-1" class="ml-6 pl-1 text-sm md:ml-0 md:pl-0 md:text-right">7 hari</p>
              </label>
            </div>
          </fieldset>
        </div>
        <div v-if="field.type == 'rincian pembelian'">
          <h2 id="summary-heading" class="text-lg font-medium text-gray-900">Rincian Pembelian</h2>

          <ul role="list" class="text-sm font-medium text-gray-900 divide-y divide-gray-200">
            <li v-for="item in hasField('produk').products" :key="item.title" class="flex items-start py-6 space-x-4">
              <img :src="item.thumbnail"
                alt="Moss green canvas compact backpack with double top zipper, zipper front pouch, and matching carry handle and backpack straps."
                class="flex-none w-20 h-20 rounded-md object-center object-cover">
              <div class="flex-auto space-y-1">
                <h3>{{item.title}}</h3>
                <p class="text-gray-500">1 x</p>
              </div>
              <p class="flex-none text-base font-medium">Rp.{{item.price}}</p>
            </li>

            <!-- More products... -->
          </ul>

          <dl class="  text-sm font-medium text-gray-900 space-y-6 border-t border-gray-200 pt-6 ">
            <div class="flex items-center justify-between">
              <dt class="text-gray-600">Subtotal</dt>
              <dd>Rp.10.000</dd>
            </div>

            <div class="flex items-center justify-between">
              <dt class="text-gray-600">Ongkos Kirim</dt>
              <dd>Rp.0</dd>
            </div>


            <div class="flex items-center justify-between border-t border-gray-200 pt-6">
              <dt class="text-base">Total</dt>
              <dd class="text-base">Rp.10.000</dd>
            </div>
          </dl>


        </div>
        <div style="padding : 0!important;" v-if="['click','link rotator'].includes(field.type)">
          <button type="submit" :class="`bg-${field.color}`"
            class="w-full text-lg mt-1 inline-flex items-center justify-center px-6 py-2 border border-transparent rounded-md shadow-sm text-base font-semibold text-white  ">
            <SelectedIcon class="mr-1" :icon="field.icon" /> {{field.click_cta}}  
          </button>
        </div>
        <div v-if="field.type == 'countdown'">
          <div class="text-6xl text-center flex w-full items-center justify-center">

            <div :class="`bg-${data.color_schema}`" class="w-24 mx-1 p-2   text-white rounded-lg">
              <div class="font-mono leading-none" x-text="days">00</div>
              <div class="font-mono uppercase text-sm leading-none">Hari</div>
            </div>
            <div :class="`bg-${data.color_schema}`" class="w-24 mx-1 p-2   text-white rounded-lg">
              <div class="font-mono leading-none" x-text="hours">00</div>
              <div class="font-mono uppercase text-sm leading-none">Jam</div>
            </div>
            <div :class="`bg-${data.color_schema}`" class="w-24 mx-1 p-2   text-white rounded-lg">
              <div class="font-mono leading-none" x-text="minutes">00</div>
              <div class="font-mono uppercase text-sm leading-none">Menit</div>
            </div>

            <div :class="`bg-${data.color_schema}`" class="w-24 mx-1 p-2   text-white rounded-lg">
              <div class="font-mono leading-none" x-text="seconds">00</div>
              <div class="font-mono uppercase text-sm leading-none">Detik</div>
            </div>
          </div>

        </div>
        <div v-if="field.type == 'submit'">

          <button type="submit" :class="`bg-${field.color} `"
            class="w-full text-lg mt-1 inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-semibold text-white  ">
            <SelectedIcon class="mr-1" :icon="field.icon" /> {{field.text}}
          </button>
        </div>
      </div>
    </div>
    <div class="py-3 px-6 bg-gray-200 border-t-1 border-gray-300">
      <div class="mt-2">Standar Input</div>
      <button @click="addField(btn)" :key="btn"
        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline mt-1 mr-1 bg-gray-600 text-white hover:bg-gray-700"
        v-for="btn in list_type">{{btn}}</button>
      <div class="mt-2">Special Input</div>
      <button @click="addField(btn)" :key="btn"
        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline mt-1 mr-1 bg-gray-600 text-white hover:bg-gray-700"
        v-for="btn in special_input">{{btn}}</button>
       <div class="mt-2">Widget</div>
      <button @click="addField(btn)" :key="btn"
        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline mt-1 mr-1 bg-gray-600 text-white hover:bg-gray-700"
        v-for="btn in widget">{{btn}}</button>
      <div class="mt-2">Ecommerce (Toko Online)</div>
      <button @click="addField(btn)" :key="btn"
        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline mt-1 mr-1 bg-gray-600 text-white hover:bg-gray-700"
        v-for="btn in ecommerce">{{btn}}</button>
    </div>

    <!-- image uploader -->

    <!--  -->

    <!-- end form builder -->
  </div>

  <div class="pb-32 mt-10">
    <label for="about" class="block text-sm font-medium text-gray-700">
      Schema Warna
    </label>
    <div class="mt-1">

      <ColorPicker :color="data.color_schema" @input="data.color_schema = $event" />
    </div>
  </div>
</template>

<script>
  import QuillEditor from './QuillEditor.vue'
  import moment from 'moment'
  import ColorPicker from './ColorPicker'
  import HeroIconPicker from './HeroIconPicker'
  import SelectedIcon from './SelectedIcon'
  import Multiselect from '@vueform/multiselect'
  import countryCode from './countrycode.json'
  import Carousel from './Carousel'
  export default {
    components: {
      QuillEditor,
      ColorPicker,
      HeroIconPicker,
      Multiselect,
      SelectedIcon,
      Carousel
    },
    props: {
      data: Object
    },
    data: () => ({
      countryCode,
      open: false,
      colors: ['pink-600', 'pink-500', 'pink-400', 'red-600', 'yellow-600', 'yellow-500', 'yellow-400',
        'green-800', 'green-700', 'green-600', 'green-500', 'green-400', 'blue-600', 'blue-500',
        'blue-400', 'purple-600', 'indigo-600'
      ],
      show_name: ['input', 'textarea', 'select', 'checkbox', 'radio'],
      show_input: ['name', 'phone', 'email', 'input','donasi'],
      show_HasLabel: ['name', 'phone', 'email', 'input', 'textarea', 'kecamatan', 'select', 'radio',
        'checkbox','pesan','alamat','donasi'
      ],
      list_type: ['name', 'phone', 'email', 'input', 'textarea', 'select', 'radio', 'text', 'checkbox', 'submit'],
      special_input: ['kecamatan', 'tanda tangan','alamat','donasi','pesan'],
      widget : ['link rotator','click','countdown','carousel'],
      ecommerce: ['produk', 'ongkos kirim', 'rincian pembelian'],
      only_one: ['name', 'phone', 'email', 'kecamatan', 'tanda tangan', 'produk', 'rincian pembelian',
        'asal pengiriman','submit','alamat','pesan','donasi'
      ],
      active: 1,
      provinces: [],
      cities: []
    }),
    mounted() {

      setTimeout(() => {
        if (this.data.list_field) {
          const ongkir = this.hasField('ongkos kirim');
          if (ongkir) {
            this.fetchProvince();
            if (ongkir.province_id) {
              this.fetchCity(ongkir.province_id)
            }
          }
        }
      }, 1000)

      setTimeout(()=>{
          let videos = document.querySelectorAll(".ql-video");

            if(videos)
            {
                videos.forEach(item=>{
                    item.style.height = (item.offsetWidth / 16 * 9)+'px';
                })
            }
      },100)

    },
    computed: {
      new_product() {
        return {
          price: 10000,
          weight: 100,
          thumbnail: 'https://tailwindui.com/img/ecommerce-images/checkout-page-03-product-04.jpg',
          title: 'Produk Kamu',
          description: 'produk ini bisa menambah keuangan kamu',
          call_to_action: 'PILIH PRODUK'
        }
      }
    },
    methods: {
      moveTo(modifier) {
        if (this.active + modifier >= 0 && this.active + modifier < this.data.list_field.length - 1) {
          var new_index = this.active + modifier;
          var temp = JSON.parse(JSON.stringify(this.data.list_field[this.active]))
          this.data.list_field.splice(this.active, 1);
          this.data.list_field.splice(new_index, 0, temp);
          setTimeout(() => {
            this.active = new_index
          }, 100)
        }
      },
      changeTipe(field) {
        field.name = field.type;
        field.placeholder = this.generatePlaceholder(field.type)
        field.label = field.type;
      },
      fetchProvince() {
        axios.get("https://ongkirapi.maxgrabb.com/list/province").then(response => {
          this.provinces = response.data;
        })
      },
      fetchCity(id) {
        axios.get("https://ongkirapi.maxgrabb.com/list/city?id=" + id).then(response => {
          this.cities = response.data;
        })
      },
      hasField(field_type) {
        if (this.data.list_field) {
          let find = this.data.list_field.find(item => {
            return item.type == field_type;
          })
          return find;
        }

      },
      addField(btn) {

        if (this.only_one.includes(btn)) {

          const find = this.data.list_field.find(item => {
            return item.type == btn;
          })
          if (find) {
            alert('input ' + btn + ' sudah masuk di form')
            return;
          }
        }

        var data = {
          type: btn,
          name: this.show_name.includes(btn) ? 'input-' + Math.floor(Math.random() * 1000) : btn,
          required: true,
          header: 'single',
          placeholder: this.generatePlaceholder(btn),
          label: this.show_name.includes(btn) ? 'Pertanyaan?' : btn,
          choices: ['Pilihan 1']
        };

        if(btn == 'phone')
        {
          data.cast_phone_number = '+62' 
        }
        if(btn == 'carousel')
        {
          data.images = ['']
        }
        if(btn == 'link rotator')
        {
          data.click_cta = "Klik link ini"
          data.rotator_id = Math.random().toString(36).slice(2);
          data.link_method = 'random'
          data.urls = [{url : "", weight : 1}]
          data.color = 'red-600'
          data.icon = 'arrow-circle-right'
        }

        
        if (btn == 'donasi') {
          if(this.hasField('produk'))
          {
              alert('donasi tidak bisa digabung dengan produk')
            return;
          }
          data.minimum_donasi = 10000
          data.label = 'Jumlah Donasi'
           data.header = 'special'
          data.quick_input_list = [10000,50000,100000,250000,500000,1000000]
          this.data.trx_status = ["dipesan", "dibayar"]
        }

         if (btn == 'click') {
          data.url_click = ''
          data.click_cta = 'Kunjungi Instagram'   
          data.color = 'red-600'
          data.icon = 'arrow-circle-right'
        }


        if (btn == 'tanda tangan') {
          data.name = 'signature'
          data.header = 'special'
        }

        if (btn == 'button') {
          data.icon = 'arrow-circle-right'
          data.header = null;
        }
        if (btn == 'text') {
          data.content = '<h4>Text</h4>'
          data.header = null;
        }
        if (btn == 'countdown') {
          data.countdown_type = 'evergreen'
          data.evergreen_time = 120
          data.header = null;
          data.countdown_id = Math.random().toString(36).slice(2);
          data.fixed_time = moment().add(2, 'days').format('YYYY-MM-DDTHH:mm');
        }
        if (btn == 'kecamatan') {
          data.header = 'special'
        }
        if (btn == 'produk') {
           if(this.hasField('donasi'))
          {
              alert('produk tidak bisa digabung dengan donasi')
            return;
          }
          data.is_ecommerce = true;
          data.header = 'special'
          data.title = 'Daftar Produk';
          data.products = [JSON.parse(JSON.stringify(this.new_product))]
          this.data.trx_status = ["dipesan", "dibayar", "diproses", "dikirim", "selesai"]

        }
        if (btn == 'ongkos kirim') {
          if (!this.hasField('kecamatan')) {
            alert("kecamatan belum ditambahkan")
            return;
          }
          data.header = 'special'
          data.title = 'Pilih Kurir Pengiriman';
          data.province_id = '';
          data.city_id = '';
          data.courier_id = '';
          data.opsi = 'ongkir indonesia'
          data.flat_price = 0;
          data.list_couriers = [];
          this.fetchProvince();
        }
        if (btn == 'rincian pembelian') {
          data.header = 'special'
          data.title = 'Rincian Pembelian';
        }


        // if(this.ecommerce.includes(btn))
        // {
        //     alert('coming next')
        //     return;
        // }
        const w = ['text','submit'].concat(this.widget)
        if(w.includes(btn))
        {
            this.data.list_field.push(data)
            this.active = this.data.list_field.length - 1;
        } else{
          let index = this.data.list_field.findIndex(item=>{
              return item.type == 'submit';
          })
          if(index > -1)
          {
            this.data.list_field.splice(index, 0, data)
            this.active = index;
          }
        }
        // this.data.list_field.splice(this.data.list_field.length - 1, 0, data)
        // this.active = this.data.list_field.length - 2;




      },

      insertAtCursor(selector, myValue, item) {
        //IE support
        var myField = document.querySelector(selector)
        if (document.selection) {
          myField.focus();
          sel = document.selection.createRange();
          sel.text = myValue;
          if (item) {
            item.success_text = sel.text
          }
        }
        //MOZILLA and others
        else if (myField.selectionStart || myField.selectionStart == '0') {
          var startPos = myField.selectionStart;
          var endPos = myField.selectionEnd;
          myField.value = myField.value.substring(0, startPos) +
            myValue +
            myField.value.substring(endPos, myField.value.length);
          myField.focus();
          myField.selectionStart = endPos + myValue.length;
          myField.selectionEnd = endPos + myValue.length;

          if (item) {
            item.success_text = myField.value
          }

        } else {
          myField.value += myValue;
        }
      },
      clone(field, index) {
        if (this.only_one.includes(field.type)) {

          const find = this.data.list_field.find(item => {
            return item.type == field.type;
          })
          if (find) {
            alert('input ' + field.type + ' tidak bisa di clone')
            return;
          }
        }

        var field = JSON.parse(JSON.stringify(field));
        field.name = 'input-' + Math.floor(Math.random() * 1000);

        this.data.list_field.splice(index, 0, field)
      },
      uploadCarousel(e,field,index)
      {
         var form = new FormData()
        form.append('folder', 'drip-form')
        form.append("image", e.target.files[0]);
        axios.post('https://image.maxgrabb.com/upload', form, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then(response => {
          field.images[index] = response.data.url;
        })
      },
      uploadThumbnail(e, product) {

        //you can get images data in e.target.files
        //an single example for using formData to post to server


        var form = new FormData()
        form.append('folder', 'drip-form')
        form.append("image", e.target.files[0]);
        axios.post('https://image.maxgrabb.com/upload', form, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then(response => {
          product.thumbnail = response.data.url;
        })

        //do your post


      },
      generatePlaceholder(btn) {
        switch (btn) {
          case 'name':
            return 'Masukan Nama Kamu'
            break;
          case 'phone':
            return 'Masukan No.WA'
            break;
          case 'email':
            return 'Masukan Email Kamu'
            break;
          case 'kecamatan':
            return 'Masukan Nama Kecamatan'
            break;
          case 'alamat':
            return 'Masukan Alamat Lengkap'
            break;
          case 'donasi':
            return 'Jumlah Donasi'
            break;
          case 'pesan':
            return 'Pesan yang mau disampaikan'
            break;
          case 'textarea':
            return 'Jawaban Panjang'
            break;
          case 'select':
            return 'Pilih Jawaban'
            break;
          default:
            return 'Jawaban Singkat'
        }

      },
      generatePosition(position) {
        switch (position) {
          case 'kanan':
            return 'text-right'
            break;
          case 'kiri':
            return 'text-left'
            break;
          case 'tengah':
            return 'text-center'
            break;
          default:
            return 'btn-block'
        }
      },
      purifyScript(field)
      {
        field.action_script = field.action_script.split("<script>").join("")
        field.action_script = field.action_script.split("<\/script>").join("")
      }
    }
  }

</script>
<style>
  .field-active {
    border-left-width: 5px;
    border-right-width: 3px;
    border-style: solid;
    border-top: 1px #e0e0e0 dashed;
    border-bottom: 1px #e0e0e0 dashed;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .ql-editor h1 {
    font-size: 2em !important;
    font-weight: bolder;
  }

  .ql-editor h2 {

    font-size: 1.8em !important;
    font-weight: bolder;
  }

  .ql-editor h3 {
    font-size: 1.6em !important;
    font-weight: bolder;
  }

  .ql-editor h4 {

    font-size: 1.4em !important;
    font-weight: bolder;
  }

  .ql-editor h5 {
    font-size: 1.2em !important;
    font-weight: bolder;
  }

  .ql-editor h6 {

    font-size: 1em !important;
    font-weight: bolder;
  }

</style>
