<template>
    <div class="relative inline-block text-left">
        <div class=" flex flex-wrap " role="none">
            <div @click="icon = 'arrow-circle-right';$emit('input', icon)"
                :class="icon == 'arrow-circle-right' ? 'border-indigo-600' :''"
                class="px-2   cursor-pointer hover:border-indigo-400 mr-1 text-gray-500 rounded-md py-2 border-2 border-gray-200 border-solid">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </div>
            <div @click="icon = 'arrow-narrow-right';$emit('input', icon)"
                :class="icon == 'arrow-narrow-right' ? 'border-indigo-600' :''"
                class="px-2   cursor-pointer hover:border-indigo-400 mr-1 text-gray-500 rounded-md py-2 border-2 border-gray-200 border-solid">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
            </div>
            <div @click="icon = 'chevron-double-right';$emit('input', icon)"
                :class="icon == 'chevron-double-right' ? 'border-indigo-600' :''"
                class="px-2   cursor-pointer hover:border-indigo-400 mr-1 text-gray-500 rounded-md py-2 border-2 border-gray-200 border-solid">
             <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
</svg>

            </div>
              <div @click="icon = 'chevron-right';$emit('input', icon)"
                :class="icon == 'chevron-right' ? 'border-indigo-600' :''"
                class="px-2   cursor-pointer hover:border-indigo-400 mr-1 text-gray-500 rounded-md py-2 border-2 border-gray-200 border-solid">
             <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
</svg>

            </div>
                
            <div @click="icon = 'arrow-sm-right';$emit('input', icon)"
                :class="icon == 'arrow-sm-right' ? 'border-indigo-600' :''"
                class="px-2   cursor-pointer hover:border-indigo-400 mr-1 text-gray-500 rounded-md py-2 border-2 border-gray-200 border-solid">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 7l5 5m0 0l-5 5m5-5H6" />
                </svg>

            </div>
            <div @click="icon = 'badge-check';$emit('input', icon)"
                :class="icon == 'badge-check' ? 'border-indigo-600' :''"
                class="px-2   cursor-pointer hover:border-indigo-400 mr-1 text-gray-500 rounded-md py-2 border-2 border-gray-200 border-solid">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
                </svg>
            </div>
            <div @click="icon = 'shopping-cart';$emit('input', icon)"
                :class="icon == 'shopping-cart' ? 'border-indigo-600' :''"
                class="px-2   cursor-pointer hover:border-indigo-400 mr-1 text-gray-500 rounded-md py-2 border-2 border-gray-200 border-solid">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
            </div>
              <div @click="icon = 'shopping-bag';$emit('input', icon)"
                :class="icon == 'shopping-bag' ? 'border-indigo-600' :''"
                class="px-2   cursor-pointer hover:border-indigo-400 mr-1 text-gray-500 rounded-md py-2 border-2 border-gray-200 border-solid">
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
</svg>

            </div>
             <div @click="icon = 'facebook';$emit('input', icon)"
                :class="icon == 'facebook' ? 'border-indigo-600' :''"
                class="px-2   cursor-pointer hover:border-indigo-400 mr-1 text-gray-500 rounded-md py-2 border-2 border-gray-200 border-solid">
                 <svg class="h-6 w-6" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z" />
            </svg>
            

            </div>
                 <div @click="icon = 'instagram';$emit('input', icon)"
                :class="icon == 'instagram' ? 'border-indigo-600' :''"
                class="px-2   cursor-pointer hover:border-indigo-400 mr-1 text-gray-500 rounded-md py-2 border-2 border-gray-200 border-solid">
                 <svg class="h-6 w-6" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
            </svg>
            

            </div>
             <div @click="icon = 'twitter';$emit('input', icon)"
                :class="icon == 'twitter' ? 'border-indigo-600' :''"
                class="px-2   cursor-pointer hover:border-indigo-400 mr-1 text-gray-500 rounded-md py-2 border-2 border-gray-200 border-solid">
                  <svg class="h-6 w-6" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
            </svg>

            </div>
             <div @click="icon = 'whatsapp';$emit('input', icon)"
                :class="icon == 'whatsapp' ? 'border-indigo-600' :''"
                class="px-2   cursor-pointer hover:border-indigo-400 mr-1 text-gray-500 rounded-md py-2 border-2 border-gray-200 border-solid">
                 <svg class="h-6 w-6" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M12.04 2C6.58 2 2.13 6.45 2.13 11.91C2.13 13.66 2.59 15.36 3.45 16.86L2.05 22L7.3 20.62C8.75 21.41 10.38 21.83 12.04 21.83C17.5 21.83 21.95 17.38 21.95 11.92C21.95 9.27 20.92 6.78 19.05 4.91C17.18 3.03 14.69 2 12.04 2M12.05 3.67C14.25 3.67 16.31 4.53 17.87 6.09C19.42 7.65 20.28 9.72 20.28 11.92C20.28 16.46 16.58 20.15 12.04 20.15C10.56 20.15 9.11 19.76 7.85 19L7.55 18.83L4.43 19.65L5.26 16.61L5.06 16.29C4.24 15 3.8 13.47 3.8 11.91C3.81 7.37 7.5 3.67 12.05 3.67M8.53 7.33C8.37 7.33 8.1 7.39 7.87 7.64C7.65 7.89 7 8.5 7 9.71C7 10.93 7.89 12.1 8 12.27C8.14 12.44 9.76 14.94 12.25 16C12.84 16.27 13.3 16.42 13.66 16.53C14.25 16.72 14.79 16.69 15.22 16.63C15.7 16.56 16.68 16.03 16.89 15.45C17.1 14.87 17.1 14.38 17.04 14.27C16.97 14.17 16.81 14.11 16.56 14C16.31 13.86 15.09 13.26 14.87 13.18C14.64 13.1 14.5 13.06 14.31 13.3C14.15 13.55 13.67 14.11 13.53 14.27C13.38 14.44 13.24 14.46 13 14.34C12.74 14.21 11.94 13.95 11 13.11C10.26 12.45 9.77 11.64 9.62 11.39C9.5 11.15 9.61 11 9.73 10.89C9.84 10.78 10 10.6 10.1 10.45C10.23 10.31 10.27 10.2 10.35 10.04C10.43 9.87 10.39 9.73 10.33 9.61C10.27 9.5 9.77 8.26 9.56 7.77C9.36 7.29 9.16 7.35 9 7.34C8.86 7.34 8.7 7.33 8.53 7.33Z" />
            </svg>
            

            </div>
              <div @click="icon = 'telegram';$emit('input', icon)"
                :class="icon == 'telegram' ? 'border-indigo-600' :''"
                class="px-2   cursor-pointer hover:border-indigo-400 mr-1 text-gray-500 rounded-md py-2 border-2 border-gray-200 border-solid">
               
<svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="telegram" class="h-6 w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z"></path></svg>
                       
            

            </div>

            

       

          
        </div>



    </div>
</template>
<script>
    export default {

        props: {
            icon: {
                type: String,
                default: 'arrow-circle-right'
            }
        },


    }

</script>
