<template>
     <div v-if="!disabled" > 
        
          <QuillEditor contentType="html" class="editor" ref="quillEditor" :content="contentHtml"
                        @update:content="$emit('update:content',$event)"   :options="editorOption" />
                             <input type="file" id="getFile" style="display:none" @change="uploadFunction($event)" />
     </div>
</template>
<script>
    import {
        QuillEditor
    } from '@vueup/vue-quill'
    import '@vueup/vue-quill/dist/vue-quill.snow.css';
import { ref } from '@vue/reactivity';
 

export default {
    components:{
        QuillEditor
    },
    props : {
        content : String,
        tags : {
            type : Array,
            default : []
        }
    },
    setup(){
        return {
            disabled : ref(true)
        }
    },
    mounted(){
      
        this.contentHtml = this.content;
        if(this.tags.length)
        { 
            this.editorOption.modules.toolbar.container.push( [{ 'placeholder': this.tags }])
 
           setTimeout(()=>{
                this.disabled = false;
                setTimeout(()=>{
                      this.initPlaceholder();

                        
      setTimeout(()=>{
          let videos = document.querySelectorAll(".ql-video");

            if(videos)
            {
                videos.forEach(item=>{
                    item.style.height = (item.offsetWidth / 16 * 9)+'px';
                })
            }
      },100)
                        
                },10)
           },10) 
           
        }else{
            this.disabled = false; 

            
      setTimeout(()=>{
          let videos = document.querySelectorAll(".ql-video");

            if(videos)
            {
                videos.forEach(item=>{
                    item.style.height = (item.offsetWidth / 16 * 9)+'px';
                })
            }
      },100)
        }

         
    },
    data:()=>({
        contentHtml : ``,
     
        editorOption: {
                theme: 'snow',
                modules: {
                    toolbar: {
                        container: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote', 'code-block'],

                            [{
                                'list': 'ordered'
                            }, {
                                'list': 'bullet'
                            }],
                            [{
                                'script': 'sub'
                            }, {
                                'script': 'super'
                            }],
                            [{
                                'indent': '-1'
                            }, {
                                'indent': '+1'
                            }],
                            [{
                                'direction': 'rtl'
                            }],
                            [{
                                'size': ['small', false, 'large', 'huge']
                            }],
                            [{
                                'header': [1, 2, 3, 4, 5, 6, false]
                            }],
                            [{
                                'color': []
                            }, {
                                'background': []
                            }],
                            [{
                                'font': []
                            }],
                            [{
                                'align': []
                            }],
                            ['clean'],
                            ['link', 'image', 'video']
                        ],
                        handlers: {
                            'image': function () {
                                document.getElementById('getFile').click()
                            },
                            "placeholder": function (value) { 
                                if (value) {
                                    const cursorPosition = this.quill.getSelection().index;
                                    this.quill.insertText(cursorPosition, `[${value}]`);
                                    this.quill.setSelection(cursorPosition + value.length + 2);
                                }
                            }
                        }
                    }
                }

            },
    }),
    methods:{
        initPlaceholder(){
             const placeholderPickerItems = Array.prototype.slice.call(document.querySelectorAll('.ql-placeholder .ql-picker-item'));

            placeholderPickerItems.forEach(item => item.textContent = item.dataset.value);
 
            if(document.querySelector('.ql-placeholder .ql-picker-label'))
            {   
             
                  document.querySelector('.ql-placeholder .ql-picker-label').innerHTML
                = '<span class="mr-7">Insert Tag</span>' + document.querySelector('.ql-placeholder .ql-picker-label').innerHTML;
            }
          

           
        },
         uploadFunction(e) {

                //you can get images data in e.target.files
                //an single example for using formData to post to server


                var form = new FormData()
                form.append('folder', 'drip-form')
                form.append("image", e.target.files[0]);
                axios.post('https://image.maxgrabb.com/upload', form, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(response => {
                    var range = (this.$refs.quillEditor.getQuill().getSelection(true))

                    this.$refs.quillEditor.getQuill().insertEmbed(range.index, 'image', response.data.url);
                })

                //do your post


            },
    }
}
</script>
<style>
 .ql-video{
        width : 100%;
    }
</style>