<template>


  <div class="bg-white   shadow-xl sm:rounded-lg py-4">
    <!-- start form builder -->

    <div :key="index" v-for="(field,index) in data.response_fields" @click="active = index" class="flex-auto p-6 py-0"
      :class="index == active ? 'field-active border-indigo-600' : ''">
      <div v-if="index == active">

        <div class="flex flex-wrap">
          <div class="w-1/2">
            <div class=" font-black text-lg -ml-2   px-2 text-gray-800 mb-5 flex  "><svg
                xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
              </svg>
              <div class="ml-1">{{field.type.toUpperCase()}}</div>
            </div>
          </div>
        </div>

        <div v-if="['text','point'].includes(field.type) && data.list_field">

          <QuillEditor :content="field.content" :tags="tags(data)" @update:content="field.content = $event" />
          <br>

        </div>

        <div v-if="['leaderboard'].includes(field.type)">
          <div class="flex flex-wrap">
            <div class="w-1/2">
              <div class="mb-4">
                <label for="">Jumlah Data Ditampilkan</label>
                <input type="text" v-model="field.show_number"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
              </div>
            </div>
          </div>
        </div>
        <div v-if="field.type == 'link rotator'">

          <div class="">

            <div class="  ">
              <div class="mb-4  ">
                <label for="">Call to Action</label>
                <input type="text" v-model="field.click_cta"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
              </div>
            </div>
            <div class="mb-4">
              <label for="">Metode Pemilihan Link</label>
              <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                v-model="field.link_method">
                <option value="random">Random</option>
                <option value="sequential">Sequential</option>
              </select>
            </div>
            <div class=" grid grid-cols-1 gap-1  md:grid-cols-2">
              <div class="mb-4">
                <label for="">Click Point</label>
                <input type="text" v-model="field.point"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  placeholder="10">
                <small>buat menjadi 0 jika mau menghilangkan text (n point) pada tombol</small>
              </div>
              <div class="mb-4">
                <label for="">Action Cooldown</label>
                <div class="  relative rounded-md shadow-sm">

                  <input type="text" v-model="field.action_cooldown" name="price" id="price"
                    :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                    class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                    placeholder="120" aria-describedby="price-currency">
                  <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                    <span class="text-gray-500 sm:text-sm" id="price-currency">
                      MENIT
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3 mt-3">Daftar Link <span @click="field.urls.push({url : '', weight : 1})"
                class="ml-3 inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs  text-blue-600 border-blue-600 hover:bg-blue-600 hover:text-white bg-white hover:bg-blue-600"><i
                  class="fas fa-plus mr-1"></i> tambah pilihan</span></div>

            <div class="mb-3" v-for="(choice,idx) in field.urls" :key="idx">
              <div class="relative flex items-stretch w-full mb-3">
                <input type="text"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  placeholder="https://wa.me/62813512222222" v-model="field.urls[idx].url">
                <input type="text"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-10 ml-1 py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  placeholder="1" v-model="field.urls[idx].weight">
                <div class="input-group-append">
                  <button @click="field.urls.splice(idx,1)"
                    class="inline-block ml-1 align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline text-red-600 border-red-600 hover:bg-red-600 hover:text-white bg-white hover:bg-red-700"
                    type="button"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                      viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg></button>
                </div>
              </div>
            </div>
            <div class="  ">
              <div class="pl-1">
                <label for="">Warna Button</label>
                <div class=" ">
                  <ColorPicker :color="field.color" @input="field.color = $event" />
                </div>
              </div>
            </div>
            <div class=" mt-3 ">
              <div class="pl-1">
                <label for="">Icon Button</label>
                <div class="mt-1">
                  <HeroIconPicker :icon="field.icon" @input="field.icon = $event" />
                </div>
              </div>
            </div>

          </div>




        </div>
        <div v-if="['metode pembayaran'].includes(field.type)">

          <div v-if="data.user_id == $store.state.userId">
            <h2 class="text-lg font-medium text-gray-900 mb-3">Daftar Metode Pembayaran </h2>

            <div v-for="(item,idddx) in field.list_payment" :key="idddx" class="p-3 mb-1"
              style="border : 1px solid #e0e0e0">

              <div class="mb-4">
                <label for="">Payment Gateway</label>
                <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  v-model="item.gateway">
                  <option v-if="tripay.merchant_code && tripay.apiKey" value="tripay">Tripay</option>
                  <option value="bank">Bank</option>
                </select>
              </div>
              <div v-if="item.gateway == 'tripay'" class="mb-4">
                <label for="">Tripay Channel</label>
                <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  v-model="item.tripay_channel" @change="item.call_to_action = 'Bayar via '+item.tripay_channel">
                  <option :key="channel"
                    v-for="channel in ['MYBVA', 'PERMATAVA', 'BNIVA', 'BRIVA', 'MANDIRIVA', 'BCAVA', 'SMSVA', 'MUAMALATVA', 'CIMBVA', 'SAMPOERNAVA',   'ALFAMART', 'ALFAMIDI', 'QRIS', 'QRISC']"
                    :value="channel">{{channel}}</option>
                </select>
                <div class="text-sm">
                  keterangan tripay channel bisa <a target="_blank" class="text-green-400 underline"
                    href="https://tripay.co.id/developer?tab=channels"> dilihat disini</a>
                </div>
              </div>
              <div v-if="item.gateway == 'bank'">
                <div class="mb-4">
                  <label for="">Nama Bank</label>
                  <input type="text" v-model="item.bank_name"
                    @change="item.call_to_action = 'Bayar via '+item.bank_name"
                    :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                    class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
                </div>
                <div class="mb-4">
                  <label for="">No.Rekening</label>
                  <input type="number" v-model="item.bank_account"
                    :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                    class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
                </div>
                <div class="mb-4">
                  <label for="">Nama Pemilik Rekening</label>
                  <input type="text" v-model="item.accout_name"
                    :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                    class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
                </div>
                <div class="mb-4">
                  <label for="">Angka Unik</label>
                  <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                    class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                    v-model="item.unique_code_modifier">
                    <option value="none">Tidak Pakai Angka Unik</option>
                    <option value="up">Angka Unik Mark Up Harga</option>
                    <option value="down">Angka Unik Mark Down Harga</option>
                  </select>
                </div>
              </div>
              <div class="mb-4">
                <label for="">Call to Action</label>
                <input type="text" v-model="item.call_to_action"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
              </div>
            </div>

            <button class="mt-3 text-indigo-600 mb-3" @click="field.list_payment.push(new_payment)">Tambah
              Channel</button>

          </div>
          <div v-else>
            <h2 class="text-md   text-gray-900 mb-3">Hanya owner yang diperbolehkan mengakses metode pembayaran </h2>
          </div>
        </div>

        <div v-if="field.type == 'share'">

          <div class="flex flex-wrap">
            <div class="w-1/2">
              <div class="mb-4">
                <label for="">Share to</label>
                <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  :value="field.share_to" @change="updateCTA($event,field)">
                  <option value="facebook">Facebook</option>
                  <option value="twitter">Twitter</option>
                  <option value="whatsapp">Whatsapp</option>
                  <option value="telegram">Telegram</option>
                </select>
              </div>
            </div>
            <div class="w-1/2 pl-1">
              <div class="mb-4">
                <label for="">Share Point</label>
                <input type="text" v-model="field.point" name="price" id="price"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  placeholder="120" aria-describedby="price-currency">
              </div>
            </div>
            <div class="w-1/2">
              <div class="mb-4">
                <label for="">Call to Action</label>
                <input type="text" v-model="field.share_cta"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
              </div>
            </div>
            <div class="w-1/2 pl-1">
              <div class="mb-4">
                <label for="">Action Cooldown</label>
                <div class="  relative rounded-md shadow-sm">

                  <input type="text" v-model="field.action_cooldown" name="price" id="price"
                    :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                    class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                    placeholder="120" aria-describedby="price-currency">
                  <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                    <span class="text-gray-500 sm:text-sm" id="price-currency">
                      MENIT
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="mb-4" v-if="['telegram','whatsapp','twitter'].includes(field.share_to)">
            <label class=" " for=""> Text Share</label>
            <textarea v-model="field.text_share"
              class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
              type="text"></textarea>
          </div>
        </div>
        <div v-if="field.type == 'click'">

          <div class="flex flex-wrap">
            <div class="w-1/2">
              <div class="mb-4">
                <label for="">Url</label>
                <input type="text" v-model="field.url_click" name="price" id="price"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  placeholder="https://instagram.com" aria-describedby="price-currency">
              </div>
            </div>
            <div class="w-1/2 pl-1">
              <div class="mb-4">
                <label for="">Click Point</label>
                <input type="text" v-model="field.point" name="price" id="price"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  placeholder="120" aria-describedby="price-currency">
                <small>buat menjadi 0 jika mau menghilangkan text (n point) pada tombol</small>
              </div>
            </div>
            <div class="w-1/2 ">
              <div class="mb-4">
                <label for="">Call to Action</label>
                <input type="text" v-model="field.click_cta"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
              </div>
            </div>
            <div class="w-1/2 pl-1">
              <div class="mb-4">
                <label for="">Action Cooldown</label>
                <div class="  relative rounded-md shadow-sm">

                  <input type="text" v-model="field.action_cooldown" name="price" id="price"
                    :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                    class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                    placeholder="120" aria-describedby="price-currency">
                  <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                    <span class="text-gray-500 sm:text-sm" id="price-currency">
                      MENIT
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div>


            <div class="  ">
              <div class="pl-1">
                <label for="">Warna Button</label>
                <div class=" ">
                  <ColorPicker :color="field.color" @input="field.color = $event" />
                </div>
              </div>
            </div>
            <div class=" mt-3 ">
              <div class="pl-1">
                <label for="">Icon Button</label>
                <div class="mt-1">
                  <HeroIconPicker :icon="field.icon" @input="field.icon = $event" />
                </div>
              </div>
            </div>
          </div>

        </div>

        <div v-if="field.type == 'konten terkunci' && locked_content[field.id]">
          <QuillEditor :content="locked_content[field.id].content" :tags="tags(data)"
            @update:content="locked_content[field.id].content = $event;" />
          <br>

          <div class="mb-4">
            <label for="">on Status</label>
            <Multiselect placeholder="Daftar Status Transaksi" mode="tags" v-model="locked_content[field.id].status"
              :options="data.trx_status" />
          </div>

          <div class="mb-4">
            <label for="">Minimum Point</label>
            <input type="text" v-model="locked_content[field.id].point"
              :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
              class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">

          </div>



        </div>


        <div v-if="field.type == 'countdown'" class="flex flex-wrap ">
          <div class="w-1/2">
            <div class="mb-4">
              <label for="">Tipe Countdown</label>
              <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                v-model="field.countdown_type">
                <option value="evergreen">Evergreen</option>
                <option value="fixed">Waktu Tetap</option>
              </select>
            </div>
          </div>
          <div v-if="field.countdown_type == 'evergreen'" class="w-1/2 pl-1">
            <div class="mb-4">
              <label for="">Waktu Expire</label>
              <div class="  relative rounded-md shadow-sm">

                <input type="text" v-model="field.evergreen_time" name="price" id="price"
                  :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
                  class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
                  placeholder="120" aria-describedby="price-currency">
                <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                  <span class="text-gray-500 sm:text-sm" id="price-currency">
                    MENIT
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div v-else-if="field.countdown_type == 'fixed'" class="w-1/2 pl-1">
            <div class="mb-4">
              <label for="">Waktu Expire</label>
              <input v-model="field.fixed_time" type="datetime-local"
                class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded">
            </div>
          </div>
        </div>
        <div v-else class="flex flex-wrap  ml-1">
          <button @click="moveTo(-1)"
            class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12" />
            </svg></button>
          <button @click="moveTo(1)"
            class="ml-1 inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 13l-5 5m0 0l-5-5m5 5V6" />
            </svg></button>

          <button v-if="!field.btn == 'konten terkunci'" @click="clone(field,index);"
            class="ml-1  inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
            </svg>
          </button>
          <button @click="data.response_fields.splice(index,1);deleteContent(field)"
            class="ml-1  inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded  no-underline py-1 px-2 leading-tight text-xs ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg></button>


        </div>

      </div>
      <div v-else class="my-3">



        <div class="ql-editor" style="padding : 0!important;" v-html="field.content"
          v-if="['text','point'].includes(field.type)">
        </div>
        <div class="ql-editor" style="padding : 0!important;" v-if="['konten terkunci'].includes(field.type)">
          <div v-if="field.open">

          </div>
          <div class="text-center cursor-pointer" @click="openContent(field)">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
              </svg>
              Konten terkunci
            </div>

          </div>
        </div>
        <div style="padding : 0!important;" v-if="field.type == 'share'">
          <button type="submit" :class="`${field.share_to}-bg-color`"
            class="w-full text-lg mt-1 inline-flex items-center justify-center px-6 py-2 border border-transparent rounded-md shadow-sm text-base font-semibold text-white  ">
            <SelectedIcon class="mr-1" :icon="field.share_to" /> {{field.share_cta}} <small
              class="text-sm ml-1">({{field.point}} poin)</small>
          </button>
        </div>
        <div style="padding : 0!important;" v-if="['click','link rotator'].includes(field.type)">
          <button type="submit" :class="`bg-${field.color}`"
            class="w-full text-lg mt-1 inline-flex items-center justify-center px-6 py-2 border border-transparent rounded-md shadow-sm text-base font-semibold text-white  ">
            <SelectedIcon class="mr-1" :icon="field.icon" /> {{field.click_cta}} <small v-if="parseInt(field.point)">
              <small class="ml-2 text-sm text-white">({{field.point}} poin)</small>
            </small>
          </button>
        </div>


        <div v-if="field.type == 'leaderboard'">
          <table class="w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Nama
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Poin
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- Odd row -->
              <tr :class="index % 2 === 0 ? 'bg-white' : 'bg-gray-50'" v-for="(lead,index) in leaderboards"
                :key="lead.id">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  {{lead.name}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{lead.point}}
                </td>
              </tr>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
        <div v-if="field.type == 'countdown'">
          <div class="text-6xl text-center flex w-full items-center justify-center">

            <div :class="`bg-${data.color_schema}`" class="w-24 mx-1 p-2   text-white rounded-lg">
              <div class="font-mono leading-none" x-text="days">00</div>
              <div class="font-mono uppercase text-sm leading-none">Hari</div>
            </div>
            <div :class="`bg-${data.color_schema}`" class="w-24 mx-1 p-2   text-white rounded-lg">
              <div class="font-mono leading-none" x-text="hours">00</div>
              <div class="font-mono uppercase text-sm leading-none">Jam</div>
            </div>
            <div :class="`bg-${data.color_schema}`" class="w-24 mx-1 p-2   text-white rounded-lg">
              <div class="font-mono leading-none" x-text="minutes">00</div>
              <div class="font-mono uppercase text-sm leading-none">Menit</div>
            </div>

            <div :class="`bg-${data.color_schema}`" class="w-24 mx-1 p-2   text-white rounded-lg">
              <div class="font-mono leading-none" x-text="seconds">00</div>
              <div class="font-mono uppercase text-sm leading-none">Detik</div>
            </div>
          </div>

        </div>

        <div v-if="field.type == 'status pengiriman'">
          <div class="my-6">
            <h2 class="text-lg font-medium text-gray-900">Status Pengiriman</h2>
            <div class="text-gray-500 mb-3">
               
              <div>[SAMPLE] Citra Van Titipan Kilat (TIKI) - ONS</div>
              <div>JP2428973316</div>
            </div>
            <div class="relative pb-8"><span class="absolute top-1.5 left-1.5  h-full w-0.5 bg-gray-200"
                aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div><span
                    class="bg-green-400 h-3 w-3 mt-1.5 rounded-full bg-gray-400 flex items-center justify-center   ring-white">
                    <!-- Heroicon name: solid/user --></span></div>
                <div class="min-w-0 flex-1   flex justify-between  ">
                  <div>
                    <div class="text-green-400 text-sm text-gray-500  p-0 m-0 inline-flex">
                      <div>12-12-2020 12:19</div>
                      <div class="ml-3">Terkirim (BANJARBARU - CEMPAKA)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative pb-8"><span class="absolute top-1.5 left-1.5  h-full w-0.5 bg-gray-200"
                aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div><span
                    class="h-3 w-3 mt-1.5 rounded-full bg-gray-400 flex items-center justify-center   ring-white">
                    <!-- Heroicon name: solid/user --></span></div>
                <div class="min-w-0 flex-1   flex justify-between  ">
                  <div>
                    <div class="text-sm text-gray-500  p-0 m-0 inline-flex">
                      <div>12-12-2020 12:19</div>
                      <div class="ml-3">Sedang Diantar (BANJARBARU)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative pb-8"><span class="absolute top-1.5 left-1.5  h-full w-0.5 bg-gray-200"
                aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div><span
                    class="h-3 w-3 mt-1.5 rounded-full bg-gray-400 flex items-center justify-center   ring-white">
                    <!-- Heroicon name: solid/user --></span></div>
                <div class="min-w-0 flex-1   flex justify-between  ">
                  <div>
                    <div class="text-sm text-gray-500  p-0 m-0 inline-flex">
                      <div>12-12-2020 12:19</div>
                      <div class="ml-3">Sedang Tertunda (BANJARBARU - CEMPAKA)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative pb-8"><span class="absolute top-1.5 left-1.5  h-full w-0.5 bg-gray-200"
                aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div><span
                    class="h-3 w-3 mt-1.5 rounded-full bg-gray-400 flex items-center justify-center   ring-white">
                    <!-- Heroicon name: solid/user --></span></div>
                <div class="min-w-0 flex-1   flex justify-between  ">
                  <div>
                    <div class="text-sm text-gray-500  p-0 m-0 inline-flex">
                      <div>12-12-2020 12:19</div>
                      <div class="ml-3">Telah Tiba (BANJARBARU - CEMPAKA)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative pb-8"><span class="absolute top-1.5 left-1.5  h-full w-0.5 bg-gray-200"
                aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div><span
                    class="h-3 w-3 mt-1.5 rounded-full bg-gray-400 flex items-center justify-center   ring-white">
                    <!-- Heroicon name: solid/user --></span></div>
                <div class="min-w-0 flex-1   flex justify-between  ">
                  <div>
                    <div class="text-sm text-gray-500  p-0 m-0 inline-flex">
                      <div>12-12-2020 12:19</div>
                      <div class="ml-3">Telah Berangkat (BANJARMASIN - BANJARBARU)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative pb-8"><span class="absolute top-1.5 left-1.5  h-full w-0.5 bg-gray-200"
                aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div><span
                    class="h-3 w-3 mt-1.5 rounded-full bg-gray-400 flex items-center justify-center   ring-white">
                    <!-- Heroicon name: solid/user --></span></div>
                <div class="min-w-0 flex-1   flex justify-between  ">
                  <div>
                    <div class="text-sm text-gray-500  p-0 m-0 inline-flex">
                      <div>12-12-2020 12:19</div>
                      <div class="ml-3">Telah Tiba (BANJARMASIN - BDJ_GATEWAY)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative pb-8"><span class="absolute top-1.5 left-1.5  h-full w-0.5 bg-gray-200"
                aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div><span
                    class="h-3 w-3 mt-1.5 rounded-full bg-gray-400 flex items-center justify-center   ring-white">
                    <!-- Heroicon name: solid/user --></span></div>
                <div class="min-w-0 flex-1   flex justify-between  ">
                  <div>
                    <div class="text-sm text-gray-500  p-0 m-0 inline-flex">
                      <div>12-12-2020 12:19</div>
                      <div class="ml-3">Telah Berangkat (JAKARTA - BANJARMASIN)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative pb-8"><span class="absolute top-1.5 left-1.5  h-full w-0.5 bg-gray-200"
                aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div><span
                    class="h-3 w-3 mt-1.5 rounded-full bg-gray-400 flex items-center justify-center   ring-white">
                    <!-- Heroicon name: solid/user --></span></div>
                <div class="min-w-0 flex-1   flex justify-between  ">
                  <div>
                    <div class="text-sm text-gray-500  p-0 m-0 inline-flex">
                      <div>12-12-2020 12:19</div>
                      <div class="ml-3">Telah Tiba (JAKARTA - JKT_GATEWAY)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative pb-8"><span class="absolute top-1.5 left-1.5  h-full w-0.5 bg-gray-200"
                aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div><span
                    class="h-3 w-3 mt-1.5 rounded-full bg-gray-400 flex items-center justify-center   ring-white">
                    <!-- Heroicon name: solid/user --></span></div>
                <div class="min-w-0 flex-1   flex justify-between  ">
                  <div>
                    <div class="text-sm text-gray-500  p-0 m-0 inline-flex">
                      <div>12-12-2020 12:19</div>
                      <div class="ml-3">Telah Berangkat (JAKARTA - BANJARMASIN)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative pb-8"><span class="absolute top-1.5 left-1.5  h-full w-0.5 bg-gray-200"
                aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div><span
                    class="h-3 w-3 mt-1.5 rounded-full bg-gray-400 flex items-center justify-center   ring-white">
                    <!-- Heroicon name: solid/user --></span></div>
                <div class="min-w-0 flex-1   flex justify-between  ">
                  <div>
                    <div class="text-sm text-gray-500  p-0 m-0 inline-flex">
                      <div>12-12-2020 12:19</div>
                      <div class="ml-3">Telah Tiba (JAKARTA - JKS_TRANSIT_CENTER)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative pb-8"><span class="absolute top-1.5 left-1.5  h-full w-0.5 bg-gray-200"
                aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div><span
                    class="h-3 w-3 mt-1.5 rounded-full bg-gray-400 flex items-center justify-center   ring-white">
                    <!-- Heroicon name: solid/user --></span></div>
                <div class="min-w-0 flex-1   flex justify-between  ">
                  <div>
                    <div class="text-sm text-gray-500  p-0 m-0 inline-flex">
                      <div>12-12-2020 12:19</div>
                      <div class="ml-3">Telah Berangkat (JAKARTA - JAKARTA)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative pb-8"><span class="absolute top-1.5 left-1.5  h-full w-0.5 bg-gray-200"
                aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div><span
                    class="h-3 w-3 mt-1.5 rounded-full bg-gray-400 flex items-center justify-center   ring-white">
                    <!-- Heroicon name: solid/user --></span></div>
                <div class="min-w-0 flex-1   flex justify-between  ">
                  <div>
                    <div class="text-sm text-gray-500  p-0 m-0 inline-flex">
                      <div>12-12-2020 12:19</div>
                      <div class="ml-3">Telah Tiba (JAKARTA - JAT_GATEWAY)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative pb-8"><span class="absolute top-1.5 left-1.5  h-full w-0.5 bg-gray-200"
                aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div><span
                    class="h-3 w-3 mt-1.5 rounded-full bg-gray-400 flex items-center justify-center   ring-white">
                    <!-- Heroicon name: solid/user --></span></div>
                <div class="min-w-0 flex-1   flex justify-between  ">
                  <div>
                    <div class="text-sm text-gray-500  p-0 m-0 inline-flex">
                      <div>12-12-2020 12:19</div>
                      <div class="ml-3">Telah Berangkat (JAKARTA - JAKARTA)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="relative pb-8">
              <!--v-if-->
              <div class="relative flex space-x-3">
                <div><span
                    class="h-3 w-3 mt-1.5 rounded-full bg-gray-400 flex items-center justify-center   ring-white">
                    <!-- Heroicon name: solid/user --></span></div>
                <div class="min-w-0 flex-1   flex justify-between  ">
                  <div>
                    <div class="text-sm text-gray-500  p-0 m-0 inline-flex">
                      <div>12-12-2020 12:19</div>
                      <div class="ml-3">Telah Diambil (JAKARTA - CBD_PALM)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div v-if="field.type == 'rincian pembelian'">
          <h2 id="summary-heading" class="text-lg font-medium text-gray-900">Rincian Pembelian</h2>

          <ul role="list" class="text-sm font-medium text-gray-900 divide-y divide-gray-200">
            <li v-for="item in hasField('produk').products" :key="item.title" class="flex items-start py-6 space-x-4">
              <img :src="item.thumbnail"
                alt="Moss green canvas compact backpack with double top zipper, zipper front pouch, and matching carry handle and backpack straps."
                class="flex-none w-20 h-20 rounded-md object-center object-cover">
              <div class="flex-auto space-y-1">
                <h3>{{item.title}}</h3>
                <p class="text-gray-500">1 x</p>
              </div>
              <p class="flex-none text-base font-medium">Rp.{{item.price}}</p>
            </li>

            <!-- More products... -->
          </ul>

          <dl class="  text-sm font-medium text-gray-900 space-y-6 border-t border-gray-200 pt-6 ">
            <div class="flex items-center justify-between">
              <dt class="text-gray-600">Subtotal</dt>
              <dd>Rp.10.000</dd>
            </div>

            <div class="flex items-center justify-between">
              <dt class="text-gray-600">Ongkos Kirim</dt>
              <dd>Rp.0</dd>
            </div>


            <div class="flex items-center justify-between border-t border-gray-200 pt-6">
              <dt class="text-base">Total</dt>
              <dd class="text-base">Rp.10.000</dd>
            </div>
          </dl>


        </div>
        <div v-if="field.type == 'metode pembayaran'" class="my-5">

          <h2 class="text-lg font-medium text-gray-900">Metode Pembayaran</h2>

          <div class="" v-for="(item,idddx) in field.list_payment" :key="idddx">
            <div v-if="item.gateway == 'tripay'">
              <div class="p-5 mt-3" style="border : 1px solid #e0e0e0"
                v-if="['QRIS','QRISC'].includes(item.tripay_channel)">
                <h3 class="text-gray-900">#{{idddx+1}} QRIS</h3>
                <p>Scan QR Code via aplikasi dan mobile banking</p>
                <div>
                  <img class="max-w-full" src="https://indotoko.ap-south-1.linodeobjects.com/drip-form/qris.png" alt="">
                </div>
                <button type="button" :class="`mt-3 bg-${data.color_schema} `"
                  class="w-full cursor-pointer text-lg mt-1 inline-flex items-center justify-center px-6 py-2     border border-transparent rounded-md shadow-sm text-base font-semibold text-white  ">{{item.call_to_action}}</button>
              </div>
              <div class="p-5 mt-3" style="border : 1px solid #e0e0e0"
                v-if="!['QRIS','QRISC'].includes(item.tripay_channel)">
                <h3 class="text-gray-900">#{{idddx+1}} Virtual Account {{item.tripay_channel}}</h3>
                <p>Pembayaran dengan Rekening Virtual Account dari Bank {{item.tripay_channel.replace("VA","")}}</p>

                <button type="button" :class="`mt-3 bg-${data.color_schema} `"
                  class="w-full cursor-pointer text-lg mt-1 inline-flex items-center justify-center px-6 py-2     border border-transparent rounded-md shadow-sm text-base font-semibold text-white  ">{{item.call_to_action}}</button>
              </div>
            </div>
            <div v-if="item.gateway == 'bank'">
              <div class="p-5   mt-1" style="border : 1px solid #e0e0e0">
                <h3 class="text-gray-900">#{{idddx+1}} BANK {{item.bank_name}}</h3>

                <button type="button" :class="`mt-3 bg-${data.color_schema} `"
                  class="w-full cursor-pointer text-lg mt-1 inline-flex items-center justify-center px-6 py-2     border border-transparent rounded-md shadow-sm text-base font-semibold text-white  ">{{item.call_to_action}}</button>
              </div>
            </div>
          </div>



        </div>

      </div>
    </div>
    <div class="py-3 px-6 bg-gray-200 border-t-1 border-gray-300">
      <div class="mt-2">Standar Response</div>
      <button @click="addField(btn)" :key="btn"
        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline mt-1 mr-1 bg-gray-600 text-white hover:bg-gray-700"
        v-for="btn in standart_response">{{btn}}</button>
      <div class="mt-2">Viral Response</div>
      <button @click="addField(btn)" :key="btn"
        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline mt-1 mr-1 bg-gray-600 text-white hover:bg-gray-700"
        v-for="btn in viral_response">{{btn}}</button>
      <div class="mt-2">Ecommerce Response (Toko Online)</div>
      <button @click="addField(btn)" :key="btn"
        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline mt-1 mr-1 bg-gray-600 text-white hover:bg-gray-700"
        v-for="btn in ecommerce_response">{{btn}}</button>

    </div>

    <!-- image uploader -->

    <!--  -->

    <!-- end form builder -->
  </div>


</template>

<script>
  import QuillEditor from './QuillEditor.vue'
  import dayjs from 'dayjs'
  import ColorPicker from './ColorPicker'
  import HeroIconPicker from './HeroIconPicker'
  import SelectedIcon from './SelectedIcon'
  import Multiselect from '@vueform/multiselect'
  import {
    ref
  } from '@vue/reactivity'
  import axios from 'axios'
  const new_payment = {
    gateway: 'bank',
    bank_name: 'BCA',
    bank_account: '',
    accout_name: '',
    unique_code_modifier: 'up',
    tripay_channel: 'QRISC',
    call_to_action: 'Bayar via BCA'
  };
  import tags from "./tags"
  export default {
    components: {
      QuillEditor,
      ColorPicker,
      HeroIconPicker,
      Multiselect,
      SelectedIcon
    },
    props: {
      data: Object
    },
    setup() {
      const tripay = ref({})

      axios.get("/api/setting/tripay").then(response => {
        if (response.data) {
          tripay.value = response.data;
        }
      })







      return {
        tripay,
        tags
      }
    },
    data: () => ({
      new_payment: JSON.parse(JSON.stringify(new_payment)),
      open: false,
      colors: ['pink-600', 'pink-500', 'pink-400', 'red-600', 'yellow-600', 'yellow-500', 'yellow-400',
        'green-800', 'green-700', 'green-600', 'green-500', 'green-400', 'blue-600', 'blue-500',
        'blue-400', 'purple-600', 'indigo-600'
      ],

      standart_response: ['text', 'countdown', 'konten terkunci'],
      viral_response: ['share', 'click', 'link rotator', 'point', 'leaderboard'],
      ecommerce_response: ['rincian pembelian', 'status pengiriman', 'metode pembayaran'],
      leaderboards: [],
      locked_content: {},


      active: 0
    }),
    mounted() {

      setTimeout(() => {
        let videos = document.querySelectorAll(".ql-video");

        if (videos) {
          videos.forEach(item => {
            item.style.height = (item.offsetWidth / 16 * 9) + 'px';
          })
        }
      }, 100)

    },
    computed: {

    },
    methods: {
      moveTo(modifier) {
        if (this.active + modifier >= 0 && this.active + modifier < this.data.response_fields.length - 1) {
          var new_index = this.active + modifier;
          var temp = JSON.parse(JSON.stringify(this.data.response_fields[this.active]))
          this.data.response_fields.splice(this.active, 1);
          this.data.response_fields.splice(new_index, 0, temp);
          setTimeout(() => {
            this.active = new_index
          }, 100)
        }
      },

      addField(btn) {
        var data = {
          type: btn
        };

        if (btn == 'text') {
          data.content = '<h4>Text</h4>'
        }

        if (btn == 'konten terkunci') {
          let content = {};

          content.content = 'konten ini hanya bisa dilihat oleh orang yang punya kriteria sesuai';
          content.point = 0;
          content.status = this.data.trx_status;
          axios.post("/api/locked-content", content).then(response => {
            content.id = response.data.id;
            data.id = content.id;
            this.locked_content[response.data.id] = content;
            this.data.response_fields.push(data)
            this.active = this.data.response_fields.length - 1;

          })
          return;


        }

        if (btn == 'point') {
          data.content = '<p>Point Kamu : [point]</p>'
        }

        if (btn == 'leaderboard') {
          data.show_number = 50;
        }

        if (btn == 'metode pembayaran') {
          data.list_payment = [
            new_payment
          ];
        }

        if (btn == 'link rotator') {
          data.click_cta = "Klik link ini"
          data.rotator_id = Math.random().toString(36).slice(2);
          data.link_method = 'random'
          data.urls = [{
            url: "",
            weight: 1
          }]
          data.color = 'red-600'
          data.action_id = Math.random().toString(36).slice(2);
          data.point = 10
          data.action_cooldown = 10
          data.icon = 'arrow-circle-right'
        }

        if (btn == 'share') {
          data.share_to = 'facebook'
          data.share_cta = 'Share ke Facebook'
          data.point = 10
          data.action_id = Math.random().toString(36).slice(2);
          data.action_cooldown = 10
          data.text_share = 'yuk isi form berikut : [url]'
        }

        if (btn == 'countdown') {
          data.countdown_type = 'evergreen'
          data.evergreen_time = 120
          data.countdown_id = Math.random().toString(36).slice(2);
          data.fixed_time = dayjs().add(2, 'days').format('YYYY-MM-DDTHH:mm');
        }

        if (btn == 'click') {
          data.url_click = ''
          data.click_cta = 'Kunjungi Instagram'
          data.point = 10
          data.action_id = Math.random().toString(36).slice(2);
          data.action_cooldown = 60
          data.color = 'red-600'
          data.icon = 'arrow-circle-right'
        }


        this.data.response_fields.push(data)
        this.active = this.data.response_fields.length - 1;



      },
      hasField(field_type) {
        if (this.data.list_field) {
          let find = this.data.list_field.find(item => {
            return item.type == field_type;
          })
          return find;
        }

      },

      insertAtCursor(selector, myValue, item) {
        //IE support
        var myField = document.querySelector(selector)
        if (document.selection) {
          myField.focus();
          sel = document.selection.createRange();
          sel.text = myValue;
          if (item) {
            item.success_text = sel.text
          }
        }
        //MOZILLA and others
        else if (myField.selectionStart || myField.selectionStart == '0') {
          var startPos = myField.selectionStart;
          var endPos = myField.selectionEnd;
          myField.value = myField.value.substring(0, startPos) +
            myValue +
            myField.value.substring(endPos, myField.value.length);
          myField.focus();
          myField.selectionStart = endPos + myValue.length;
          myField.selectionEnd = endPos + myValue.length;

          if (item) {
            item.success_text = myField.value
          }

        } else {
          myField.value += myValue;
        }
      },
      updateCTA(event, field) {
        if (field.share_cta.toLowerCase().includes(field.share_to)) {
          field.share_to = event.target.value;

          field.share_cta = field.share_cta.replace(this.toTitleCase(event.target._value), this.toTitleCase(field
            .share_to))

          field.share_cta = field.share_cta.replace(event.target._value.toLowerCase(), this.toTitleCase(field.share_to))
        }
      },
      toTitleCase(str) {
        return str.replace(
          /\w\S*/g,
          function (txt) {
            return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
          }
        );
      },
      deleteContent(field) {
        console.log(field)
        if (field.type == 'konten terkunci') {
          axios.delete("/api/locked-content/" + field.id)
        }
      },
      clone(field, index) {
        if (this.only_one.includes(field.type)) {

          const find = this.data.response_fields.find(item => {
            return item.type == field.type;
          })
          if (find) {
            alert('input ' + field.type + ' tidak bisa di clone')
            return;
          }
        }

        var field = JSON.parse(JSON.stringify(field));
        field.name = 'input-' + Math.floor(Math.random() * 1000);

        this.data.response_fields.splice(index, 0, field)
      },
      openContent(field) {
        axios.get("/api/locked-content/" + field.id).then(response => {
          this.locked_content[field.id] = response.data;
        })
      },
      updateContent(field) {
        console.log(field)
      }
    }
  }

</script>
<style>
  .field-active {
    border-left-width: 5px;
    border-right-width: 3px;
    border-style: solid;
    border-top: 1px #e0e0e0 dashed;
    border-bottom: 1px #e0e0e0 dashed;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .ql-editor h1 {
    font-size: 2em !important;
    font-weight: bolder;
  }

  .ql-editor h2 {

    font-size: 1.8em !important;
    font-weight: bolder;
  }

  .ql-editor h3 {
    font-size: 1.6em !important;
    font-weight: bolder;
  }

  .ql-editor h4 {

    font-size: 1.4em !important;
    font-weight: bolder;
  }

  .ql-editor h5 {
    font-size: 1.2em !important;
    font-weight: bolder;
  }

  .ql-editor h6 {

    font-size: 1em !important;
    font-weight: bolder;
  }

  .facebook-bg-color {
    background-color: #4267B2;
  }

  .whatsapp-bg-color {
    background-color: #25D366;
  }


  .telegram-bg-color {
    background-color: #0088cc;
  }

  .twitter-bg-color {
    background-color: #1da1f2;
  }

</style>
