<template>


  <div class="bg-white   shadow-xl sm:rounded-lg p-6">
    <!-- start form builder -->

    <!-- <h1 class="font-bold text-xl">Pengaturan</h1>
     -->
    <div class="relative mt-3 mb-4">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-start">
        <span class="pr-3 bg-white text-lg font-medium text-gray-900">
          Form Meta
        </span>
      </div>
    </div>
    <div class="mb-10">
      <label class="mb-3" for="title">Title Form</label>
      <input type="text" v-model="data.title" name="title" id="title"
        :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
        class="block appearance-none w-full py-1  mt-2 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
        placeholder="Untitled">
    </div>
    <div class="relative mt-3 mb-4">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-start">
        <span class="pr-3 bg-white text-lg font-medium text-gray-900">
          Lead Setting
        </span>
      </div>
    </div>
    <div class="flex flex-wrap ">

      <div class="w-1/2">
        <div class="mb-4">
          <label class="mb-3" for="">Duplikasi Lead</label>
          <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
            class="block appearance-none w-full py-1 px-2 mb-1 mt-2 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
            v-model="data.unique_identifier">
            <option :value="typeof data.unique_identifier == 'undefined' ? undefined : null">Ya, Boleh Duplikasi
            </option>
            <option v-if="hasField('phone')" value="phone">Unik dengan No.HP</option>
            <option v-if="hasField('email')" value="email">Unik dengan Email</option>
          </select>
        </div>
      </div>
      <div class="w-1/2 pl-1">
        <div class="mb-4">
          <label class="mb-3" for="">Lead Referal Point</label>
          <input type="text" v-model="data.lead_point" name="price" id="price"
            :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
            class="block appearance-none w-full py-1  mt-2 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
            placeholder="50" aria-describedby="price-currency">
        </div>
      </div>
      <div class="flex items-center">
        <button type="button" @click="data.active_session = !data.active_session" aria-pressed="false"
          aria-labelledby="toggleLabel" :value="data.active_session"
          :class="{ 'bg-gray-200': !data.active_session, 'bg-indigo-600': data.active_session }"
          class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span class="sr-only">Use setting</span>
          <span aria-hidden="true"
            :class="{ 'translate-x-5': data.active_session, 'translate-x-0': !data.active_session }"
            class="pointer-events-none translate-x-0 inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
        </button>
        <span class="ml-3" id="toggleLabel">
          <span class="text-sm font-medium text-gray-900">Aktifkan Session </span>

        </span>
      </div>
      <span class="text-sm mt-3 text-gray-500">jika session di aktifkan, maka lead yang sudah isi form akan langsung di
        redirect ke halaman response</span>

    </div>

    <div v-if="data.user_id == $store.state.userId" class="relative mt-10 mb-4">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-start">
        <span class="pr-3 bg-white text-lg font-medium text-gray-900">
          Domain Setting
        </span>
      </div>
    </div>
    <div v-if="data.user_id == $store.state.userId" >
      <div class="flex flex-wrap ">

      <div class="w-1/2">
        <div class=" ">
          <label class="mb-3" for="">Pilih Domain</label>
          <select :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
            class="block appearance-none w-full py-1  mt-2 border-r-0 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded-tr-none rounded-br-none rounded "
            v-model="data.domain">
            <option v-for="item in domains" :value="item.name" :key="item.name">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="w-1/2">
        <div class=" ">
          <label class="mb-3" for="">Slug</label>
          <div class="  relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 left-0 pr-3 flex items-center pointer-events-none">
              <span class="text-gray-500 sm:text-sm" id="price-currency">
                /
              </span>
            </div>
            <input type="text" @input="reviewSlug" :value="data.slug" name="price" id="price"
              :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
              class="block appearance-none  mt-2 w-full py-1 rounded-tl-none rounded-bl-none border-l-0 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
              placeholder="120" aria-describedby="price-currency">

          </div>
        </div>
      </div>

    </div>
    <p id="url-alert"></p>
    </div>
    

    <div class="relative mt-10 ">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-start">
        <span class="pr-3 bg-white text-lg font-medium text-gray-900">
          Socmed Share Thumbnail
        </span>
      </div>
    </div>
    <span class="text-sm mt-3 text-gray-500">ganti thumbnail ketika form di share ke social media seperti
      facebook</span>

    <div class="flex flex-col max-w-full w-96 rounded-lg shadow-lg overflow-hidden mt-3">
      <div class="flex-shrink-0 relative">
        <img class="h-48 w-full object-cover"
          :src="data.socmed_thumbnail || 'https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixqx=7qwKjEp7Xv&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80'"
          alt="">
        <div class="text-center absolute top-0 left-0">
          <label for="upload-thumbnail">
            <span class="button light"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
              </svg>GANTI THUMBNAIL</span>
          </label>
          <input type="file" id="upload-thumbnail" @change="uploadFunction" class="hidden">
        </div>
      </div>
      <div class="flex-1 bg-white p-6 flex flex-col justify-between">
        <div class="flex-1">

          <input type="text" class="text-xl w-full font-semibold text-gray-900" v-model="data.socmed_title">

          <textarea v-model="data.socmed_description" @keyup="resizeTextarea"
            class=" mt-1 text-base text-gray-500 w-full" rows="1"></textarea>
        </div>

      </div>
    </div>

    <div class="relative mt-10  ">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-start">
        <span class="pr-3 bg-white text-lg font-medium text-gray-900">
          Form Administrator
        </span>
      </div>
    </div>
    <span class="text-sm mt-3 text-gray-500">tambah pengelola pada form anda</span>
    <div class="mb-3 mt-3">
      <button type="button" @click="active = true" class="p-3 py-2 bg-green-500 text-sm rounded text-white">Tambah
        Admin</button>
    </div>
    <ModalBox @confirm="saveAdmin()" v-model="active" title="Tambah admin baru">
      <div class=" ">
        <label class="mb-3" for="email">Email User</label>
        <input type="text" v-model="new_user" name="email" id="email"
          :class="`focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:border-transparent`"
          class="block appearance-none w-full py-1  mt-2 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
          placeholder="emailadmin@gmail.com">
      </div>
    </ModalBox>
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
    <table class="w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Nama
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Email
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Role
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">

          </th>
        </tr>
      </thead>
      <tbody>
        <!-- Odd row -->
        <tr :class="index % 2 === 0 ? 'bg-white' : 'bg-gray-50'" v-for="(admin,index) in admins" :key="admin.id">
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
           <span v-if="users[admin.user_id]"> {{users[admin.user_id].name}}</span>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
           <span v-if="users[admin.user_id]"> {{users[admin.user_id].email}}</span>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            {{admin.role}}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">

            <button @click="deleteAdmin({user_id : admin.user_id, form_id : admin.form_id})" class="button small red"
              v-if="admin.role != 'owner'" type="button">
              hapus
            </button>
          </td>
        </tr>

        <!-- More people... -->
      </tbody>
    </table>
      </div>
      </div>
      </div>
    <div class="relative mt-10 ">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-start">
        <span class="pr-3 bg-white text-lg font-medium text-gray-900">
          Embed Script
        </span>
      </div>
    </div>
    <span class="text-sm mt-3 text-gray-500">anda bisa menambahkan script seperti google analytics atau facebook pixel
      ke dalam form anda</span>
    <div class="mt-4">
      <label for="head" class="block text-sm font-medium text-gray-700">
        Head
      </label>
      <div class="mt-1">

  <span class="relative z-0 flex flex-wrap gap-1  shadow-sm rounded-md">
              <button v-for="(item) in Object.keys(snippet)" @click="clickButton(item,'head-script')"
                class="relative inline-flex items-center px-2 py-1 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500"
                :key="item">{{item}}</button>
            </span>
        <textarea @input="auto_grow('head-script')" v-model="data.head_script" id="head-script" name="head" rows="3"
          class="p-3 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
          placeholder=""></textarea>
      </div>
      <p class="mt-2 text-sm text-gray-500">
        script diletakkan sebelum {{ '</head>'}}
      </p>
    </div>
    <div class="mt-4">
      <label for="body" class="block text-sm font-medium text-gray-700">
        Body
      </label>
      <div class="mt-1">
      

        <textarea v-model="data.body_script" id="body" name="body" rows="3"
          class="p-3 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
          placeholder=""></textarea>
      </div>
      <p class="mt-2 text-sm text-gray-500">
        script diletakkan sebelum {{ '</body>'}}
      </p>
    </div>
    <div class="relative mt-10 mb-4">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-start">
        <span class="pr-3 bg-white text-lg font-medium text-gray-900">
          Daftar Status Transaksi
        </span>
      </div>
    </div> 
      <Multiselect  @tag="createNewTag"  :createTag="true"     :searchable="true"  placeholder="Daftar Status Transaksi" mode="tags" v-model="data.trx_status"
              :options="defaultStatus" />

    <!-- image uploader -->

    <!--  -->

    <!-- end form builder -->
  </div>


</template>

<script>

function debounce(func, wait, immediate) {
	var timeout;
	return function() {
		var context = this, args = arguments;
		var later = function() {
			timeout = null;
			if (!immediate) func.apply(context, args);
		};
		var callNow = immediate && !timeout;
		clearTimeout(timeout);
		timeout = setTimeout(later, wait);
		if (callNow) func.apply(context, args);
	};
};

  import QuillEditor from './QuillEditor.vue'
  import moment from 'moment'
  import ColorPicker from './ColorPicker'
  import HeroIconPicker from './HeroIconPicker'
  import SelectedIcon from './SelectedIcon'
  import ModalBox from '../ModalBox'
   import Multiselect from '@vueform/multiselect'
   import snippet from "./snippet"
  import {
    mdiTrashCan
  } from '@mdi/js'
  const {
    toast
  } = require('tailwind-toast')
  export default {
    components: {
      QuillEditor,
      ColorPicker,
      HeroIconPicker,
      SelectedIcon,
      Multiselect,
      ModalBox

    },
    props: {
      data: Object
    },
    setup() {
      return {
        mdiTrashCan,
        snippet
      }
    },
    data: () => ({
      defaultStatus : [ "dipesan", "dibayar", "diproses", "dikirim", "selesai","submit" ],
      new_user: '',
      domains: [],
      slug : '',
      active: false,
      admins: [],
      users: {}
    }),
    mounted() {
      if (this.domains.length == 0) {
        axios.get('/api/domain').then(response => {
          this.domains = response.data;
          
        })
      }

     

    

      if(localStorage.getItem("default_status"))
      {
        this.defaultStatus = JSON.parse(localStorage.getItem("default_status"))
      }

      this.loadAdmin();
    },
    methods: {
        auto_grow(id) {
           let element  = document.getElementById(id)
    element.style.height = "5px";
    element.style.height = (element.scrollHeight)+"px";
},
      reviewSlug : debounce(function(ref){
        
          if(!ref.target.value)
          {
            document.querySelector("#url-alert").innerHTML = `<small class="text-red-500">slug tidak boleh kosong</small>`
            return;
          }
          if(ref.target.value != this.data.slug)
          {
            axios.get("/api/forms/checkslug/"+ref.target.value).then(response=>{
                if(!response.data)
                {
                     
                    this.slug = ref.target.value;
                    document.querySelector("#url-alert").innerHTML = `<small class="text-green-500">url valid</small>`
                }else{
                  document.querySelector("#url-alert").innerHTML = `<small class="text-red-500">url telah digunakan</small>`
                }
            })
          }
      },300),
      createNewTag(item)
      { 
        this.defaultStatus.push(item)
        localStorage.setItem("default_status",JSON.stringify(this.defaultStatus))
      },
      deleteAdmin(data) {
        axios.post("/api/forms/admin-delete", data).then(response => {
          this.loadAdmin();
        })
      },
      loadAdmin() {
        axios.get("/api/forms/" + this.$route.params.id + "/admin").then(response => {
          this.admins = response.data.admins;
          response.data.users.forEach(item => {
            this.users[item.id] = item;
          });
        })
      },
      saveAdmin() {
        axios.post("/api/forms/" + this.$route.params.id + "/admin", {
          email: this.new_user
        }).then(response => {
          if (response.data == 'ok') {
            this.loadAdmin()
            toast()
              .default('Success!', 'Form telah disimpan!')
              .with({
                shape: 'pill',
                duration: 4000,
                speed: 1000,
                color: 'bg-green-600',
                fontColor: 'green',
                fontTone: 200
              }).show()
          }
        }, error => {
          toast()
            .default('Gagal!', 'User tidak ada!')
            .with({
              shape: 'pill',
              duration: 4000,
              speed: 1000,
              color: 'bg-red-600',
              fontColor: 'red',
              fontTone: 200
            }).show()
        });

      },
      resizeTextarea($event) {
        let text = $event.target;


        setTimeout(() => {
          if (text.scrollHeight < 408) {
            text.style.height = 'auto';
            text.style.height = text.scrollHeight + 'px';
          }

        }, 100)
      },
      hasField(type) {
        if (this.data.list_field)
          return this.data.list_field.find(item => {
            return item.type == type;
          })
        else return false;
      },
       clickButton(item,id) {

        let newText = this.snippet[item]

        console.log(newText)

        let el = document.getElementById(id);
       


        const start = el.selectionStart
        const end = el.selectionEnd
        const text = el.value
        const before = text.substring(0, start)
        const after = text.substring(end, text.length)
        el.value = (before + newText + after)
        el.selectionStart = el.selectionEnd = start + newText.length
        el.focus() 
        this.auto_grow(id)

      },
      uploadFunction(e) {

        //you can get images data in e.target.files
        //an single example for using formData to post to server


        var form = new FormData()
        form.append('folder', 'webinarclass-editor')
        form.append("image", e.target.files[0]);
        axios.post('https://image.maxgrabb.com/upload', form, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then(response => {
          this.data.socmed_thumbnail = response.data.url
        })

        //do your post


      },
    }
  }


</script>
