<template>
  <div class="w-full" v-click-outside="hideMenu">
      <div class="mt-1 flex rounded-md shadow-sm">
          <input
              type="text" 
              aria-autocomplete="off"
              :class="classProps"
              :placeholder="placeholder" 
              autocomplete="off"
              v-model="search"
              @input="fetchDataFromServer();" 
          />
      </div>
      <aside class="absolute z-10 flex flex-col items-start     bg-white border rounded-md shadow-md mt-1"
             role="menu" aria-labelledby="menu-heading" v-if="filteredList.length > 0 && showSearchItems == true">
          <ul class="flex flex-col w-full">
              <li
                  class="px-2 py-3 space-x-2 hover:bg-blue-600 hover:text-white focus:bg-blue-600 focus:text-white focus:outline-none "
                  v-for="(item, index) in filteredList"
                  :key="index"
                  @click="selectSearchItem(item); showSearchItems = false;">{{ item.subdistrict_name+', '+item.type+' '+item.city+' - '+item.province }}</li>
          </ul>
      </aside>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
//import './css/tailwind.css' // Development only
export default {
  name: "VueTailwindcssTypeahead",
  directives: {
      ClickOutside
  },
  props: {
      
      lists: {
        type: Array,
        default: []
      },
      ignoredList: {
        type: Array,
        default: []
      },
      clearInputWhenClicked: {
        type: Boolean,
        default: false
      },
      placeholder: {
        type: String,
        default: 'Search here...'
      },
       old_value: {
        type: String,
        default: ''
      },
      inputClass: {
        type: Array,
        default: ['w-full','px-5','py-3','border','border-gray-400','rounded-lg','outline-none','focus:shadow-outline']
      }
  },
  data() {
      return {
          search: "",
          selectedItem: "",
          showSearchItems: false,
          isMouseOverList: false,
          searchItemList: this.lists
      };
  },
  computed: {
      filteredList() {
        return this.searchItemList;
      },
      classProps() {
        return [...this.inputClass]
      }
  }, 
  methods: {
      fetchDataFromServer(){
          axios.get('https://cari-kecamatan.maxgrabb.com/search?q='+this.search).then(response=>{
              this.searchItemList = response.data;
              this.showSearchItems = true; 
          })
      },
      selectSearchItem(item) {
          this.search = item.subdistrict_name+', '+item.type+' '+item.city+' - '+item.province;
          this.selectedItem = item.subdistrict_name+', '+item.type+' '+item.city+' - '+item.province;
          this.showSearchItems = false;
          this.$emit('selected', item)
          if(this.clearInputWhenClicked){
              this.search = ''
          }
      },
      checkIgnoreListItem(itemId) {
          if(this.ignoredList.length > 0 ){
              const result = this.ignoredList.some(ignoreListItem => {
                  return ignoreListItem == itemId
              })
              return result
          }
          return false
      },
      hideMenu(){
          if(this.showSearchItems == true){
              this.showSearchItems = false
          }
      }
  }
};
</script>
