<template>
    <div v-if="active.name">
        {{active}}
    </div>
     <div v-else>
       belum aktif
    </div>
</template>
<script>
export default {
    props :{
        active : Object
    },
    setup() {
        
    },
}
</script>