<template>
    
    <ul>
        <li @click="$emit('picked',item)" v-for="item in lists" :key="item.name">
{{item.name}}
        </li>
    </ul>
</template>
<script>
export default {
    emits : ['picked'],
    setup() {
        let lists = [{
            name : "Abdul"
        },
        {
            name : "Noana"
        }]

         


        return{ 
            lists
        }
    },
}
</script>